@charset "UTF-8";
/* CSS Document */
body {
	font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color:#f6f6f6;
}

.guestHome {
	min-height: 431px !important;
}

.blueFC {
	color: #40C4FF;
}
.selectedDate {
	font-size: 12px;
}
.displayDate {
	font-size: 12px;
}
.openDatedTourDesc {
	font-size: 15px;
	margin-left: 13px;
	text-transform: capitalize;
}
.semi-grey-text {
	color:#546e7a;
	font-weight: 500;
}
.guestHome .calendarMargin {
	margin-left: 5%;
	margin-right: 5%;
}
.tourBooking .marginFromBothEnd {
	margin-left: 15%;
	margin-right: 15%;
}
.tourBooking .host-toursite-Logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media  (max-width: 767px) {
}
