<div class="hostHome container-fluid">
    <div id="bookings">
        <div class="row body-content">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="multiline-header home_add_tour fixed-in-div margin-bottom">
                    <i class="zmdi zmdi-shopping-cart heading-icn"></i>
                    <h2>Booking Detail<br>
                        <span class="sub_head">Booking ID:
                            <strong>{{vm.specificBookingDetails._id}}</strong>
                        </span>
                    </h2>
                    <a id="confirmBookingTopPanel" class="btn btn-primary pull-right" data-toggle="modal" ng-click="vm.askActionConfirmation(vm.specificBookingDetails.bookingStatus, '#confirmBookingTopPanel', '#confirm-confirmation')" ng-disabled="vm.specificBookingDetails.bookingStatus != 'Pending'">
                        <i class="zmdi zmdi-check-circle"></i>&nbsp;Confirm
                    </a>            
                </div>
                
                <div class="card">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom padding-top padding-bottom">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <h4>Booking Ref: 
                                <strong>{{vm.specificBookingDetails.bookingReference}}</strong>
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-bottom ">
                            <div class="redBookingCircle bookingcircle currency-icon pull-left margin-right padding-left" ng-show="vm.specificBookingDetails.bookingStatus == 'Declined'">
                                <i class="zmdi zmdi-calendar-close"></i>
                            </div>
                            <div class="orangeBookingCircle bookingcircle currency-icon pull-left margin-right padding-left" ng-show="vm.specificBookingDetails.bookingStatus == 'Pending'">
                                <i class="zmdi zmdi-time-interval"></i>
                            </div>
                            <div class="greenBookingCircle bookingcircle currency-icon pull-left margin-right padding-left" ng-show="vm.specificBookingDetails.bookingStatus == 'Confirmed'">
                                <i class="zmdi zmdi-case-check"></i>
                            </div>
                            <span class="block margin-top">{{vm.specificBookingDetails.bookingStatus}}</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom">
                            <div class="bookingcircle greyBookingcircle currency-icon pull-left margin-right">
                                <span class="">&#8377;</span>
                            </div>
                            <div class="">
                                <span class="block">Total amount</span>
                                <strong class="orange-text">{{vm.specificBookingDetails.totalAmountPaid}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top padding-bottom border-bottom">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center margin-bottom">
                            <img src="modules/hosts/client/images/man-in-hike.png" alt="hike">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 white booking-details-list">
                            <ul class="cleared">
                                <li>
                                    <span class="content-primary">Tour</span>
                                    <span class="content-secondary">{{vm.specificBookingDetails.product.productTitle}}</span>
                                </li>    
                                <li>
                                    <span class="content-primary">Availability</span>
                                    <span class="content-secondary">{{vm.specificBookingDetails.product.productAvailabilityType}}</span>
                                </li>
                                <li>
                                    <span class="content-primary">Start Date</span>
                                    <span class="content-secondary">{{vm.specificBookingDetails.isOpenDateTour == true ? vm.getDisplayDate(vm.specificBookingDetails.openDatedTourDepartureDate) : vm.getDisplayDate(vm.specificBookingDetails.productSession.sessionDepartureDetails.startDate)}}</span>
                                </li>
                                <li>
                                    <span class="content-primary">Seats</span>
                                    <span class="content-secondary">{{vm.specificBookingDetails.numberOfBookings}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top padding-bottom">
                        <br>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom">
                            <div class="bookingcircle greyBookingcircle currency-icon pull-left margin-right">
                                <i class="zmdi zmdi-account"></i>
                            </div>
                            <div>
                                <span class="block">
                                    <strong>Primary Guest</strong>
                                </span>{{vm.specificBookingDetails.providedGuestDetails.firstName}}
                                  {{vm.specificBookingDetails.providedGuestDetails.lastName}}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom ">
                            <div class="icn-big-booking-details">
                                <i class="zmdi zmdi-smartphone-android"></i>
                            </div>
                            <div class="">
                                <span class="block">
                                    <strong>Mobile</strong>
                                </span>
                                <a href="tel:+919867101299">{{vm.specificBookingDetails.providedGuestDetails.mobile}}</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom">
                            <div class="icn-big-booking-details">
                                <i class="zmdi zmdi-email"></i>
                            </div>
                            <div class="">
                                <span class="block">
                                    <strong>Email</strong>
                                </span>
                                <a href="mailto:gasharma@gmail.com">{{vm.getEmailIdToDisplay(vm.specificBookingDetails.providedGuestDetails.email)}}</a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row">    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top text-center">
                        <a id="declineBooking" class="btn btn-default margin-right" data-toggle="modal" ng-click="vm.askActionConfirmation(vm.specificBookingDetails.bookingStatus, '#declineBooking', '#decline-confirmation')" ng-disabled="vm.specificBookingDetails.bookingStatus != 'Pending'">Decline</a>                  
                        
                        <a id="confirmBooking" class="btn btn-primary margin-right" data-toggle="modal" ng-click="vm.askActionConfirmation(vm.specificBookingDetails.bookingStatus, '#confirmBooking' , '#confirm-confirmation')" ng-disabled="vm.specificBookingDetails.bookingStatus != 'Pending'">
                            <i class="zmdi zmdi-check-circle"></i>&nbsp;Confirm
                        </a>
                        <a ui-sref="host.allBookings" class="pull-right"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Bookings </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top text-center">
                        <p class="sub_desc">
                            <i class="zmdi zmdi-lamp icn_orange"></i> When you confirm this booking, Guest will be charged for amount and confirmation email will be sent.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="decline-confirmation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Decline booking</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to decline this booking? Please note that if you decline this booking, no amount
                    will be charged to guest</p>
                <a ng-click="vm.modifyBooking('Declined')" class="btn btn-default pull-left margin-right btn-sm">Decline</a>
                <a onclick="closeModal('#decline-confirmation')" class="btn btn-warning btn-sm margin-bottom">No</a> 
                <textarea class="form-control margin-top" placeholder="Additional comments" ng-model="vm.bookingComments"></textarea>  
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="confirm-confirmation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm booking</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to confirm this booking? Please note that amount
                    will be charged to guest only after you confirm this booking, </p>
                <a ng-click="vm.modifyBooking('Confirmed')" class="btn btn-warning pull-left margin-right btn-sm">Confirm</a>
                <a onclick="closeModal('#confirm-confirmation')" class="btn btn-default btn-sm margin-bottom">No</a> 
                <textarea class="form-control margin-top" placeholder="Additional comments" ng-model="vm.bookingComments"></textarea>  
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function closeModal(modalId) {
        $(modalId).fadeOut('slow');
        $('.modal-backdrop').remove();
    }
</script>
  
