<div class="hostHome container-fluid" id="bookingTab">
	<div id="bookings" >
		<div class="row body-content">
			<div class="col-md-12 col-sm-12 col-lg-12">
				<div class="multiline-header home_add_tour fixed-in-div margin-bottom">
					<i class="zmdi zmdi-shopping-cart heading-icn"></i>
					<h2>Bookings<br><span class="sub_head">showing</span><span class="sub_head no_of_tours">&nbsp;{{vm.bookings.length}}&nbsp;</span><span class="sub_head">bookings</span></h2>                         
					<div class="pull-right">
                    	<a class="btn btn-primary pull-right" data-toggle="modal" data-target="#select-tour-type"><i class="zmdi zmdi-search"></i>&nbsp;Search</a>
                    	<input type="text" class="form-control" placeholder="Booking Reference" ng-model="searchBooking">   
                	</div>    
				</div>
                            
                <div class="booking-filters">
                    <div class="margin padding text-center">
                        <div id="filter-dropdown" class="dropdown">
                        	<h4><i class="zmdi zmdi-filter-list icn_orange"></i>&nbsp;Filter By:</h4>
	                        <a href="#" id="filter-dropdown-button" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" role="button" aria-haspopup="true" aria-expanded="false">Booking Status </i><i class="fa fa-caret-up pull-right" aria-hidden="true" style="margin-left: -10px; margin-top: -1px;"></i> <i class="fa fa-caret-down pull-right" aria-hidden="true" style="margin-top: 7px"></i></a>
							<div class="dropdown-menu" id="filter-options">
								<div class="row">
									<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="o-checkbox">
											<input type="checkbox" value="None" name="" id="filter-checkbox-one" class="" ng-model="vm.selectedFiltersForBookingRecords[0]">
											<label for="filter-checkbox-one"></label>
											<span class="filterName">Pending</span>
										</div>
								    </div>
								    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="o-checkbox">
											<input type="checkbox" value="None" name="" id="filter-checkbox-two" class="" ng-model="vm.selectedFiltersForBookingRecords[1]">
											<label for="filter-checkbox-two"></label>
											<span class="filterName">Confirmed</span>
										</div>
								    </div>
								    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 10px;">
										<div class="o-checkbox">
											<input type="checkbox" value="None" name="" id="filter-checkbox-three" class="" ng-model="vm.selectedFiltersForBookingRecords[2]">
											<label for="filter-checkbox-three"></label>
											<span class="filterName">Declined</span>
										</div>
								    </div>
								    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 10px;">
										<div class="o-checkbox">
											<input type="checkbox" value="None" name="" id="filter-checkbox-four" class="" ng-model="vm.selectedFiltersForBookingRecords[3]">
											<label for="filter-checkbox-four"></label>
											<span class="filterName">Cancelled</span>
										</div>
								    </div>
								    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 10px;">
										<div class="o-checkbox">
											<input type="checkbox" value="None" name="" id="filter-checkbox-five" class="" ng-model="vm.selectedFiltersForBookingRecords[4]">
											<label for="filter-checkbox-five"></label>
											<span class="filterName">Expired</span>
										</div>
								    </div>
							    </div>
							    <div class="row">
								    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 30px;">
										<button type="button" class="btn btn-warning btn-Select-filter" ng-click="vm.applySelectedFiltersOnBookingRecords()">Apply Filters</button>
								    </div>
								    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 30px;">
										<button type="button" class="btn btn-default btn-clear-filter" ng-click="vm.clearAllFilterOnBookingRecords()">Clear Filters</button>
								    </div>
							    </div>
							    <div class="row">
							    	<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  style="margin-top: 30px;">
								    	<div class="o-checkbox">
										    <input type="checkbox" value="None" name="" id="remember-filters" class="" ng-change="vm.setFilterPreferences()" ng-model="vm.rememberFilterPreferences">
											<label for="remember-filters"></label>
											<span class="filterName">Remember my filter preferences</span>
										</div>
									</div>
							    </div>
							</div>
						</div>
                    </div>
                </div>
                
                <div ng-repeat="booking in vm.bookings">   
					<div class="card">
	                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom margin-bottom padding-top padding-bottom">
	                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	                            <h4>Booking Ref: <strong>{{booking.bookingReference}}</strong></h4>
	                        </div>
	                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	                            <a href="#" class="pull-right booking-user">
	                            	<img alt="user image" src="{{booking.user.profileImageURL != undefined ? booking.user.profileImageURL : 'modules/users/client/img/profile/default.png'}}" class="margin-right booking-user-image">{{booking.providedGuestDetails.firstName.length + booking.providedGuestDetails.lastName.length > 15 ? booking.providedGuestDetails.firstName : booking.providedGuestDetails.firstName + '&nbsp;' + booking.providedGuestDetails.lastName}}
	                            </a>
	                        </div>
	                    </div>
	                    <div id="bookingCard" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top">
	                        <div class="col-lg-2 text-center margin-bottom">
	                            <div class="redBookingCircle bookingcircle booking-status-icon margin-auto" ng-show="booking.bookingStatus == 'Declined'">
	                                <i class="zmdi zmdi-calendar-close margin-top"></i>
	                            </div>
	                           
	                            <div class="orangeBookingCircle bookingcircle booking-status-icon margin-auto" ng-show="booking.bookingStatus == 'Pending'">
	                            	<i class="zmdi zmdi-time-interval margin-top"></i>
	                           	</div>
	                           	<div class="greenBookingCircle bookingcircle booking-status-icon margin-auto" ng-show="booking.bookingStatus == 'Confirmed'">
	                               	<i class="zmdi zmdi-case-check margin-top"></i>
	                           	</div>

	                            <span class="sub_desc">{{booking.bookingStatus}}</span>
	                        </div>
	                        <div ng-class="vm.getCSSClassForBigScreens()">
	                            <ul class="cleared">
	                                <li><span class="content-primary">Created on</span>
	                                    <span class="content-secondary">{{vm.getDisplayDate(booking.created)}}</span></li>    
	                                <li><span class="content-primary">Tour</span>
	                                    <span class="content-secondary">{{booking.product.productTitle}}</span></li>
	                                <li><span class="content-primary">Departure</span>
	                                    <span class="content-secondary">{{booking.isOpenDateTour == true ? vm.getDisplayDate(booking.openDatedTourDepartureDate) : vm.getDisplayDate(booking.productSession.sessionDepartureDetails.startDate)}}</span></li>
	                                <li><span class="content-primary">No. of seats</span>
	                                    <span class="content-secondary">{{booking.numberOfBookings}}</span></li>
	                                <li><span class="content-primary">Total Amount</span>
	                                    <span class="content-secondary"><strong class="orange-text">{{booking.totalAmountPaid}}</strong></span></li>
	                            </ul>
	                        </div>
	                    </div>
	                    <a id="anchorTagForBookingDetails" href="#" ng-click="vm.goToBookingDetailScreen($index)" class="gotToBookingDetails"> Go to Details </a>
					</div>
				 </div>
				 <div class="row text-center">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="pagination" ng-if="vm.bookings.length > 0">
							<a href="#" ng-click="vm.decrementWindowSize()" style="margin-right: 5px;">&laquo;</a>
							<a href="#" ng-click="vm.decrementPageNumber()" style="margin-right: 10px;">&lsaquo;</a>
							<a href="#" ng-if="vm.totalPages > vm.paginationWindow && !vm.showAtLast" ng-click="vm.changePageNumber(0)"> 1 </a>
							<a ng-if="vm.totalPages > vm.paginationWindow && !vm.showAtLast">...</a>
							<a href="#" ng-repeat="page in vm.pageCounterArray.slice(vm.pageFrom,vm.pageTo) track by $index" ng-class="{active: vm.pageFrom + $index + 1 == vm.currentPageNumber}" ng-click="vm.changePageNumber(vm.pageFrom + $index)">{{vm.pageFrom + $index + 1}}</a>
							<a ng-if="vm.totalPages > vm.paginationWindow && vm.showAtLast">...</a>
							<a href="#" ng-if="vm.totalPages > vm.paginationWindow && vm.showAtLast" ng-click="vm.changePageNumber(vm.totalPages - 1)"> {{vm.totalPages}} </a>
							
							<a href="#" ng-click="vm.incrementPageNumber()" style="margin-left: 10px;">&rsaquo;</a>
							<a href="#" ng-click="vm.incrementWindowSize()" style="margin-left: 5px;">&raquo;</a>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12" ng-if="vm.bookings.length > 0">
						<span> Show &nbsp; 
							<select ng-model="vm.numberOfItemsInOnePage" ng-change="vm.changeItemsPerPage(vm.numberOfItemsInOnePage)">
								<option value="5">5</option>
								<option value="10">10</option>
							</select>
							&nbsp; bookings per page
						</span>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12" ng-if="vm.bookings.length == 0">
						<span> No Booking Records found </span>
					</div>
				</div>
            </div>
		</div>
	</div>
</div>
<script type="text/javascript" src="lib/scripts-inside-html/js/multiselect.js"></script>

<script>
	$(document).ready(function() {
		$('#categoryKey').multiselect({
			nonSelectedText: 'Select Category'
		});
	});
	if (window.innerWidth <= 767) {
		$('#anchorTagForBookingDetails').hide();
		$('#bookingCard').attr("ng-click", "vm.goToBookingDetailScreen($index)");
		$('#bookingCard').attr("style", "cursor:pointer");
	}
</script>

<script>
	$(document).ready(function() {
	    $(this).scrollTop(0);
	    $('#loadingDiv').css('display', 'none');
	    $('#filter-dropdown-button').css("border-bottom-color","lightgrey")
		$('#filter-dropdown-button').css("border-bottom-right-radius", "3px");
		$('#filter-dropdown-button').css("border-bottom-left-radius", "3px");
		checkedOnce = true;
	});
	var checkedOnce = false;
	/*ulta work kar raha */
	$('#filter-dropdown-button').on('click', function(event) {
		checkedOnce = false;
		if ($("#filter-dropdown").hasClass("open")) {
			checkedOnce = true;
			$('#filter-dropdown-button').css("border-bottom-color","lightgrey")
			$('#filter-dropdown-button').css("border-bottom-right-radius", "3px");
			$('#filter-dropdown-button').css("border-bottom-left-radius", "3px");
		} else {
			$('#filter-dropdown-button').css("border-bottom-color","transparent");
			$('#filter-dropdown-button').css("border-bottom-right-radius", "0px");
			$('#filter-dropdown-button').css("border-bottom-left-radius", "0px");
		}
	});

	$('#filter-options').on('click', function(event) {
	   	event.stopPropagation();
	});

	$(document).on("click","#bookingTab",function() {
		if(!checkedOnce) {
		    if ($("#filter-dropdown").hasClass("open")) {
				$('#filter-dropdown-button').css("border-bottom-color","lightgrey")
				$('#filter-dropdown-button').css("border-bottom-right-radius", "3px");
				$('#filter-dropdown-button').css("border-bottom-left-radius", "3px");
				checkedOnce = true;
			} else {
				$('#filter-dropdown-button').css("border-bottom-color","transparent");
				$('#filter-dropdown-button').css("border-bottom-right-radius", "0px");
				$('#filter-dropdown-button').css("border-bottom-left-radius", "0px");
				checkedOnce = true;
			}
		}
	});

	function changeCSSForBookingFilterButton() {
		$('#filter-dropdown-button').css("border-bottom-color","lightgrey")
		$('#filter-dropdown-button').css("border-bottom-right-radius", "3px");
		$('#filter-dropdown-button').css("border-bottom-left-radius", "3px");
	}
</script>
	
