<div class="hostHome container-fluid">
	<div id="bookings" >
		<div class="row body-content">
			<div class="col-md-12 col-sm-12 col-lg-12">
				<div class="multiline-header home_add_tour fixed-in-div margin-bottom">
					<i class="zmdi zmdi-shopping-cart heading-icn"></i>
					<h2>Bookings<br><span class="sub_head">showing</span><span class="sub_head no_of_tours">&nbsp;{{vm.bookings.length}}&nbsp;</span><span class="sub_head">bookings</span></h2>                         
					<div class="pull-right">
                    	<a class="btn btn-primary pull-right" data-toggle="modal" data-target="#select-tour-type"><i class="zmdi zmdi-search"></i>&nbsp;Search</a>
                    	<input type="text" class="form-control" placeholder="Booking Reference">   
                	</div>    
				</div>
                            
                <div class="booking-filters">
                    <div class="margin padding text-center">
                        <h4><i class="zmdi zmdi-filter-list icn_orange"></i>&nbsp;Show By:</h4>
                        <select id="categoryKey" multiple="multiple" class="categoryKeysSelector" ng-model="vm.selectedCategorizedKeys" ng-change="vm.getCategorizedBookings()">
                            <option value="Pending">Pending</option>
                            <option value="Confirmed">Confirmed</option>
                            <option value="Declined">Declined</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Expired">Expired</option>
                    	</select>
                    </div>
                </div>
                
                <div ng-repeat="booking in vm.bookings track by $index">   
					<div class="card">
	                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom margin-bottom padding-top padding-bottom">
	                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	                            <h4>Booking Ref: <strong>{{booking.bookingReference}}</strong></h4>
	                        </div>
	                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	                            <a href="#" class="pull-right booking-user">
	                            	<img alt="user image" src="{{booking.user.profileImageURL}}" class="margin-right booking-user-image">{{booking.user.displayName.length > 15 ? booking.user.firstName : booking.user.displayName}}
	                            </a>
	                        </div>
	                    </div>
	                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top">
	                        <div class="col-lg-2 text-center margin-bottom">
	                            <div class="redBookingCircle bookingcircle booking-status-icon margin-auto" ng-show="booking.bookingStatus == 'Declined'">
	                                <i class="zmdi zmdi-calendar-close margin-top"></i>
	                            </div>
	                           
	                            <div class="orangeBookingCircle bookingcircle booking-status-icon margin-auto" ng-show="booking.bookingStatus == 'Pending'">
	                            	<i class="zmdi zmdi-time-interval margin-top"></i>
	                           	</div>
	                           	<div class="greenBookingCircle bookingcircle booking-status-icon margin-auto" ng-show="booking.bookingStatus == 'Confirmed'">
	                               	<i class="zmdi zmdi-case-check margin-top"></i>
	                           	</div>

	                            <span class="sub_desc">{{booking.bookingStatus}}</span>
	                        </div>
	                        <div class="col-lg-6">
	                            <ul class="cleared">
	                                <li><span class="content-primary">Created on</span>
	                                    <span class="content-secondary">{{vm.getDisplayDate(booking.created)}}</span></li>    
	                                <li><span class="content-primary">Tour</span>
	                                    <span class="content-secondary">{{booking.product.productTitle}}</span></li>
	                                <li><span class="content-primary">Departure</span>
	                                    <span class="content-secondary">{{booking.isOpenDateTour == true ? vm.getDisplayDate(booking.openDatedTourDepartureDate) : vm.getDisplayDate(booking.productSession.sessionDepartureDetails.startDate)}}</span></li>
	                                <li><span class="content-primary">No. of seats</span>
	                                    <span class="content-secondary">{{booking.numberOfBookings}}</span></li>
	                                <li><span class="content-primary">Total Amount</span>
	                                    <span class="content-secondary"><strong class="orange-text">{{booking.totalAmountPaid}}</strong></span></li>
	                            </ul>
	                        </div>
	                    </div>
	                    <a href="#" ng-click="vm.goToBookingDetailScreen($index)" class="gotToBookingDetails"> Go to Details </a>
					</div>
				 </div> 
            </div>
		</div>
	</div>
</div>
<script type="text/javascript" src="lib/scripts-inside-html/js/multiselect.js"></script>

<script>
	$(document).ready(function() {
		$('#categoryKey').multiselect({
			nonSelectedText: 'Select Category'
		});
	});
</script>
	
