<div class="hostHome container-fluid" id="bookingTab">
	<div id="bookings" >
		<div class="row body-content">
			<div class="col-md-12 col-sm-12 col-lg-12">
				<div class="multiline-header home_add_tour fixed-in-div margin-bottom">
					<i class="zmdi zmdi-shopping-cart heading-icn"></i>
					<h2 ng-if="vm.bookings.length > 0">Bookings<br>
						<span class="sub_head">showing</span>
						<span class="sub_head no_of_tours">{{vm.bookings.length}}</span>
						<span class="sub_head" ng-if="vm.bookings.length > 1">bookings</span>
						<span class="sub_head" ng-if="vm.bookings.length == 1">bookings</span>
					</h2>
					<h2 ng-if="vm.bookings.length == 0">Bookings<br>
						<span class="sub_head">No bookings</span>
					</h2>                           
				
				</div>                     
                <div class="row booking-list-version-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="nav-bookings padding-top padding-bottom pull-left margin-none-left padding-none-left margin-none-bottom">
                            <li id="allBookings" class="inline-block margin-right active">
                            	<a href="" ng-click="vm.categorizedBooking('All', true)" onclick="showLoaderForFilters('#allBookings')">All</a>
                            </li>
                            <li id="pendingBookings" class="inline-block margin-right">
                            	<a href="#" ng-click="vm.categorizedBooking('Pending', true)" onclick="showLoaderForFilters('#pendingBookings')">Pending</a>
                            </li>
                            <li id="confirmedBookings" class="inline-block margin-right">
                            	<a href="#" ng-click="vm.categorizedBooking('Confirmed', true)" onclick="showLoaderForFilters('#confirmedBookings')">Confirmed</a>
                            </li>
                            <li id="cancelledBookings" class="inline-block margin-right">
                            	<a href="#" ng-click="vm.categorizedBooking('Cancelled', true)" onclick="showLoaderForFilters('#cancelledBookings')">Cancelled</a>
                            </li>
                        </ul>
                            
                        <div class="padding-top padding-bottom cardOrList">
                            <a class="card-layout-cta active margin-right" href="#"><i class="zmdi zmdi-view-agenda"></i> Cards</a>
                            <a class="table-layout-cta" href="#"><i class="zmdi zmdi-grid"></i> Table</a></li>
                        </div>
                    </div>
                                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom booking-list-filters">
                        <div class="divider-common margin-bottom"></div>
                      	<form class="pull-left">
                            <!-- <div class="dropdown pull-left margin-right margin-bottom">
                                <a class="btn btn-default outline dropdown-toggle" data-toggle="dropdown">Filter bookings
                                    <span class="caret margin-left"></span>
                                </a>
                                <div class="dropdown-menu apply-filters-callout padding">
                                    <div class="filters">
                                        <select class="form-control margin-bottom">
                                            <option value="volvo">Select a value</option>
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="mercedes">Mercedes</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                        <select class="form-control margin-bottom">
                                        	<option value="volvo">Select a value</option>
                                          	<option value="volvo">Volvo</option>
                                          	<option value="saab">Saab</option>
                                          	<option value="mercedes">Mercedes</option>
                                          	<option value="audi">Audi</option>
                                        </select>
                                        <a href="#" class="btn btn-primary btn-apply-filters">Add filters</a>
                                    </div>
                                </div>
                        	</div> -->
                        		
                            <div class="bookings-search pull-left margin-bottom" ng-if="vm.bookings.length > 0">
                                <input type="text" class="form-control booking-search-input" placeholder="Search by Booking ID" ng-model="vm.BookingReferenceToBeSearched">   
                                <a class="btn btn-default margin-left" ng-click="vm.searchThisBooking(vm.BookingReferenceToBeSearched)">
                                	<i class="zmdi zmdi-search"></i>&nbsp;<span>Search</span>
                                </a>
                            </div>
                                
                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class="applied-filters label label-default pull-left margin-right padding">
                                Volvo
                                	<a href="#" class="remove-filter margin-left">
                                		<i class="zmdi zmdi-close"></i>
                                	</a>
                                </span>
                                <span class="applied-filters label label-default pull-left margin-right padding">
                                Benz
                                	<a href="#" class="remove-filter margin-left">
                                		<i class="zmdi zmdi-close"></i>
                                	</a>
                                </span>
                            </div> -->
                    	</form>
                    </div>
                </div>
                <div class="card-layout">
					<div class="card margin-top" ng-repeat="booking in vm.bookings">
                        <div ng-click="vm.goToBookingDetails(booking._id)">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom margin-bottom padding-top padding-bottom">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 booking-ref">
                                    <h5>Booking ID: <strong>{{booking.bookingReference}}</strong></h5>
                                </div>
                               	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 booking-user-parent">
                                 	<a href="#" class="pull-right booking-user">
                                 		<img alt="user image" src="{{booking.user.profileImageURL != undefined ? booking.user.profileImageURL : 'modules/users/client/img/profile/default.png'}}" class="margin-right booking-user-image">{{booking.providedGuestDetails.firstName.length + booking.providedGuestDetails.lastName.length > 15 ? booking.providedGuestDetails.firstName : booking.providedGuestDetails.firstName + '&nbsp;' + booking.providedGuestDetails.lastName}}
                                 	</a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top">
                                <div class="col-lg-2 text-center margin-bottom">
                                    <div class="bg_orange circle booking-status-icon margin-auto" ng-if="booking.bookingStatus == 'Pending'">
                                        <i class="zmdi zmdi-calendar-close margin-top"></i>
                                    </div>
                                    <div class="bg_red circle booking-status-icon margin-auto" ng-if="booking.bookingStatus == 'Declined'">
                                        <i class="zmdi zmdi-calendar-close margin-top"></i>
                                    </div>
                                    <div class="bg_green circle booking-status-icon margin-auto" ng-if="booking.bookingStatus == 'Confirmed'">
                                        <i class="zmdi zmdi-calendar-close margin-top"></i>
                                    </div>
                                    <div class="bg_grey circle booking-status-icon margin-auto" ng-if="booking.bookingStatus == 'Cancelled'">
                                        <i class="zmdi zmdi-calendar-close margin-top"></i>
                                    </div>
                                    <br>
                                    <span class="sub_desc">{{booking.bookingStatus}}</span>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="cleared card-booking-details margin-top">
                                    	<li>
                                    		<span class="content-primary">Created on</span>
                                           	<span class="content-secondary">{{vm.getDisplayDate(booking.created)}}</span>
                                        </li>    
                                       	<li>
                                       		<span class="content-primary">Tour</span>
                                           	<span class="content-secondary">{{booking.product.productTitle}}</span>
                                        </li>
                                       	<li>
                                       		<span class="content-primary">Departure</span>
                                           	<span class="content-secondary">{{booking.isOpenDateTour == true ? booking.openDatedTourDepartureDate : vm.getDisplayDate(booking.productSession.sessionDepartureDetails.startDate)}} {{booking.actualSessionTime != 'No Time' ? booking.actualSessionTime : ''}}</span>
                                        </li>
                                       	<li>
                                       		<span class="content-primary">No. of seats</span>
                                           	<span class="content-secondary">{{booking.numberOfSeats}}</span>
                                        </li>
                                       	<li>
                                       		<span class="content-primary">Amount</span>
                                           	<span class="content-secondary"><strong class="orange-text">{{booking.totalAmountPaid}}</strong></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
                <div class="list-layout hide" id="listViewOfBookings">
                    <div class="card table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th># Id</th>
                                    <th>Name</th>
                                    <th>Created on</th>
                                    <th>Tour</th>
                                    <th>Departure</th>
                                    <th># Seats</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="booking in vm.bookings">
                                    <td><a href="#" ng-click="vm.goToBookingDetails(booking._id)">{{booking.bookingReference}}</a></td>
                                    <td>{{booking.providedGuestDetails.firstName.length + booking.providedGuestDetails.lastName.length > 15 ? booking.providedGuestDetails.firstName : booking.providedGuestDetails.firstName + '&nbsp;' + booking.providedGuestDetails.lastName}}</td>
                                    <td>{{vm.getDisplayDate(booking.created)}}</td>
                                    <td>{{booking.product.productTitle}}</td>
                                    <td>{{booking.isOpenDateTour == true ? vm.getDisplayDate(booking.openDatedTourDepartureDate) : vm.getDisplayDate(booking.actualSessionDate)}}</td>
                                    <td>{{booking.numberOfSeats}}</td>
                                    <td>{{booking.totalAmountPaid}}</td>
                                    <td ng-if="booking.bookingStatus == 'Pending'"><i class="zmdi zmdi-circle orange-text"></i></td>
                                    <td ng-if="booking.bookingStatus == 'Confirmed'"><i class="zmdi zmdi-circle green-text"></i></td>
                                    <td ng-if="booking.bookingStatus == 'Declined'"><i class="zmdi zmdi-circle red-text"></i></td>
                                    <td ng-if="booking.bookingStatus == 'Cancelled'"><i class="zmdi zmdi-circle grey-text"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
				<div class="row text-center">
					<div class="col-sm-12 col-md-12 col-lg-12" ng-if="vm.pageTo > 1">
						<div class="pagination">
							<a href="#" ng-click="vm.decrementWindowSize()" style="margin-right: 5px;">&laquo;</a>
							<a href="#" ng-click="vm.decrementPageNumber()" style="margin-right: 10px;">&lsaquo;</a>
							<a href="#" ng-if="vm.totalPages > vm.paginationWindow && !vm.showAtLast" ng-click="vm.changePageNumber(0)"> 1 </a>
							<a ng-if="vm.totalPages > vm.paginationWindow && !vm.showAtLast">...</a>
							<a href="#" ng-repeat="page in vm.pageCounterArray.slice(vm.pageFrom,vm.pageTo) track by $index" ng-class="{active: vm.pageFrom + $index + 1 == vm.currentPageNumber}" ng-click="vm.changePageNumber(vm.pageFrom + $index)">{{vm.pageFrom + $index + 1}}</a>
							<a ng-if="vm.totalPages > vm.paginationWindow && vm.showAtLast">...</a>
							<a href="#" ng-if="vm.totalPages > vm.paginationWindow && vm.showAtLast" ng-click="vm.changePageNumber(vm.totalPages - 1)"> {{vm.totalPages}} </a>
							
							<a href="#" ng-click="vm.incrementPageNumber()" style="margin-left: 10px;">&rsaquo;</a>
							<a href="#" ng-click="vm.incrementWindowSize()" style="margin-left: 5px;">&raquo;</a>
						</div>
					</div>
					<br>
					<div class="col-sm-12 col-md-12 col-lg-12" ng-if="vm.bookings.length > 0">
						<span> Show &nbsp; 
							<select ng-model="vm.numberOfItemsInOnePage" ng-change="vm.changeItemsPerPage(vm.numberOfItemsInOnePage)">
								<option value="5">5</option>
								<option value="10">10</option>
							</select>
							&nbsp; bookings per page
						</span>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12 empty-data-Image-one" ng-if="vm.bookings.length == 0 && !vm.filterApplied && vm.noSearchQueryFired">
						<span> <h3> Manage Your Bookings </h3></span>
                        <span> <h4> This is where you process and track bookings </h4> </span>
                        <img src="/modules/core/client/img/assets/empty_state_one.png">
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12 empty-data-Image-one" ng-if="vm.bookings.length == 0 && (vm.filterApplied || !vm.noSearchQueryFired)">
						<span> <h2> No bookings found </h2></span>
					</div>
				</div>
            </div>
		</div>
	</div>
</div>
<!--<div id="bookingFilterMobileModal" class="modal bookingFilterMobileModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content bookingFilterMobileModalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#bookingFilterMobileModal').toggle('slow')"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select the filter optionss!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
					<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="o-checkbox">
							<input type="checkbox" value="None" name="" id="filter-checkbox-one" class="" ng-model="vm.selectedFiltersForBookingRecords[0]">
							<label for="filter-checkbox-one"></label>
							<span class="filterName">Pending</span>
						</div>
				    </div>
				    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="o-checkbox">
							<input type="checkbox" value="None" name="" id="filter-checkbox-two" class="" ng-model="vm.selectedFiltersForBookingRecords[1]">
							<label for="filter-checkbox-two"></label>
							<span class="filterName">Confirmed</span>
						</div>
				    </div>
				    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px;">
						<div class="o-checkbox">
							<input type="checkbox" value="None" name="" id="filter-checkbox-three" class="" ng-model="vm.selectedFiltersForBookingRecords[2]">
							<label for="filter-checkbox-three"></label>
							<span class="filterName">Declined</span>
						</div>
				    </div>
				    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px;">
						<div class="o-checkbox">
							<input type="checkbox" value="None" name="" id="filter-checkbox-four" class="" ng-model="vm.selectedFiltersForBookingRecords[3]">
							<label for="filter-checkbox-four"></label>
							<span class="filterName">Canceled</span>
						</div>
				    </div>
				    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px;">
						<div class="o-checkbox">
							<input type="checkbox" value="None" name="" id="filter-checkbox-five" class="" ng-model="vm.selectedFiltersForBookingRecords[4]">
							<label for="filter-checkbox-five"></label>
							<span class="filterName">Expired</span>
						</div>
				    </div>
			    </div>
            </div>
            <div class="modal-footer modalFooterContent">
                <div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
						<button type="button" class="btn btn-warning btn-Select-filter" ng-click="vm.applySelectedFiltersOnBookingRecords()">Apply Filters</button>
				    </div>
				    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
						<button type="button" class="btn btn-default btn-Clear-filter" ng-click="vm.clearAllFilterOnBookingRecords()">Clear Filters</button>
				    </div>
			    </div>
			    <div class="row">
			    	<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 RememberFilters"  style="margin-top: 30px;">
				    	<div class="o-checkbox">
						    <input type="checkbox" value="None" name="" id="remember-filters" class="" ng-change="vm.setFilterPreferences()" ng-model="vm.rememberFilterPreferences">
							<label for="remember-filters"></label>
							<span class="filterName">Remember my filter preferences</span>
						</div>
					</div>
			    </div>
            </div>
        </div>
    </div>
</div> -->
<script type="text/javascript" src="lib/scripts-inside-html/js/multiselect.js"></script>

<script>
	$(document).ready(function() {
		$('#categoryKey').multiselect({
			nonSelectedText: 'Select Category'
		});
	});
	if (window.innerWidth <= 767) {
		$('#anchorTagForBookingDetails').hide();
		$('#bookingCard').attr("ng-click", "vm.goToBookingDetailScreen($index)");
		$('#bookingCard').attr("style", "cursor:pointer");
	}
</script>

<script>
	$(document).ready(function() {
	    $(this).scrollTop(0);
	    $('#loadingDiv').css('display', 'none');
	    $('#filter-dropdown-button').css("border-bottom-color","lightgrey")
		$('#filter-dropdown-button').css("border-bottom-right-radius", "3px");
		$('#filter-dropdown-button').css("border-bottom-left-radius", "3px");
        $("#allBookings").click();
	});
	$(document).on("click", "#filter-dropdown-button", function(event) {
		if ($("#filter-dropdown").hasClass("open")) {
			$('#filter-dropdown-button').css("border-bottom-color","transparent");
			$('#filter-dropdown-button').css("border-bottom-right-radius", "0px");
			$('#filter-dropdown-button').css("border-bottom-left-radius", "0px");
		} else {
			$('#filter-dropdown-button').css("border-bottom-color","lightgrey")
			$('#filter-dropdown-button').css("border-bottom-right-radius", "3px");
			$('#filter-dropdown-button').css("border-bottom-left-radius", "3px");
		}
	});

	$(document).on("click", "#filter-options", function(event) {
	   	event.stopPropagation();
	});

	$(document).on("click", function(event) {
	   	$('#filter-dropdown-button').css("border-bottom-color","lightgrey")
		$('#filter-dropdown-button').css("border-bottom-right-radius", "3px");
		$('#filter-dropdown-button').css("border-bottom-left-radius", "3px");
	});

	function changeCSSForBookingFilterButton() {
		$('#filter-dropdown-button').css("border-bottom-color","lightgrey")
		$('#filter-dropdown-button').css("border-bottom-right-radius", "3px");
		$('#filter-dropdown-button').css("border-bottom-left-radius", "3px");
	}

	if (window.innerWidth < 767) {
		$(".booking-filters .fa").css("display", "none");
		$("#filter-dropdown-button").attr("data-toggle", "");
	}
	$(document).on("click", "#filter-dropdown-button", function() {
		if (window.innerWidth < 767) {
			$("#bookingFilterMobileModal").toggle("slow");
		}
	});

	$(document).ready(function(){
		//Handles menu drop down
		$('.apply-filters-callout').find('.filters').click(function (e) {
			e.stopPropagation();
		});
	});
	
	$("a.btn-apply-filters").click(function() {
	   $(".apply-filters-callout").dropdown("toggle");
	   $(".applied-filters").css('display', 'block');
	});
	
	
	(function() {
	    $(".remove-filter").click(function(e) {
		  e.preventDefault();
		  $(this).parent().hide();
	    });
	})(jQuery);
	
    var lastClickedElement = 'All';
	$(".card-layout-cta").click(function() {
        console.log(lastClickedElement);
		$(".list-layout").addClass("hide");
		$(".card-layout").removeClass("hide");
		$(".table-layout-cta").removeClass("active");
		$(this).addClass("active");
	});
	
	$(".table-layout-cta").click(function(){
		$(".list-layout").removeClass("hide");
		$(".card-layout").addClass("hide");
		$(".card-layout-cta").removeClass("active");
		$(this).addClass("active");
		
	});
    function showLoaderForFilters (id) {
        $(".nav-bookings").find(".active").removeClass("active");
        $(id).addClass('active');
        $(".nav-bookings a").css('text-decoration', 'none');
        $('#loadingDivHostSide').css('display', 'block');
        $('#tourgeckoBody').addClass('waitCursor');
    }
</script>
	
