<div class="hostHome container-fluid">
    <toasty></toasty>
    <div id="booking-detail" class="container-fluid">
        <div class="row body-content">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="multiline-header home_add_tour fixed-in-div margin-bottom">
                    <i class="zmdi zmdi-shopping-cart heading-icn"></i>
                    <h2>
                        <a href="" ui-sref="host.allBookings">Bookings</a>
                        <i class="zmdi zmdi-caret-right bread-caret"></i>
                        <span class="bread-current">Booking Details</span>
                        <br>
                        <span class="sub_head" style="margin-top: 15px;">Booking Id: <strong>{{vm.specificBookingDetails.bookingReference}}</strong></span>
                    </h2>
                    <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-confirmation" ng-show="vm.specificBookingDetails.bookingStatus == 'Pending'">
                        <i class="zmdi zmdi-check-circle"></i>&nbsp;Confirm
                    </a>
                    <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#refund-confirmation" ng-show="vm.specificBookingDetails.bookingStatus == 'Confirmed'" style="background-color:#cc0000">
                        <i class="zmdi zmdi-close-circle"></i>&nbsp;Cancel and Refund
                    </a>            
                </div>
                <div class="row">
                    <div class="booking-analytics">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card text-center" style="margin-bottom: 15px;">
                                <h1 class="orange-text booking-analytics-icon"><i class="zmdi zmdi-calendar-check"></i></h1>    
                                <div class="text-center booking-analytics-info">           
                                    <p class="section-desc">Booking Id</p>
                                        <h4 class=""><span class="sub-desc">{{vm.specificBookingDetails.bookingReference}}</span></h4>
                                </div>
                            </div>
                            <span class="sub_desc booking-reference">
                                Created 
                                <span class="orange-text">Online</span> 
                                On {{vm.specificBookingDetails.bookingDate}}
                            </span>
                        </div>
                
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card text-center">
                            <h1 class="green-text booking-analytics-icon">₹</h1>    
                            <div class="text-center booking-analytics-info">    
                            <p class="section-desc green-text">Amount</p>
                            <h4 class="green-text">{{vm.specificBookingDetails.totalAmountPaid}}</h4>
                            </div>    
                            </div>    
                        </div>
                
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card text-center">
                                <h1 class="orange-text booking-analytics-icon" ng-if="vm.specificBookingDetails.bookingStatus == 'Pending'">
                                    <i class="zmdi zmdi-circle"></i>
                                </h1>
                                <h1 class="green-text booking-analytics-icon" ng-if="vm.specificBookingDetails.bookingStatus == 'Confirmed'">
                                    <i class="zmdi zmdi-circle"></i>
                                </h1>
                                <h1 class="red-text booking-analytics-icon" ng-if="vm.specificBookingDetails.bookingStatus == 'Declined'">
                                    <i class="zmdi zmdi-circle"></i>
                                </h1>
                                <h1 class="grey-text booking-analytics-icon" ng-if="vm.specificBookingDetails.bookingStatus == 'Cancelled'">
                                    <i class="zmdi zmdi-circle"></i>
                                </h1>
                                <div class="text-center booking-analytics-info">           
                                    <p class="section-desc">Status</p>
                                    <h4 class="">{{vm.specificBookingDetails.bookingStatus}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top ">
                        <div class="head_content"><h4>Customer</h4></div>
                        <div class="card booking-customer-info">
                            <span class="margin-right visible-lg-inline-block visible-md-inline-block visible-sm-block visible-xs-block">
                                <strong>{{vm.specificBookingDetails.providedGuestDetails.firstName}}
                                  {{vm.specificBookingDetails.providedGuestDetails.lastName}}</strong>
                            </span>
                            <span class="margin-right visible-lg-inline-block visible-md-inline-block" >|</span>
                            <span class="margin-right">
                                <a href="mailto:{{vm.specificBookingDetails.providedGuestDetails.email}}"><i class="zmdi zmdi-email"></i>&nbsp;{{vm.specificBookingDetails.providedGuestDetails.email}}</a>
                            </span>
                            <span class="margin-right nav-div">|</span>
                            <span class="">
                                <a href="tel:{{vm.specificBookingDetails.providedGuestDetails.mobile}}"><i class="zmdi zmdi-phone"></i>&nbsp;{{vm.specificBookingDetails.providedGuestDetails.mobile}}</a>
                            </span>
                        </div>
                    </div>    
                </div>
                
                <div class="row">    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top ">
                        <div class="head_content"><h4>Tour</h4></div>
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                    <h5 class="margin-right">{{vm.specificBookingDetails.product.productTitle}}</h5>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 booking-date-time-info margin-bottom">
                                    <form class="form-inline">
                                        <div class="input-group col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <input id="startDateOfTheTour" type="date" class="form-control trip-booking-input" aria-describedby="trip-booking-date"  disabled>
                                            <span class="input-group-addon trip-booking-input" id="trip-booking-date"><i class="zmdi zmdi-calendar"></i></span>
                                        </div>
                        
                                        <div class="input-group margin-left col-lg-4 col-md-3 col-sm-3 col-xs-6">
                                            <input id="startTimeOfTheTour" type="time" class="form-control trip-booking-input" aria-describedby="trip-booking-time" disabled>
                                            <span class="input-group-addon trip-booking-input" id="trip-booking-time"><i class="zmdi zmdi-time"></i></span>
                                        </div>
                                        <!-- No edit functionality in Beta -->
                                        <!-- <a href="#" class="margin-left margin-top">Edit</a> -->
                                    </form>
                                </div>
                            </div>
                    
                            <!--<div class="divider clearfix"></div>-->
                    
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                    <form action="">
                                        <ul class="booking-items list-group">
                                            <li class="list-group-item z-depth-1">
                                                <h5 class="inline-block">Booking Items</h5>
                                                <!-- No edit functionality in Beta -->
                                                <!-- <a href="#" class="margin-left margin-top pull-right">Edit prices</a>
                                                <span class="margin-left margin-top pull-right">|</span>
                                                <a href="#" class="margin-left margin-top pull-right">Edit quantities</a> -->
                                            </li>
                                            <div ng-repeat="selectedBookingOption in vm.bookingOptionsSelected track by $index" ng-if="vm.checkIfTheBookingOptionIsSelected($index)">
                                                <li class="list-group-item" ng-if="vm.validPricingOptions[$index].pricingType == 'Custom'">
                                                    <span class="booking-items-info-label">{{vm.validPricingOptions[$index].customLabel}} (&#8377; {{vm.validPricingOptions[$index].price}} Per Person)</span>
                                                    <span class="booking-items-info-input">
                                                        <input type="text" class="form-control" disabled placeholder="Qty" value="1" ng-model="selectedBookingOption">
                                                    </span>
                                                    <span class="booking-items-info-output">&#8377; {{vm.specificBookingDetails.selectedpricingoptionindexandprice[$index]}}</span>
                                                </li>
                                                <li class="list-group-item" ng-if="vm.validPricingOptions[$index].pricingType == 'Group'">
                                                    <span class="booking-items-info-label">Group of {{vm.validPricingOptions[$index].minGroupSize}} to {{vm.validPricingOptions[$index].maxGroupSize}} (&#8377; {{vm.validPricingOptions[$index].price}} {{vm.validPricingOptions[$index].groupOption}})</span>
                                                    <span class="booking-items-info-input">
                                                        <input type="text" class="form-control" disabled placeholder="Qty" value="1" ng-model="selectedBookingOption">
                                                    </span>
                                                    <span class="booking-items-info-output">&#8377; {{vm.specificBookingDetails.selectedpricingoptionindexandprice[$index]}}</span>
                                                </li>
                                                <li class="list-group-item" ng-if="vm.validPricingOptions[$index].pricingType== 'Couple'">
                                                    <span class="booking-items-info-label"> {{vm.validPricingOptions[$index].pricingType}} (&#8377; {{vm.validPricingOptions[$index].price}} Per Couple)</span>
                                                    <span class="booking-items-info-input">
                                                        <input type="text" class="form-control" disabled placeholder="Qty" value="1" ng-model="selectedBookingOption">
                                                    </span>
                                                    <span class="booking-items-info-output">&#8377; {{vm.specificBookingDetails.selectedpricingoptionindexandprice[$index]}}</span>
                                                </li>
                                                <li class="list-group-item" ng-if="vm.validPricingOptions[$index].pricingType != 'Custom' && vm.validPricingOptions[$index].pricingType != 'Group' && vm.validPricingOptions[$index].pricingType != 'Couple'">
                                                    <span class="booking-items-info-label">{{vm.validPricingOptions[$index].pricingType}} (&#8377; {{vm.validPricingOptions[$index].price}} per person)</span>
                                                    <span class="booking-items-info-input"><input type="text" class="form-control" disabled placeholder="Qty" value="1" ng-model="selectedBookingOption"></span>
                                                    <span class="booking-items-info-output">&#8377; {{vm.specificBookingDetails.selectedpricingoptionindexandprice[$index]}}</span>
                                                </li>
                                            </div>
                                            <li class="list-group-item z-depth-1"><h5 class="inline-block">Add-ons and Extras</h5></li>

                                            <div ng-if="vm.areAddonsSelected()">
                                                <div ng-repeat="selectedAddonOption in vm.addonOptionsSelected track by $index">
                                                    <li class="list-group-item" ng-if="selectedAddonOption > 0 && vm.specificBookingDetails.product.productAddons[$index].name != ''">
                                                        <span class="booking-items-info-label">{{vm.specificBookingDetails.product.productAddons[$index].name}} (&#8377; {{vm.specificBookingDetails.product.productAddons[$index].price}} {{vm.specificBookingDetails.product.productAddons[$index].applyAs}})</span>
                                                        <span class="booking-items-info-input">
                                                            <input type="text" class="form-control" disabled placeholder="Qty" value="1" ng-model="selectedAddonOption">
                                                        </span>
                                                        <span class="booking-items-info-output">&#8377; {{vm.specificBookingDetails.selectedaddonoptionsindexandprice[$index]}}</span>
                                                    </li>
                                                </div>
                                            </div>
                                            
                                            <li class="divider-common"></li>
                                            
                                            <!-- <li class="list-group-item">
                                                <span class="booking-items-info-label"></span>
                                                <span class="booking-items-info-input">Discount</span>
                                                <span class="booking-items-info-output"><span class=""><input type="text" class="form-control" value="0" disabled></span></span>
                                            </li> -->
                                            
                                            <li class="list-group-item">
                                                <span class="booking-items-info-label"></span>
                                                <span class="booking-items-info-input">Total</span>
                                                <span class="booking-items-info-output">&#8377; {{vm.specificBookingDetails.totalAmountToBePaid}}</span>
                                            </li>
                                            
                                            <li class="list-group-item">
                                                <span class="booking-items-info-label"></span>
                                                <span class="booking-items-info-input">Paid</span>
                                                <span class="booking-items-info-output">&#8377; {{vm.specificBookingDetails.totalAmountPaid}}</span>
                                            </li>
                        
                                            <li class="list-group-item">
                                                <span class="booking-items-info-label"></span>
                                                <span class="booking-items-info-input">Balance</span>
                                                <span class="booking-items-info-output">&#8377; {{vm.specificBookingDetails.totalAmountToBePaid - vm.specificBookingDetails.totalAmountPaid}}</span>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
                            </div>
                        </div>
                    </div>    
                </div>
                
                <div class="row">    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top ">
                        <div class="head_content"><h4>Payment</h4></div>
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <form action="">
                                        <ul class="booking-items list-group">
                                            <li class="list-group-item" ng-repeat="payment in vm.paymentsOfThisBooking track by $index">
                                                <span class="booking-payment-method">{{payment.instamojo_instrument_type}}</span>
                                                <span class="booking-payment-date">{{vm.getDisplayDate(payment.instamojo_created_at)}}</span>
                                                <span class="booking-payment-amount">&#8377; {{payment.instamojo_amount}}</span>
                                            </li>
                                            <!-- <li class="list-group-item">
                                                <span class="booking-payment-method edit-mode">
                                                    <div class="dropdown">
                                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Payment Method
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">Cash</a></li>
                                                            <li><a href="#">Credit Card</a></li>
                                                            <li><a href="#">Netbanking</a></li>
                                                            <li><a href="#">Wallet</a></li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            
                                                <span class="booking-payment-date edit-mode">
                                                    <div class="input-group">
                                                      <input type="date" class="form-control" placeholder="Select Date" aria-describedby="booking-payment-date">
                                                      <span class="input-group-addon" id="booking-payment-date"><i class="zmdi zmdi-calendar"></i></span>
                                                    </div>
                                                </span>
                                            
                                                <span class="booking-payment-amount edit-mode">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon1">&#8377;</span>
                                                        <input type="text" class="form-control" placeholder="0" aria-describedby="booking-addon-amount">
                                                    </div>
                                                </span>
                                            </li> -->
                                        </ul>
                                    </form>
                                </div>
                            </div>
                           <!-- <a href="#" class="add_price_option"><i class="zmdi zmdi-plus"></i> Add payment</a> -->
                        </div>
                    </div>
                </div>
               
               
               <!--  ===========  activity log  ===========   -->
               
                <div id="action-log" class="row">    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top ">
                        <div class="head_content">
                            <h4 class="">Timeline</h4>
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="card">
                            <ul>
                                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="log in vm.log | orderBy:'-traceDate' track by $index">
                                    <span class="block sub_desc">{{log.traceDate}}</span>
                                    <span class="text-readable14">{{log.tracelogMessage}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row">    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top text-center">
                            <a class="btn btn-default margin-right" data-toggle="modal" data-target="#decline-confirmation" ng-show="vm.specificBookingDetails.bookingStatus == 'Pending'">Decline</a>                  
                            <a class="btn btn-primary margin-right" data-toggle="modal" data-target="#confirm-confirmation" ng-show="vm.specificBookingDetails.bookingStatus == 'Pending'">
                                <i class="zmdi zmdi-check-circle"></i>&nbsp;Confirm
                            </a>
                            <a class="btn btn-primary margin-right" data-toggle="modal" data-target="#refund-confirmation" ng-show="vm.specificBookingDetails.bookingStatus == 'Confirmed'" style="background-color:#cc0000">
                                <i class="zmdi zmdi-close-circle"></i>&nbsp;Cancel and Refund
                            </a>
                        </div>
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top text-center">
                           <p class="sub_desc"><i class="zmdi zmdi-lamp icn_orange"></i> When you confirm this booking, Guest will be charged for amount and confirmation email will be sent.</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="decline-confirmation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Decline booking</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to decline this booking? Please note that if you decline this booking, no amount
                    will be charged to guest</p>
                <a ng-click="vm.modifyBooking('Declined')" class="btn btn-default pull-left margin-right btn-sm">Decline</a>
                <a onclick="closeModal('#decline-confirmation')" class="btn btn-warning btn-sm margin-bottom">No</a> 
                <textarea class="form-control margin-top" placeholder="Additional comments" ng-model="vm.bookingComments" style="resize: vertical;">
                    
                </textarea>  
            </div>
        </div>
    </div>
</div>

<div id="confirm-confirmation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm booking</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to confirm this booking? If you confirm, the status of booking will change to Confirmed and email is sent to customer. </p>
                <a ng-click="vm.modifyBooking('Confirmed')" class="btn btn-warning pull-left margin-right btn-sm">Confirm</a>
                <a onclick="closeModal('#confirm-confirmation')" class="btn btn-default btn-sm margin-bottom">No</a> 
                <!-- <textarea class="form-control margin-top" placeholder="Additional comments" ng-model="vm.bookingComments" style="resize: vertical;"></textarea>  
                -->
            </div>
        </div>
    </div>
</div>
<div id="refund-confirmation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm cancellation</h4>
            </div>
            <div class="modal-body">
                <!-- <p> Are you sure you want to cancel this booking?</p> -->
                <p> Is there any refund to issue? </p>
                <div class="row" style="margin-left: 0 !important">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-3">
                        <div class="generic-o-checkbox">
                            <input type="checkbox" value="true" name="" id="filter-checkbox-one" class="" ng-change="vm.refundTheAmount(true)" ng-model="vm.refundAmountPositive">
                            <label for="filter-checkbox-one"> <span class="filterName">Yes</span> </label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
                        <div class="generic-o-checkbox">
                            <input type="checkbox" value="false" name="" id="filter-checkbox-two" class="" ng-change="vm.refundTheAmount(false)" ng-model="vm.refundAmountNegative">
                            <label for="filter-checkbox-two"> <span class="filterName">No</span></label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-left: 0 !important" ng-if="vm.showRefundAmountEntryPanel">
                    <div class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                        <label for="refundAmount" class="control-label">Refund Amount</label>
                        <div class="input_group">
                            <div>
                                <input type="text" class="form-control" ng-model="vm.refundAmount" id="refundAmount" name="refundAmount" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0 !important">
                    <div class="form-group col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <a ng-click="vm.validateRefundAction()" class="btn btn-warning pull-left margin-right btn-sm">Cancel now</a>
                        <a onclick="closeModal('#refund-confirmation')" class="btn btn-default btn-sm margin-bottom">No</a> 
                        <p class="text-danger"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please note that this action cannot be undone. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a data-toggle="modal" data-target="#refund-confirmation-two" style="display: none" id="refund-confirmation-two-trigger">Decline</a>          
<div id="refund-confirmation-two" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Re-confirm the amount to be refunded</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to return Rs. {{vm.refundAmount}} /- </p>
                <p ng-show="vm.hostGoingNegative"> The total amount you got for this booking after deducting platform fee, payment gateway fee and taxes is Rs. {{vm.specificBookingDetails.refundTopLimit}} /- and you are returning more!</p>
                <p ng-show="vm.hostGettingNothing"> The total amount you got for this booking after deducting platform fee, payment gateway fee and taxes is Rs. {{vm.specificBookingDetails.refundTopLimit}} /- and you are returning the whole amount!</p>
                <a ng-click="vm.refundTheGivenAmount()" class="btn btn-warning pull-left margin-right btn-sm">Yes, continue</a>
                <a data-dismiss="modal" class="btn btn-default btn-sm margin-bottom">No</a>  
                <!-- <textarea class="form-control margin-top" placeholder="Additional comments" ng-model="vm.bookingComments" style="resize: vertical;"></textarea>  
                -->
            </div>
        </div>
    </div>
</div>

<script>
    function closeModal(modalId) {
        $(modalId).fadeOut('slow');
        $('.modal-backdrop').remove();
    }
</script>
  
