<div class="hostHome container-fluid" id="hostCalendar">
	<div class="row" id="helpTabBodyContent">
		<div id="help" class="container-fluid main-content">
        	<div class="title-holder text-center row"><h1>How can we help?</h1></div>  
            <div class="row body-content">
                <div class="row text-center"> 	
                    <div class="col-sm-6 col-md-4"> 
                        <div class="thumbnail"> 
	                        <img class="icn_info-block" src="modules/core/client/img/assets/host-help-getting-started.svg" alt="Getting Started">
	                        <div class="caption"> 
		                        <h3>Getting Started</h3> 
		                        <p>If you need any help in getting started and setting up your account, data or toursite.</p> 
	                        </div> 
                        </div> 
                    </div>
                    
                    <div class="col-sm-6 col-md-4"> 
                        <div class="thumbnail"> 
	                        <img class="icn_info-block" src="modules/core/client/img/assets/host-help-something-is-not-working.svg" alt="Something is not working">
	                        <div class="caption"> 
		                        <h3>Something is not working?</h3> 
		                        <p>If you think something is broken and not working as it should.</p>
	                        </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-4"> 
                        <div class="thumbnail"> 
	                        <img class="icn_info-block" src="modules/core/client/img/assets/host-help-suggest-a-feature.svg" alt="Suggest a feature">
	                        <div class="caption"> 
		                        <h3>Suggest a feature!</h3> 
		                        <p>We like to build with and for you. If you need any feature or functionality.</p>
	                        </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row contact-details text-center">
                  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      	<ul class="list-inline">
                        	<li>
                        		<a href="mailto:team@tourgecko.com" class="email btn btn-default btn-lg">team@tourgecko.com</a>
                        		<p>We respond within 1 working day</p>
                        	</li>
                        	<li>
                        		<a href="tel:+91-9867101299" class="phone btn btn-default btn-lg">9867101299</a>
                        		<p>Mon-Fri (10AM-7PM)</p>
                        	</li>
                        </ul>
                  	</div>
              	</div>  
           </div>
    	</div>   
	</div>
</div>