<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="modules/core/client/img/brand/logo.png" rel="shortcut icon" type="image/x-icon">

  <!-- Bootstrap and jquery -->
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"></script>
  <link rel="stylesheet" href="lib/bootstrap-theme/css/bootstrap-theme.min.css"></script>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- font awesome -->
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" >

  <!-- cdn Roboto -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <!-- Iconic fonts -->
  <link rel="stylesheet" href="lib/material-design/css/material-design-iconic-font.min.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

  <!-- moment -->
  <script src="lib/moment/js/moment.js"></script>

  <!-- Calendar Css and JS-->
  <link rel="stylesheet" href="lib/full-calendar/css/fullcalendar.css" >
  <link rel="stylesheet" href="lib/full-calendar/css/fullcalendar.print.css" media='print'>
  <script src="lib/full-calendar/js/fullcalendar.js"></script>

  <!-- Application CSS Files -->
  {{#each cssFiles}}<link rel="stylesheet" href="{{this}}">{{/each}}
</head>

<body class="ng-cloak">
  <section class="content">
    <!-- need to find a good way to achieve this. Let it be for now -->
    <header ng-include="'/modules/core/client/views/header.client.view.html'" ng-hide="'{{this.url}}' === 'http://tourgecko.com:3000/authentication/host/signup' || '{{this.url}}' === 'http://tourgecko.com:3000/authentication/host/signin'" class="top-nav"></header>
    <section class="container">
      {{{block "content"}}}
    </section>
  </section>
  <!-- <footer class="footer" ng-include="'/modules/hosts/client/views/footer-host.client.view.html'"></footer> -->
  <noscript>
    <style>
      [ng\:cloak], [ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: block !important;
      }
    </style>
    <div class="alert alert-warning">
      <strong>This page requires JavaScript.</strong> Please enable it in your browser.
    </div>
  </noscript>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{{ user }}};
    var env = "{{ env }}";
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {{#each jsFiles}}<script type="text/javascript" src="{{this}}"></script>{{/each}}

  {{#if livereload}}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {{/if}}
</body>

</html>
