<div class="home_add_tour fixed-in-div">
	<i class="zmdi zmdi-settings heading-icn"></i>
    <h2><span><p>Tour list <span class="sub_head">showing <span class="no_of_tours">{{vm.products.length}}</span> tours</span></p></span></h2>
	<button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#select-tour-type"><i class="zmdi zmdi-plus"></i>&nbsp;Add a Tour</button>					
</div>

<div id="select-tour-type" class="modal fade" ng-controller="AddProductController as vm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
				<h4 id="modalTitle" class="">What kind of  tour do you want to create?</h4>
			</div>
			<div id="modalBody" class="modal-body">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
						<form action="">
							<div class="radio">
								<label>
									<input type="radio" name="add-tour" value="Multi-day tour" id="add-tour-multiday-tour" ng-model="vm.productType">
									<strong>Multi-day tour</strong>
									<p class="sub_desc">Multi day tours like adventure expeditions , road trips or detonation tours</p>
								</label>
							</div>

							<div class="radio">
								<label>
									<input type="radio" name="add-tour" value="Activity" id="add-tour-activity" ng-model="vm.productType">
									<strong>Activity</strong>
									<p class="sub_desc">Short spanned tours usually with duration in hours like scuba diving, balloon flights or any short timed activity</p>
								</label>
							</div>

							<div class="radio">
								<label>
									<input type="radio" name="add-tour" value="Day tour" id="add-tour-daytour" ng-model="vm.productType">
									<strong>Day tour</strong>
									<p class="sub_desc">Day long tours like city  or heritage walks</p>
								</label>
							</div>

							<div class="radio">
								<label>
									<input type="radio" name="add-tour" value="Event" id="add-tour-event" ng-model="vm.productType">
									<strong>Event</strong>
									<p class="sub_desc">Sporting or out outdoor event</p>
								</label>
							</div>

						</form>
					</div>
				</div>
				<div class="modal-footer text-center">
					<a class="btn btn-primary" onclick="fadeOutTheModal()" ng-click="vm.goToTourCreationPage()">Add New Tour</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function fadeOutTheModal () {
		$('#select-tour-type').slideUp('slow');
		setTimeout(function(){
			$('.modal-backdrop').remove();
		}, 800);
	}
</script>