<div class="tourPreviewDetails" id="previewScreen">
    <header>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/materialize.min.css"/>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/tour-preview-details-booking-1.css"/>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/tour-preview-details-booking-2.css"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
        <div id="dev" class="blue lighten-5 center dev-view z-depth-3">
            <p>This is what other people see when they visit your Booking Site. <a class="blue-text" style="cursor:pointer" onclick="window.close()" ng-click="vm.resetLocalStorage()">Return to your dashboard.</a><p>
        </div>
        <!--<div class="navbar-fixed">-->
        <!-- <nav class="blue-grey darken-4 fixed">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo orange-text">tourgecko</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="#"><i class="zmdi zmdi-globe left orange-text"></i>Explore</a></li>
                  <li><a href="#"><i class="zmdi zmdi-pin-help left orange-text"></i>Help</a></li>
                  <li><a href="#" id="profile-list" data-activates="profile-menu"><i class="zmdi zmdi-account-circle left orange-text"></i><i class="material-icons right">arrow_drop_down</i>Sudheer</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                  <li><a href="#"><i class="zmdi zmdi-account-circle left orange-text dropdown-button"></i>Sudheer</a></li>
                  <li><a href="#"><i class="zmdi zmdi-globe left orange-text"></i>Explore</a></li>
                  <li><a href="#"><i class="zmdi zmdi-pin-help left orange-text"></i>Help</a></li>
                </ul>
                <ul id="profile-menu" class="dropdown-content">
                  <li><a href="#!" class="blue-grey-text text-darken-1">My Profile</a></li>
                  <li><a href="#!" class="blue-grey-text text-darken-1">Edit Profile</a></li>
                  <li><a href="#!" class="blue-grey-text text-darken-1">Settings</a></li>
                </ul>
            </div>
        </nav> -->
    </header>
    <main>
        <span ng-if="vm.showLoaderForPreview" class="loader-spinner-tourPreviewDetails"><i class="fa fa-refresh fa-spin"></i></span>

        <div id="details_hero" class="slider" data-indicators="true">
            <ul class="slides">
                <li ng-repeat="image in vm.productDetails.productPictureURLs" ng-if="vm.productDetails.productPictureURLs.length > 0">
                    <img ng-if="vm.productDetails.productPictureURLs.length > 0" data-ng-src="{{image}}">
                </li>
                <li class="no-Image-Preview-Details" ng-if="vm.productDetails.productPictureURLs.length == 0">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <br>
                </li>
            </ul>
        </div>
        <!--Carousel end-->
        <div class="marginFromBothEnd">

            <div id="details" class="container tour-Preview-Details-host">
                <div class="row">
                    <div class="col l8 m8 s12">

                        <div class="card-panel">
                            <div class="valign-wrapper">
                                <div class="col l2 m3 s3 firstCardPartOne">
                                    <span class="blue lighten-5 days circle valign center">
                                        <h3>{{vm.productDetails.productDuration}}</h3><p>{{vm.productDetails.productDurationType}}</p>
                                    </span>
                                </div>
                                <div class="col l10 m9 s9 wordWrap"><h5>&nbsp;{{vm.productDetails.productTitle}}</h5>
                                    <a href="#" class="blue-grey-text text-darken-1" style="font-weight:500">
                                       &nbsp;&nbsp; <i class="zmdi zmdi-pin orange-text"></i>&nbsp;&nbsp;{{vm.productDetails.destination}}
                                    </a>
                                </div>
                            </div>
                            <div class="divider"></div>

                            <!-- This is not present for now-->
                            <!--<div id="tour_tags">
                                <a href="#"><div class="chip">Trecking</div></a>
                                <a href="#"><div class="chip">Rafting</div></a>
                                <a href="#"><div class="chip">Swimming</div></a>
                                <a href="#"><div class="chip">Diving</div></a>
                                <a href="#"><div class="chip">Cycling</div></a>
                            </div>
                            <div class="divider"></div>-->
                            <!-- till here-->

                            <div class="row tour-glance">
                                <div class="col l3 m3 s6 wordWrap">
                                    <label><i class="zmdi zmdi-pin orange-text"></i> Start</label>
                                    <h6>{{vm.productDetails.pickupLocation}}</h6>
                                </div>
                                <div class="col l3 m3 s6 wordWrap">
                                    <label><i class="zmdi zmdi-pin-drop orange-text"></i> End</label>
                                    <h6>{{vm.productDetails.dropLocation}}</h6>
                                </div>


                                <div class="col l3 m3 s6 wordWrap">
                                    <label><i class="zmdi zmdi-time orange-text"></i> Suitable for</label>
                                    <h6>
                                        {{vm.productDetails.productMinAgeRequired}} 
                                        <span ng-show="vm.productDetails.productMinAgeRequired || vm.productDetails.productMaxAgeRequired">-</span>
                                        {{vm.productDetails.productMaxAgeRequired}}
                                        <span ng-show="vm.productDetails.productMinAgeRequired || vm.productDetails.productMaxAgeRequired" class="blue-grey-text text-lighten-1">Years</span>
                                    </h6>
                                </div>

                                <div class="col l3 m3 s6">
                                  <label><i class="zmdi zmdi-run orange-text"></i> Physical Demand</label>
                                  <h6>{{vm.productDetails.productGrade}}</h6>
                                </div>
                            </div>
                        </div>

                        <ul class="collapsible active section_expandable" data-collapsible="expandable">
                            <li id="tour-overview" class="card">
                                <div class="collapsible-header active">
                                    <i class="zmdi zmdi-info-outline orange-text"></i>Overview
                                </div>
                                <div class="collapsible-body card-content bullets">
                                    <ng-bind-html="vm.getHtmlTrustedData(vm.productDetails.productSummary)">
                                    <p class="listAlignment-overview" ng-bind-html="vm.productDetails.productSummary | htmlData">{{vm.productDetails.productSummary}}</p>
                                </div>
                            </li>

                            <!-- this will not be present for now-->
                           <!-- <li class="card">
                    
                                <div class="collapsible-header active">
                                    <i class="zmdi zmdi-format-list-bulleted orange-text"></i>At a Glance
                                </div>
                                
                                <div class="collapsible-body card-content">
                                    <ul class="collection">
                                        <li class="collection-item blue-grey-text text-darken-1"><div><span class="primary-content">Travel Style</span><span class="secondary-content">Active</span></div></li>
                                      
                                        <li class="collection-item blue-grey-text text-darken-1"><div><span class="primary-content">Suitable For</span><span class="secondary-content">16 - 50 Years Old  </span></div></li>
                                      
                                        <li class="collection-item blue-grey-text text-darken-1"><div><span class="primary-content">Group Size</span><span class="secondary-content">2-5</span></div></li>
                                      
                                        <li class="collection-item blue-grey-text text-darken-1"><div><span class="primary-content">Social Type</span><span class="secondary-content">Groups</span></div></li>
                                      
                                        <li class="collection-item blue-grey-text text-darken-1"><div><span class="primary-content">Guiding Type</span><span class="secondary-content">Guided</span></div></li>
                                      
                                        <li class="collection-item blue-grey-text text-darken-1"><div><span class="primary-content">Service Style</span><span class="secondary-content">Luxury</span></div></li>
                                      
                                        <li class="collection-item blue-grey-text text-darken-1">
                                            <div>
                                                <span class="primary-content">Attractions</span>
                                                <div class="chips-attractions">
                                                    <a href="#" class="chip">Glacier</a>
                                                    <a href="#" class="chip">Lake</a>
                                                    <a href="#" class="chip">Park</a>
                                                    <a href="#" class="chip">Lorem</a>
                                                    <a href="#" class="chip">Ipsum</a>
                                                </div>
                                            </div>
                                        </li>
                          
                                        <li class="collection-item blue-grey-text text-darken-1"><div><span class="primary-content">Best Season</span><span class="secondary-content">Active</span></div></li>
                                      
                                        <li class="collection-item blue-grey-text text-darken-1"><div><span class="primary-content">Availability</span><span class="secondary-content">Fixed Departure</span></div></li>
                                    </ul>
                                </div>
                            </li> -->
                            <!-- till here-->

                            <li class="card">
                                <div class="collapsible-header active">
                                    <i class="zmdi zmdi-file-text orange-text"></i>Itinerary
                                </div>
                                <div class="collapsible-body card-content itinerary-list">
                                    <ol class="collapsible list-group vertical-steps" data-collapsible="accordian">
                                        <li class="list-group-item" ng-repeat="itinerary in vm.productDetails.productItineraryDescription track by $index" style="background:none;">
                                            <div class="blue-grey-text text-darken-1 collapsible-header">
                                                <strong>{{itinerary.title}}</strong>
                                                <br>
                                            </div>
                                            <div class="collapsible-body bullets">
                                                <ng-bind-html="vm.getHtmlTrustedData(itinerary.description)">
                                                <p class="listAlignment-itinerary wordWrap" ng-style="vm.getDynamicCSS(itinerary.description)" ng-bind-html="itinerary.description | htmlData">{{itinerary.description}}</p>
                                            </div>
                                        </li>                                        
                                    </ol>
                                </div>
                            </li>
                            <li class="card">
                                <div class="collapsible-header active">
                                    <i class="zmdi zmdi-comment-list orange-text"></i>Guidelines
                                </div>

                                <div class="collapsible-body card-content bullets">
                                    <ng-bind-html="vm.getHtmlTrustedData(vm.productDetails.productGuidelines)">
                                    <p ng-bind-html="vm.productDetails.productGuidelines | htmlData">{{vm.productDetails.productGuidelines}}</p>
                                </div>
                            </li>
                            <li class="card">
                                <div class="collapsible-header active">
                                    <i class="zmdi zmdi-calendar-check orange-text"></i>Inclusions
                                </div>
                                <div class="collapsible-body card-content inclusions wordWrap">
                                    <ng-bind-html="vm.getHtmlTrustedData(vm.productDetails.productInclusions)">
                                    <p class="listAlignment-inclusions" ng-bind-html="vm.productDetails.productInclusions | htmlData">{{vm.productDetails.productInclusions}}</p>
                                </div>
                            </li>
                                
                            <li class="card">
                                <div class="collapsible-header active">
                                    <i class="zmdi zmdi-calendar-close orange-text"></i>Exclusions
                                </div>
                                <div class="collapsible-body card-content exclusions wordWrap">
                                    <ng-bind-html="vm.getHtmlTrustedData(vm.productDetails.productExclusions)">
                                    <p class="listAlignment-exclusions" ng-bind-html="vm.productDetails.productExclusions | htmlData">{{vm.productDetails.productExclusions}}</p>
                                </div>
                            </li>

                            <li class="card">
                                <div class="collapsible-header active">
                                    <i class="zmdi zmdi-money-box orange-text"></i>Prices
                                </div>
                                <div class="collapsible-body card-content">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th>Price For</th>
                                                <th>Group Size</th>
                                                <th>Price</th>
                                                <th>Price per</th>
                                                <th>Description</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pricing in vm.productDetails.productPricingOptions track by $index" ng-style="vm.getDynamicCSSForStripedTable($index)">
                                                    <td>{{pricing.pricingType}}</td>
                                                    <td ng-show="pricing.pricingType == 'Group'"> {{pricing.minGroupSize}} to {{pricing.maxGroupSize}} </td>
                                                    <td ng-show="pricing.pricingType != 'Group'"> NA </td>
                                                    <td>{{pricing.price}}</td>
                                                    <td ng-show="pricing.pricingType == 'Adult' || pricing.pricingType == 'Child' || pricing.pricingType == 'Everyone' || pricing.pricingType == 'Single'">Person</td>
                                                    <td ng-show="pricing.pricingType == 'Couple'">Couple</td>
                                                    <td ng-show="pricing.groupOption == 'Per Group'">Group</td>
                                                    <td ng-show="pricing.groupOption == 'Per Person'">Person</td>
                                                    <td>{{pricing.description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--<ul class="collection with-header" ng-repeat="pricing in vm.productDetails.productPricingOptions">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                                <li class="collection-item blue-grey-text text-darken-1">
                                                    <strong>Price For</strong>
                                                    <blockquote class="blue-grey-text text-lighten-1">{{pricing.pricingType}}</blockquote>
                                                </li>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" ng-show="pricing.pricingType == 'Adult' || 
                                            pricing.pricingType == 'Child' || pricing.pricingType == 'Everyone' || pricing.pricingType == 'Single'">
                                                <li class="collection-item blue-grey-text text-darken-1">
                                                    <strong>Price</strong>
                                                    <blockquote class="blue-grey-text text-lighten-1">
                                                        <span class="currency">&#8377;</span> {{pricing.price}}
                                                    </blockquote>
                                                </li>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" ng-show="pricing.pricingType == 'Couple'">
                                                <li class="collection-item blue-grey-text text-darken-1">
                                                    <strong>Price/Couple</strong>
                                                    <blockquote class="blue-grey-text text-lighten-1">
                                                        <span class="currency">&#8377;</span> {{pricing.price}}
                                                    </blockquote>
                                                </li>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" ng-show="pricing.pricingType == 'Group'">
                                                <li class="collection-item blue-grey-text text-darken-1">
                                                    <strong>Group-Size</strong>
                                                    <blockquote class="blue-grey-text text-lighten-1">
                                                        {{pricing.minGroupSize}} - {{pricing.maxGroupSize}}
                                                    </blockquote>
                                                </li>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" ng-show="pricing.pricingType == 'Group'">
                                                <li class="collection-item blue-grey-text text-darken-1">
                                                    <strong>Description</strong>
                                                    <blockquote class="blue-grey-text text-lighten-1">{{pricing.description}}</blockquote>
                                                </li>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" ng-show="pricing.pricingType == 'Group'">
                                                <li class="collection-item blue-grey-text text-darken-1">
                                                    <strong ng-show="pricing.groupOption == 'Per Group'">Price/Group</strong>
                                                    <strong ng-show="pricing.groupOption == 'Per Person'">Price/Person</strong>
                                                    <blockquote class="blue-grey-text text-lighten-1">
                                                        <span class="currency">&#8377;</span> {{pricing.price}}
                                                    </blockquote>
                                                </li>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" ng-show="pricing.pricingType == 'Custom'">
                                                <li class="collection-item blue-grey-text text-darken-1">
                                                    <strong>Seats Used</strong>
                                                    <blockquote class="blue-grey-text text-lighten-1">
                                                        {{pricing.seatsUsed}}
                                                    </blockquote>
                                                </li>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" ng-show="pricing.pricingType == 'Custom'">
                                                <li class="collection-item blue-grey-text text-darken-1">
                                                    <strong>Description</strong>
                                                    <blockquote class="blue-grey-text text-lighten-1">{{pricing.description}}</blockquote>
                                                </li>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12" ng-show="pricing.pricingType == 'Custom'">
                                                <li class="collection-item blue-grey-text text-darken-1">
                                                    <strong>Price/Person</strong>
                                                    <blockquote class="blue-grey-text text-lighten-1">
                                                        <span class="currency">&#8377;</span> {{pricing.price}}
                                                    </blockquote>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="divider" ng-show="$index <  vm.productDetails.productPricingOptions.length - 1"></div>
                                    </ul> -->
                                </div>
                            </li>
                                
                            <li class="card">
                                <div class="collapsible-header active">
                                    <i class="zmdi zmdi-money-box orange-text"></i>
                                    Cancellation &amp; Refund
                                </div>
                                <div class="collapsible-body card-content">
                                    <div class="bullets">
                                        <ng-bind-html="vm.getHtmlTrustedData(vm.productDetails.productCancellationPolicy)">
                                        <p ng-bind-html="vm.productDetails.productCancellationPolicy | htmlData">{{vm.productDetails.productCancellationPolicy}}</p>
                                        <!--
                                        <a href="#" class="blue-grey-text text-darken-1 margin-top block-element"><i class="zmdi zmdi-file-text orange-text margin-right"></i> Cancellation Terms</a>
                                        <a href="#" class="blue-grey-text text-darken-1 margin-top block-element"><i class="zmdi zmdi-help orange-text margin-right"></i> Cancellation FAQ</a>
                                        -->
                                    </div>
                                </div>
                            </li>    
                        </ul>
                    </div>
                    <!--main-content end-->
                    
                    <!--right bar-->        
                    <div class="col l4 m4 s12 ">
                        <div class="right-bar">
                            <div class="card-panel pricing-card hide-on-small-only ">
                                <p class="blue-grey-text text-darken-1">Starting from <span class="tourType" ng-show="vm.minimumTillNow != ''"><span class="currency">&#8377;
                                    </span> {{vm.getMinimumPricing(vm.productDetails)}}</span>
                                </p>
                                <div class="valign-wrapper">
                                    <!-- No discount for now -->
                                    <!-- <div class="chip orange">
                                        <h6 class="white-text">
                                            <strong>10%</strong>OFF
                                        </h6>
                                    </div> -->
                                    <!-- we will just show starting from, no other price
                                    <h5 class="green-text">
                                        <span class="currency" ng-show="vm.priceTobeShown != -1 && vm.priceTobeShown != ''">&#8377;</span> {{vm.priceTobeShown}}
                                    </h5>
                                    -->
                                </div>
                                <div class="divider"></div>
                                <div class="valign-wrapper">
                                    <h4 class="grey-text">
                                        <i class="zmdi zmdi-calendar-alt"></i>
                                    </h4>
                                    <div class="departure-dates" ng-show="vm.productDetails.productAvailabilityType == 'Fixed Departure'">
                                        <p class="blue-grey-text text-darken-1">
                                            <strong>Next Departures:</strong>
                                        </p>
                                        <div class="chip" ng-repeat="date in vm.productDetails.productScheduledDates  | limitTo:5 track by $index">{{vm.getDepartureDates(date)}}</div>
                                        <br>
                                        <span ng-if="vm.productDetails.isRepeatingProduct == true">This is a repeative tour. <a href="" onclick="openMoreDatesInfoModal('#showRepeatInfoModal')">Click </a> for more details</span>
                                        <a id="showMoreDatesBtn" onclick="openMoreDatesInfoModal('#showMoreDatesModal')" href="" class="pull-right" ng-if="vm.productDetails.productScheduledDates.length > 5"> More Dates...</a>
                                        
                                    </div>
                                    <div class="departure-dates" ng-show="vm.productDetails.productAvailabilityType == 'Open Date'">
                                        <p class="blue-grey-text text-darken-1">
                                            <strong>Next Departures:</strong>
                                        </p>
                                        <p>
                                            <span class="tourType"> Open Date Tour </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="center">
                                    <a href="" class="waves-effect waves-light btn orange fluid">Request Booking</a>
                                </div>
                            </div>
                            <div class="card-panel">
                                <p class="blue-grey-text text-darken-1">
                                    <strong>Need any help with booking?</strong>
                                </p>
                                <div class="center"><a class="waves-effect waves-light btn btn-outline white orange-text fluid"><i class="zmdi zmdi-email" style="vertical-align: top;"></i> Contact Us</a>
                                </div>
                                <br>
                                <div class="chip">
                                    <a href="tel:+919867101299" >
                                        <img src="modules/core/client/img/previewAndDetails/icn_call.svg" alt="Contact Person">
                                    </a>
                                    <span class="grey-text">Call Us on:</span> 
                                    <a href="tel:+919867101299" class="blue-grey-text text-darken-1">
                                        <strong>{{vm.companyDetails.inquiryMobile}}</strong>
                                    </a>
                                </div>
                                <blockquote>
                                    <label ng-show="vm.companyDetails.inquiryTime == 'rangeTime'">
                                        <strong>From&nbsp;</strong> 
                                        <span class="orange-text">{{vm.companyDetails.inquiryTimeRangeFrom}}</span> 
                                        <strong>&nbsp;to&nbsp;</strong> 
                                        <span class="orange-text">{{vm.companyDetails.inquiryTimeRangeTo}}</span> 
                                        <strong>IST</strong>  
                                    </label>
                                    <label ng-show="vm.companyDetails.inquiryTime == 'Anytime'">
                                        <strong>Anytime</strong> 
                                        
                                    </label>
                                </blockquote>
                            </div>
                            <br><br><br>
                        </div>
                    </div>
                    <!--right bar end-->
                  
                    <!--Sticky Footer for mobile view-->    
                    <div class="price-box hide-on-med-and-up white z-depth-4">
                        <span class="blue-grey-text text-darken-1">Starting from 
                            <span style="text-decoration:line-through" class="red-text" ng-show="vm.minimumTillNow != ''">&#8377; {{vm.getMinimumPricing(vm.productDetails)}}</span>
                        </span>
                        <br>
                        <!--<span class="orange-text discount">
                            <strong>10%</strong> OFF
                        </span>-->
                        <!-- we will just show starting from, no other price
                        <span class="green-text price">
                            <span class="currency">&#8377;</span> {{vm.priceTobeShown}}
                        </span>
                        -->
                        <a id="book" class="orange btn waves-effect waves-light right">Book Now</a>
                    </div>
                    <!--Sticky Footer End-->    
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>

    <!-- The Modal -->
    <div id="showMoreDatesModal" class="moreDatesModal">
        <!-- Modal content -->
        <div class="moreDatesModal-content">
            <div class="moreDatesModal-header">
                <span class="moreDatesModalClose" onclick="fadeOutTheModal('#showMoreDatesModal')">&times;</span>
                <h4 class="moreDates-title">Chose departure date</h4>
            </div>
            <div class="moreDatesModal-body" ng-repeat="date in vm.productDetails.productScheduledDates track by $index" ng-style="vm.getDynamicCSSForStripedTable($index)">
                <span>{{vm.getDepartureDates(date)}}</span>
                <span>
                    <input type="radio" name="chooseDate" value="" class="pull-right" disabled>
                </span>
            </div>
            <div class="moreDatesModal-footer">
               <button id="closeMoreDates" type="button" class="btn btn-secondary moreDates-close" onclick="fadeOutTheModal('#showMoreDatesModal')">Close</button>
            </div>
        </div>
    </div>

    <div id="showRepeatInfoModal" class="moreDatesModal">
        <!-- Modal content -->
        <div class="moreDatesModal-content">
            <div class="moreDatesModal-header">
                <span class="moreDatesModalClose" onclick="fadeOutTheModal('#showRepeatInfoModal')">&times;</span>
                <h4 class="moreDates-title">Tour's Repeativeness Info</h4>
            </div>
            <div class="moreDatesModal-body" ng-style="vm.getDynamicCSSForStripedTable(0)">
                <span ng-if="vm.productDetails.productRepeatType == 'Weekly'">The tour is repeating {{vm.productDetails.productRepeatType}} on {{vm.productDetails.productRepeatDays}}.</span>
                <span ng-if="vm.productDetails.productRepeatType == 'Daily'">The tour is repeating {{vm.productDetails.productRepeatType}} except on {{vm.productDetails.productNonRepeatDays}}.</span>
                <br>
                <br>
                <span> The tour is starting from {{vm.getDepartureDates(vm.productDetails.productRepeatStartDate)}} and will continue till {{vm.getDepartureDates(vm.productDetails.productRepeatEndDate)}}.
                <br>
                <br>
                <span> Go to <a href=""> Booking </a> page to select the required date.</span>
            </div>
            <div class="moreDatesModal-footer">
               <button id="closeMoreDates" type="button" class="btn btn-secondary moreDates-close" onclick="fadeOutTheModal('#showRepeatInfoModal')">Close</button>
            </div>
        </div>
    </div>
</div>


<!--Scripts-->
<script type="text/javascript" src="lib/materialize/materialize.min.js"></script>
<script type="text/javascript" src="lib/scripts-inside-html/js/init.js"></script>
<script type="text/javascript" src="lib/scripts-inside-html/js/tour-preview-details-booking.js"></script>
<script type="text/javascript" src="modules/core/client/scripts/showmore.js"></script>
<script>
    function openMoreDatesInfoModal(id) {
        $(id).slideDown('slow');
    }

    function fadeOutTheModal (id) {
        $(id).slideUp('slow');
    }
    $('.slider').slider({
        full_width: true
    });
</script>
<script>
//slider
$(document).ready(function(){
    // initializing slider in controller because if it's been initialized here, there can be case that slider images won't appear.
    // The slider will initialise first and then the data will be returned from http get.
    // for now putting it back as the sames slider initiator is been used on the toursite. can't put it preview controller and anyways it didnt really
    // solve the problem
});
</script>
