<div class="hostHome" id="tours">
	<div id="tours_list" class="container-fluid">
		<div class="row body-content tourlist-content">
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
				<div ng-include="'/modules/hosts/client/views/tours/top-nav-tourlist.client.view.html'"></div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 pull-right tour_details" ng-repeat="product in vm.products track by $index">
						<div class="panel">
							<div class="row">
								<div class="col-sm-6 col-md-6 col-lg-6 tour_left" ng-show="vm.products[$index].productPictureURLs.length > 0">
									<img ng-src="{{vm.products[$index].productPictureURLs[0]}}" class="img-responsive" alt="{{vm.products[$index].productTitle}}"/>
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6 tour_left no-image" ng-show="vm.products[$index].productPictureURLs.length == 0">
									<div class="no_image">
										<div>
											<i class="zmdi zmdi-image-alt"></i>
											<span>no picture</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6 tour_right">
									<p class="tour_details">{{vm.products[$index].productTitle}}</p>
									<p class="tour_location"><i class="zmdi zmdi-pin-drop"></i> {{vm.products[$index].destination}}</p>
									<div class="info_visible">
										<label class="visible" for="{{$index}}">Visible</label>
										<div class="tourlistonoffswitch">
											<input type="checkbox" name="" class="tourlistonoffswitch-checkbox" id="{{$index}}" ng-model="vm.products[$index].isPublished" ng-click="vm.makeProductVisible(vm.products[$index])">
											<label class="tourlistonoffswitch-label" for="{{$index}}"></label>
										</div>
									</div>
									<br class="hidden-sm hidden-md hidden-lg">
									<span ng-if="!vm.products[$index].isPublished" style="color: #ED9C28;"> Tour is not visible on your toursite </span>
									<span ng-if="vm.products[$index].isPublished" style="color: #42AE5E;"> Tour is now visible on your toursite </span>
									<br class="hidden-sm hidden-md hidden-lg">
									<br class="hidden-sm hidden-md hidden-lg">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="tour_utils">
										<div class="tour_share dropdown">
											<a href="#" data-toggle="modal" data-target="#askSocialSharingOptions" class="dropdown-toggle btn btn-primary outline" ng-click="vm.index = $index"><i class="zmdi zmdi-share"></i></a>
											<!-- <ul class="dropdown-menu">
												<li><a href="#" ng-click="vm.shareOnSocialAccount('facebook', vm.products[$index])">facebook</a></li>
												<!-- For mobile phones where whatsapp option will be present -->
												<!-- <li><a href="intent://send/+919535480729#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" ng-click="vm.shareOnSocialAccount('facebook', vm.products[$index])">facebook</a></li> -->
												<!--<li><a href="#" ng-click="vm.shareOnSocialAccount('twitter', vm.products[$index])">twitter</a></li>
											</ul> -->
										</div>
										<div class="tour_preview">
											<a class="btn btn-primary outline" ng-click="vm.showTourPreview($index)">
												<i class="zmdi zmdi-sign-in"></i>preview
											</a>
										</div>
										<div class="tour_edit">
											<a class="btn btn-primary outline" ng-click="vm.editTourDetails($index)"><i class="zmdi zmdi-edit"></i>Edit</a>
										</div>
										<!-- For now, no more action item here -->
										<!-- <div class="tour_more dropdown">
											<a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-primary outline"><i class="zmdi zmdi-more-vert"></i></a>
											<ul class="dropdown-menu">
												<li><a href="#">facebook</a></li>
												<li><a href="#">twitter</a></li>
											</ul>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="pagination" ng-if="vm.products.length > 0">
								<a href="#" ng-click="vm.decrementWindowSize()" style="margin-right: 5px;">&laquo;</a>
								<a href="#" ng-click="vm.decrementPageNumber()" style="margin-right: 10px;">&lsaquo;</a>
								<a href="#" ng-if="vm.pageCounterArray.length > 5 && !vm.showAtLast" ng-click="vm.changePageNumber(0)"> 1 </a>
								<a ng-if="vm.pageCounterArray.length > 5 && !vm.showAtLast">...</a>
								<a href="#" ng-repeat="page in vm.pageCounterArray.slice(vm.pageFrom,vm.pageTo) track by $index" ng-class="{active: vm.pageFrom + $index + 1 == vm.currentPageNumber}" ng-click="vm.changePageNumber(vm.pageFrom + $index)">{{vm.pageFrom + $index + 1}}</a>
								<a ng-if="vm.pageCounterArray.length > 5 && vm.showAtLast">...</a>
								<a href="#" ng-if="vm.pageCounterArray.length > 5 && vm.showAtLast" ng-click="vm.changePageNumber(vm.pageCounterArray.length - 1)"> {{vm.pageCounterArray.length}} </a>
								
								<a href="#" ng-click="vm.incrementPageNumber()" style="margin-left: 10px;">&rsaquo;</a>
								<a href="#" ng-click="vm.incrementWindowSize()" style="margin-left: 5px;">&raquo;</a>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<span> Show &nbsp; 
							<select ng-model="vm.numberOfItemsInOnePage" ng-change="vm.changeItemsPerPage(vm.numberOfItemsInOnePage)">
								<option value="5">5</option>
								<option value="10">10</option>
							</select>
							&nbsp; tours per page
						</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
			<div class="modal-content">
				<div class="modal-body">
					<img ng-src="" alt="" />
					<p></p>
				</div>
			</div>
		</div>
	</div>

	<div id="askSocialSharingOptions" class="modal fade" tabindex="-1" role="dialog">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title">where you want to Share</h4>
	            </div>
	            <div class="modal-body">
	                <div class="row text-center">
			            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			            	<a id="facebookSharing" class="btn btn-primary btn-facebook shareButton" ng-href="{{askForAuthentication}}" ng-click="vm.postTheProductOnFB()" target="_self">
			                	<span class="fa fa-facebook"></span> Facebook
			               	</a>
			            </div>
			            <br>
			            <br>
			            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 twitter">
			            	<a id="postOnTwitter" class="btn btn-primary btn-twitter shareButton" ng-click="vm.tweetTheProduct()">
			            	   	<span class="fa fa-twitter"></span>
								Twitter
							</a>
			            </div>
			            <br>
			            <br>
			            <div class="hidden-lg hidden-md hidden-sm col-xs-12">
			            	<!-- <a href="whatsapp://send" data-text="Take a look at this awesome website:" data-href="" class="btn btn-primary btn-whatsapp shareButton">-->
			            	<a href="intent://send/+919535480729#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" ng-click="vm.shareOnSocialAccount('facebook', vm.products[$index])" class="btn btn-primary btn-whatsapp shareButton">
			                	<span class="fa fa-whatsapp"></span> Whatsapp
			               	</a>
			            </div>
			        </div>
	            </div>
	            <br>
	            <div class="modal-footer">
	                <button id="closeSharingOptions" type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var $lightbox = $('#lightbox');

		$('[data-target="#lightbox"]').on('click', function(event) {
			var $img = $(this).parents(".panel").find(".tour_left img"),
				src = $img.attr('src'),
				alt = $img.attr('alt'),
				css = {
					'maxWidth': $(window).width() - 100,
					'maxHeight': $(window).height() - 100
				};
				if($img.length == 0){
					$lightbox.find("p").html("No Image");
					$lightbox.find('img').attr('src', "");
				}else{
					$lightbox.find("p").html("");
					$lightbox.find('.close').addClass('hidden');
					$lightbox.find('img').attr('src', src);
					$lightbox.find('img').attr('alt', alt);
					$lightbox.find('img').css(css);
				}
		});
		$lightbox.on('shown.bs.modal', function (e) {
			var $img = $lightbox.find('img');

			$lightbox.find('.modal-dialog').css({'width': $img.width()});
			$lightbox.find('.close').removeClass('hidden');
		});
	});

</script>