<section class="container-fluid tour-details-section" style="background-color:#F8F6F4;">
    <main class="cd-main-content">
         <div class="promo-section master-slider ms-promo-1" id="masterslider-promo">
            <div class="ms-slide">
                <img src="assets/plugins/master-slider/masterslider/style/blank.gif" data-src="modules/core/client/img/promo/picjumbo.com_vranov-czech-republic.jpg" alt="ALT">
            </div>
        </div>

                <!--tour detail-->
        <div class="tourDetail">
            <div class="row">
                <!--Tour Description-->
                <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-social-icon-container google-container" >
                    <i class="fa fa-google-plus" aria-hidden="true" style="color:#fff;cursor:pointer;"></i>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-social-icon-container facebook-container" >
                    <i class="fa fa-facebook" aria-hidden="true" style="color:#fff;cursor:pointer;"></i></i>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-social-icon-container pinterest-container" >
                   <i class="fa fa-pinterest-p" aria-hidden="true" style="color:#fff;cursor:pointer;"></i></i>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-social-icon-container twitter-container" >
                   <i class="fa fa-twitter" aria-hidden="true" style="color:#fff;cursor:pointer;"></i></i>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-social-icon-container linkedin-container" >
                   <i class="fa fa-linkedin" aria-hidden="true" style="color:#fff;cursor:pointer;"></i></i>
                </div>

                <div class="col-xs-12 col-md-8 col-lg-8 tourDetail-Description-card">        
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-lg-6 tourDetail-host-image-container">
                                <img src="modules/users/client/img/profile/default.png" alt=""/>
                            </div>
                            <div class="col-xs-6 col-md-6 col-lg-6 tourDetail-card-title">
                                <span style="font-size: 1.5em;color:#4A4A4A;"><b>{{tour.tourname}}</b></span> <br>
                                <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 1.2em;color:#F15A29;">&nbsp; Ratnagad, Maharashtra</i>

                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <!--Here we need to put dynamic row creation logic as in exploretours.client.view.html-->
                                <div class="row">
                                    <div class="col-xs-2 col-md-2 col-lg-2">
                                        <img src="modules/core/client/img/activities/rockclimbing.png" alt="" class="tourDetail-theme-img" />
                                    </div>
                                    <div class="col-xs-4 col-md-4 col-lg-4 tourDetail-theme-details">
                                       Trekking Expedition
                                    </div>

                                    <div class=" col-xs-2 col-md-2 col-lg-2">
                                        <img src="modules/core/client/img/theme/ecotour.png" alt="" class="tourDetail-theme-img" />

                                    </div>
                                    <div class="col-xs-4 col-md-4 col-lg-4 tourDetail-theme-details">
                                       Eco Tour
                                    </div>
                                </div>
                            </div>

                            <div class=" col-xs-12 col-md-6 col-lg-6 xs-div-margin">
                            <!--Here we need to put dynamic row creation logic as in exploretours.client.view.html-->
                                <div class="row ">
                                    <div class="col-xs-6 col-md-6 col-lg-6 tourDetail-activitylist">
                                        Trekking
                                    </div>

                                    <div class="col-xs-6 col-md-6 col-lg-6 tourDetail-activitylist">
                                        Cycling tour
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-xs-3 col-md-1 col-lg-1 ">
                               <img src="modules/core/client/img/assets/mapmarker.png" alt="" style="padding-left:4px;" />
                            </div>
                            <div class="col-xs-9 col-md-3 col-lg-3">
                                <span class="tourDetail-Description-heading-common-style">Starts / Ends </span><br>
                                <span class="tourDetail-Description-detail-common-style">New Delhi / New Delhi </span>
                            </div>

                            <div class="col-xs-3 col-md-1 col-lg-1 ">
                                <img src="modules/core/client/img/assets/clock.png" alt=""/>
                            </div>
                            <div class="col-xs-9 col-md-3 col-lg-3">
                                <span class="tourDetail-Description-heading-common-style">Duration </span><br>
                                <span class="tourDetail-Description-detail-common-style">4 Days </span>
                            </div>

                            <div class="col-xs-3 col-md-1 col-lg-1 ">
                                
                                    <img src="modules/core/client/img/assets/physicaldemand.png" alt=""  />
                                
                            </div>
                            <div class="col-xs-9 col-md-3 col-lg-3">
                                <span class="tourDetail-Description-heading-common-style">Physical Demand </span><br>
                                <span class="tourDetail-Description-detail-common-style">Moderate </span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!--Tour description ends here-->

                <!--Tour pricing, Departure and booking request-->
                <div class="col-xs-12 col-md-4 col-lg-4 tourDetail-Pricing-Booking-card">        
                    <div class="card-content">
                        <div class="row">
                        <div class="col-xs-12 col-md-12, col-lg-12">
                        <div class="tourDetail-pricedetails">
                            <span class="startprice">Starting from <i class="fa fa-rupee"></i><span>1200</span></span><br>
                            <div class="row">
                                <div class="col-xs-3 percentprice">
                                    <p>10%</p>
                                </div>
                                <div class="col-xs-9 originalprice">
                                    <i class="fa fa-rupee"></i><span>1500</span>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        <hr>
                        <div class="tourDetail-bookingetails">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 col-lg-4">
                                    <i class="fa fa-calendar" aria-hidden="true" style="font-size: 2.5em;color:grey;"></i>
                                </div>
                                <div class="col-xs-8 col-md-8 col-lg-8 tourDetail-bookingetails-departure-div">
                                    <span class="tourDetail-bookingetails-departure-heading">Next Departures </span><br>
                                    <span class="tourDetail-bookingetails-departure-details">12th May, 17th Jun, 21 Aug </span><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-bookingetails-booking-section">
                                    <div class="tourDetail-commonbutton">
                                        <p>Request Booking</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tour pricing, Departure and booking request ends here-->
            </div>
        </div>

        <div class="tourDetail-overview">
            <div class="row">
                <!--Tour overview-->
                <div class="col-xs-12 col-md-8 col-lg-8 tourDetail-information-card">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <i class="fa fa-binoculars" aria-hidden="true" style="font-size:1.5em;color:#F15A29;"></i>
                            <span style="font-weight: bold; font-size:1.5em; padding-left:8px; color:#636466;">Overview</span>
                            <p class="minimize" style="padding: 0 0 20px;font-size:1.2em;color:#9B9B9B;">I am entering dummy data here for now. This data will be visible till a certain limit and after that user will have to click on show more to see rest of the data. Isn't it so awesome. Because if user do not want to read this section, why to waste the page spae by showing all of it. I am liking this idea. what are your views on this. please share your views. Thanks. <hr></p>
                        </div>
                    </div>
                    <div class="row">
                        <!--Tour at a glance-->
                        <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-information-card">        
                            <i class="fa fa-th-list" aria-hidden="true" style="font-size:1.5em;color:#F15A29;"></i>
                            <span style="font-weight: bold; font-size:1.5em; padding-left:8px;color:#636466;">At a Glance</span><br><br>
                            
                            <div style="display:block;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-lg-3" style="float:left; color:#9B9B9B; font-size:1.2em;">
                                        <span>Travel Style: </span>
                                    </div>
                                    <div class="col-xs-8 col-md-9 col-lg-9" style="color:#636466;font-size:1.2em;">
                                        <span>Active</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display:block;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-lg-3" style="float:left; color:#9B9B9B; font-size:1.2em;">
                                        <span>Suitable for: </span>
                                    </div>
                                    <div class="col-xs-8 col-md-9 col-lg-9" style="color:#636466;font-size:1.2em;">
                                        <span>16-50 years old</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display:block;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-lg-3" style="float:left; color:#9B9B9B; font-size:1.2em;">
                                        <span>Group Size: </span>
                                    </div>
                                    <div class="col-xs-8 col-md-9 col-lg-9" style="color:#636466;font-size:1.2em;">
                                        <span>2-5</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display:block;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-lg-3" style="float:left; color:#9B9B9B; font-size:1.2em;">
                                        <span>Social Type: </span>
                                    </div>
                                    <div class="col-xs-8 col-md-9 col-lg-9" style="color:#636466;font-size:1.2em;">
                                        <span>Groups</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display:block;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-lg-3" style="float:left; color:#9B9B9B; font-size:1.2em;">
                                        <span>Guiding Style: </span>
                                    </div>
                                    <div class="col-xs-8 col-md-9 col-lg-9" style="color:#636466;font-size:1.2em;">
                                        <span>Guided</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display:block;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-lg-3" style="float:left; color:#9B9B9B; font-size:1.2em;">
                                        <span>Service Style: </span>
                                    </div>
                                    <div class="col-xs-8 col-md-9 col-lg-9" style="color:#636466;font-size:1.2em;">
                                        <span>Luxury</span>
                                    </div>
                                </div>
                            </div>
                           
                            <div style="display:block;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-lg-3" style="float:left; color:#9B9B9B; font-size:1.2em;">
                                        <span>Attractions: </span>
                                    </div>
                                    <div class="col-xs-8 col-md-9 col-lg-9" style="color:#636466;font-size:1.2em;">
                                        <span>Glocier, Lake</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display:block;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-lg-3" style="float:left; color:#9B9B9B; font-size:1.2em;">
                                        <span>Best Season: </span>
                                    </div>
                                    <div class="col-xs-8 col-md-9 col-lg-9" style="color:#636466;font-size:1.2em;">
                                        <span>All year round</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display:block;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-3 col-lg-3" style="float:left; color:#9B9B9B; font-size:1.2em;">
                                        <span>Availability: </span>
                                    </div>
                                    <div class="col-xs-8 col-md-9 col-lg-9" style="color:#636466;font-size:1.2em;">
                                        <span>Fixed Departure</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--Tour at a glance ends here-->
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <!--Itinerary section-->
                        <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-information-card">        
                            <i class="fa fa-calendar" aria-hidden="true" style="font-size:1.5em;color:#F15A29;"></i>
                            <span style="font-weight: bold; font-size:1.5em; padding-left:8px;color:#636466;">Itinerary</span><br><br>
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-itinerary-card">
                            <div class="row">
                                <div class="col-xs-12 col-md-3 col-lg-3">
                                    <img src="modules/core/client/img/promo/greece-2.jpg" alt="" class="destination-image-container" />                                    
                                </div>
                                <div class="col-xs-12 col-md-9 col-lg-9">
                                    <span class="itinerary-heading">Day 1 - Travel to Base Camp </span> <br>
                                    <span class="itinerary-details">This is the dummy data for the itineraries. For now, we are putting the same data for all the days, but later on, we will put the exact data dynamically. Hope this will work for everyone. Anyways designwise, how is it looking. </span> <br>
                                </div>
                            </div>
                            <br>
                            <!--from here we will use ng-repeat and ydnamically fetch all he itineraries irrespective of number of days-->
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <span class="itinerary-heading">Day 2 - Hike to Rudra Meadow </span> <br>
                                    <span class="itinerary-details">This is the dummy data for the itineraries. For now, we are putting the same data for all the days, but later on, we will put the exact data dynamically. Hope this will work for everyone. Anyways designwise, how is it looking. </span> <br>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <span class="itinerary-heading">Day 3 - Hike to Rudra Meadow </span> <br>
                                    <span class="itinerary-details">This is the dummy data for the itineraries. For now, we are putting the same data for all the days, but later on, we will put the exact data dynamically. Hope this will work for everyone. Anyways designwise, how is it looking. </span> <br>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <span class="itinerary-heading">Day 4 - Descend from Rudra Meadow </span> <br>
                                    <span class="itinerary-details">This is the dummy data for the itineraries. For now, we are putting the same data for all the days, but later on, we will put the exact data dynamically. Hope this will work for everyone. Anyways designwise, how is it looking. </span> <br>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <span class="itinerary-heading">Day 5 - Descend from Rudra Meadow </span> <br>
                                    <span class="itinerary-details">This is the dummy data for the itineraries. For now, we are putting the same data for all the days, but later on, we will put the exact data dynamically. Hope this will work for everyone. Anyways designwise, how is it looking. </span> <br>
                                </div>
                            </div>
                        </div>
                        <!--Itinerary section ends here-->
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <!--Guidelines-->
                        <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-information-card">        
                            <i class="fa fa-hand-o-right" aria-hidden="true" style="font-size:1.5em;color:#F15A29;"></i>
                            <span style="font-weight: bold; font-size:1.5em; padding-left:8px;color:#636466;">Guidelines</span>
                        </div>

                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                        <span style="font-weight: bold; font-size:1.2em; color:#636466;">What to bring? </span> <br>
                                        <div style="font-size:1.2em;color:#636466;">
                                            <!--Here we will put ng-repeat for dynamicity-->
                                            <li class="fa fa-check">&nbsp;Traveller photograph</li>
                                            <li class="fa fa-check">&nbsp;Traveller ID proof</li>
                                        </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                        <span style="font-weight: bold; font-size:1.2em; color:#636466;">What to carry? </span> <br>
                                        <div style="font-size:1.2em;color:#636466;">
                                            <!--Here we will put ng-repeat for dynamicity-->
                                            <li class="fa fa-check">&nbsp;Your personal belongings</li>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!--Guidelines ends here-->
                    </div>
                    <br>
                    <hr>

                    <div class="row">
                        <!--Inclusions-->
                        <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-information-card">        
                            <i class="fa fa-plus-square-o" aria-hidden="true" style="font-size:1.5em;color:#F15A29;"></i>
                            <span style="font-weight: bold; font-size:1.5em; padding-left:8px;color:#636466;">Inclusions</span>
                        </div>

                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div style="margin-left:-42px;" class="bullets">
                                        <!--Here we will put ng-repeat for dynamicity-->
                                        <ul>
                                            <li class="fa fa-check" style="font-weight:bold;color:#636466;">&nbsp;Accommmodaion</li>
                                                <ul style="margin-left:20px;">
                                                    <li class="fa fa-check" style="color:#636466;">&nbsp;Budget hotel during 3 nights</li>
                                                    <li class="fa fa-check" style="color:#636466;">&nbsp;Tent on twin sharing basis during 2 days</li>
                                                </ul>
                                            
                                            <li class="fa fa-check" style="font-weight:bold;color:#636466;">&nbsp;Meals</li>
                                            <li class="fa fa-check" style="font-weight:bold;color:#636466;">&nbsp;Transport</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Inclusions ends here-->
                    </div>
                    <br>
                    <hr>

                    <div class="row">
                        <!--exclusions-->
                        <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-information-card">        
                            <i class="fa fa-minus-square-o" aria-hidden="true" style="font-size:1.5em;color:#F15A29;"></i>
                            <span style="font-weight: bold; font-size:1.5em; padding-left:8px;color:#636466;">Exclusions</span>
                        </div>

                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div style="margin-left:-42px;" class="bullets">
                                        <!--Here we will put ng-repeat for dynamicity-->
                                        <ul>
                                            <li class="fa fa-times" style="font-weight:bold;color:#636466;">&nbsp;Visa</li>
                                            <li class="fa fa-times" style="font-weight:bold;color:#636466;">&nbsp;Insurance</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--exclusions ends here-->
                    </div>
                    <br>
                    <hr>

                    <div class="row">
                        <!--Prices-->
                        <div class="col-xs-12 col-md-12 col-lg-12 tourDetail-information-card">        
                            <i class="fa fa-money" aria-hidden="true" style="font-size:1.5em;color:#F15A29;"></i>
                            <span style="font-weight: bold; font-size:1.5em; padding-left:8px;color:#636466;">Prices</span>
                        </div>

                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 col-lg-4">
                                    <span style="font-weight:bold; color:#636466;font-size:1.2em;">Price Type</span><br>
                                    <span style="color:grey;font-size:1.2em;color:#636466;">By Person</span>
                                </div>
                                <div class="col-xs-8 col-md-8 col-lg-8" >
                                    <span style="font-weight:bold; color:#636466;font-size:1.2em;">Price / Prson</span><br>
                                    <span style="color:grey;font-size:1.2em;color:#636466;"><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;1500 /-</span>
                                </div>
                            </div>
                        </div>
                        <!--Prices ends here-->
                    </div>
                </div>
                <!--Tour overview end-->

                <!--Queries contact us and about host-->
                
                <div class="col-xs-12 col-md-4 col-lg-4 tourDetail-queries-card">        
                    <div class="card-content">
                        <div class="tourDetail-queries-host">
                            <span class="askquestions">Have Questions?</span><br>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: -20px;">
                                    <div class="tourDetail-commonbutton">
                                        <p>contact Host</p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div style="margin-top:5px; margin-left:5px;color:grey;font-size:1.2em;">
                                <span>(Responds within 5 hours)</span>
                            </div>
                        </div>
                        <br>
                        <hr>
                        
                        <div class="tourDetail-queries-to-us">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="tourDetail-contactusbutton">
                                        <div class="row">
                                            <div class="col-xs-3 col-md-3 col-lg-3">
                                                <div class="col-xs-3 tourDetail-contactusbutton-symbol">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                </div>
                                                
                                            </div>
                                            <div class="col-xs-9 col-md-9 col-lg-9">
                                                <p>Or just give us a call<br>
                                                +91 955-955-9559</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 col-lg-4 tourDetail-about-host-card">        
                    <div class="card-content">
                        <div class="abouthost">
                            <span style="font-weight: bold;color:#636466;">About Tour Host</span>
                        </div>
                        <div class="tourDetail-host-image-container">
                            <img src="http://cdn.tourradar.com//data/images_source/operator_logos_new_layout/250_115/G-Adventures.png" alt="" class="operator-img" />
                        </div>
                        <br>
                        <div class="abouthost">
                            <span style="font-weight: bold;color:#636466;">Sunshine Trek Company</span><br>
                            <span style="color: #9B9B9B;">Type : Tour Operator</span><br>
                            <hr>
                            <div>
                                <i class="fa fa-check-circle-o" aria-hidden="true" style="color:#82C343; font-size:1.5em;"></i>
                                <span style="color:#9B9B9B; padding-left:8px;font-size:1.2em;"> Verified </span>
                            </div>
                            <hr>
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <p class="minimize" style="padding: 0 0 20px;color:#9B9B9B;">I am entering dummy data here for now. This data will be visible till a certain limit and after that user will have to click on show more to see rest of the data. Isn't it so awesome. Because if user do not want to read this section, why to waste the page spae by showing all of it. I am liking this idea. what are your views on this. please share your views. Thanks. <hr></p>
                            </div>
                            <div class="operatingsince">
                                <span style="color: grey;float: left;">Operating since: 1998</span>
                                <br>
                                <div class="operatingfrom">
                                    <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 1em;color:grey;">
                                    </i><span style="padding-left:8px;">Nainital, Uttarakhand</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <!--Queries contact us and about host ends here-->
            </div>
        </div>
        <!--tour detail overview and contact us ends here-->
    </main>
</section>


<script type="text/javascript" src="lib/scripts-inside-html/js/promo.js"></script>
<link rel="stylesheet" href="lib/scripts-inside-html/master-slider/css/masterslider.css">
<script src="lib/scripts-inside-html/master-slider/js/masterslider.js"></script>