<div class="hostHome container-fluid" id="tours">
	<div>
		<div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'"></div>
	</div>
	<div class="row body-content" >
		<div class="main-body-wrapper">
			<div id="tours_list" class="container-fluid">
				<div class="row body-content tourlist-content">
					<div class="col-md-12 col-sm-12 col-lg-12 ">
						<div ng-include="'/modules/hosts/client/views/tours/top-nav-tourlist.client.view.html'"></div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 pull-right tour_details">
								<div class="panel">
									<div class="row">
										<div class="col-sm-6 col-md-6 col-lg-6 tour_left">
											<img src="modules/core/client/img/signin-signup/background/bg_login.jpg" alt="" class="img-responsive" alt="7 Days Tour to Sandhan Valley"/>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-6 tour_right">
											<p class="tour_details">7 Days Tour to <span>Sandhan Valley</span></p>
											<p class="tour_location"><i class="zmdi zmdi-pin-drop"></i> Himachal, India</p>
											<div class="info_visible">
												<label class="visible" for="myonoffswitch1">Visible</label>
												<div class="onoffswitch">
													<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
													<label class="onoffswitch-label" for="myonoffswitch1"></label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 col-md-12 col-lg-12">
											<div class="tour_utils">
												<div class="tour_share dropdown">														
													<a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-primary outline"><i class="zmdi zmdi-share"></i></a>
													<ul class="dropdown-menu">
														<li><a href="#">facebook</a></li>
														<li><a href="#">twitter</a></li>
													</ul>
												</div>
												<div class="tour_preview">
													<a href="#" class="btn btn-primary outline" data-toggle="modal" data-target="#lightbox">
														<i class="zmdi zmdi-sign-in"></i> preview
													</a>
												</div>
												<div class="tour_edit">
													<a href="#" class="btn btn-primary outline"><i class="zmdi zmdi-edit"></i> Edit</a>
												</div>
												<div class="tour_more dropdown">														
													<a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-primary outline"><i class="zmdi zmdi-more-vert"></i></a>
													<ul class="dropdown-menu">
														<li><a href="#">facebook</a></li>
														<li><a href="#">twitter</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 pull-right tour_details">
								<div class="panel">
									<div class="row">
										<div class="col-sm-6 col-md-6 col-lg-6 tour_left no-image">
											<div class="no_image">
												<div>
													<i class="zmdi zmdi-image-alt"></i>
													<span>no picture</span>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-6 tour_right">
											<p class="tour_details">7 Days Tour to <span>Sandhan Valley</span></p>
											<p class="tour_location"><i class="zmdi zmdi-pin-drop"></i> Himachal, India</p>
											<div class="info_visible">
												<label class="visible" for="myonoffswitch2">Visible</label>
												<div class="onoffswitch">
													<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
													<label class="onoffswitch-label" for="myonoffswitch2"></label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 col-md-12 col-lg-12">
											<div class="tour_utils">
												<div class="tour_share dropdown">														
													<a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-primary outline"><i class="zmdi zmdi-share"></i></a>
													<ul class="dropdown-menu">
														<li><a href="#">facebook</a></li>
														<li><a href="#">twitter</a></li>
													</ul>
												</div>
												<div class="tour_preview">
													<a href="#" class="btn btn-primary outline" data-toggle="modal" data-target="#lightbox">
														<i class="zmdi zmdi-sign-in"></i> preview
													</a>
												</div>
												<div class="tour_edit">
													<a href="#" class="btn btn-primary outline"><i class="zmdi zmdi-edit"></i> Edit</a>
												</div>
												<div class="tour_more dropdown">														
													<a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-primary outline"><i class="zmdi zmdi-more-vert"></i></a>
													<ul class="dropdown-menu">
														<li><a href="#">facebook</a></li>
														<li><a href="#">twitter</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 pull-right tour_details">
								<div class="panel">
									<div class="row">
										<div class="col-sm-6 col-md-6 col-lg-6 tour_left">
											<img src="images/bg_login2.jpg" alt="" class="img-responsive" alt="7 Days Tour to Sandhan Valley"/>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-6 tour_right">
											<p class="tour_details">7 Days Tour to <span>Sandhan Valley</span></p>
											<p class="tour_location"><i class="zmdi zmdi-pin-drop"></i> Himachal, India</p>
											<div class="info_visible">
												<label class="visible" for="myonoffswitch3">Visible</label>
												<div class="onoffswitch">
													<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
													<label class="onoffswitch-label" for="myonoffswitch3"></label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 col-md-12 col-lg-12">
											<div class="tour_utils">
												<div class="tour_share dropdown">														
													<a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-primary outline"><i class="zmdi zmdi-share"></i></a>
													<ul class="dropdown-menu">
														<li><a href="#">facebook</a></li>
														<li><a href="#">twitter</a></li>
													</ul>
												</div>
												<div class="tour_preview">
													<a href="#" class="btn btn-primary outline" data-toggle="modal" data-target="#lightbox">
														<i class="zmdi zmdi-sign-in"></i> preview
													</a>
												</div>
												<div class="tour_edit">
													<a href="#" class="btn btn-primary outline"><i class="zmdi zmdi-edit"></i> Edit</a>
												</div>
												<div class="tour_more dropdown">														
													<a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-primary outline"><i class="zmdi zmdi-more-vert"></i></a>
													<ul class="dropdown-menu">
														<li><a href="#">facebook</a></li>
														<li><a href="#">twitter</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--  ===========  footer  ===========   -->
						<div class="footer">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<footer>
										<div class="wrap text-center">
											<ul class="nav navbar-nav social center-text">
												<li><a href="#">About TourGecko</a></li>
												<li><a href="#">FAQ</a></li>
												<li><a href="#">Sitemap</a></li>
												<li><a href="#">Contact Us</a></li>
												<li><a href="#">Terms of Use</a></li>
												<li><a href="#">Privacy Policy</a></li>
											</ul>
											<p class="copyright">&copy; 2016 TourGecko. All rights reserved.</p>
										</div>
									</footer>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
				<div class="modal-content">
					<div class="modal-body">
						<img src="" alt="" />
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(".navbar-toggle").click(function(e){
		e.preventDefault();
		if($("li[data-toggle='slide-collapse']").hasClass("toggle")){
			$("li[data-toggle='slide-collapse']").removeClass("toggle");
		}else{
			$(".main-wrapper").toggleClass("toggle");
		}
		e.stopPropagation();
	});
	$("li[data-toggle='slide-collapse']").click(function(e){
		e.stopPropagation();
		$(this).toggleClass("toggle");
	});
	$(".sub-menu").click(function(e){
		e.stopPropagation();
	});
	$(document).click(function () {
		if($("li[data-toggle='slide-collapse']").hasClass("toggle")){
			$("li[data-toggle='slide-collapse']").removeClass("toggle");
		}else{
			$(".main-wrapper").removeClass("toggle");
		}
	});
	
	$(document).ready(function() {
		var $lightbox = $('#lightbox');
		
		$('[data-target="#lightbox"]').on('click', function(event) {
			var $img = $(this).parents(".panel").find(".tour_left img"),
				src = $img.attr('src'),
				alt = $img.attr('alt'),
				css = {
					'maxWidth': $(window).width() - 100,
					'maxHeight': $(window).height() - 100
				};
				if($img.length == 0){
					$lightbox.find("p").html("No Image");
					$lightbox.find('img').attr('src', "");
				}else{
					$lightbox.find("p").html("");
					$lightbox.find('.close').addClass('hidden');
					$lightbox.find('img').attr('src', src);
					$lightbox.find('img').attr('alt', alt);
					$lightbox.find('img').css(css);
				}
		});
		
		$lightbox.on('shown.bs.modal', function (e) {
			var $img = $lightbox.find('img');
				
			$lightbox.find('.modal-dialog').css({'width': $img.width()});
			$lightbox.find('.close').removeClass('hidden');
		});
	});
	
</script>