<div class="home_add_tour home_add_tour_margin fixed-in-div">
	<h2><i class="zmdi zmdi-landscape"></i> Create Tour</h2>
	<div class="tours_head_content pull-right hidden-xs">
		<div class="help_info">
			<label class="help" for="helpOnOffswitch">help</label>
			<div class="onoffswitch">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="helpOnOffswitch" ng-model="vm.helpVisible">
				<label class="onoffswitch-label" for="helpOnOffswitch"></label>
			</div>
			<div class="tour_pagination">
              	<a class="tour_prev" href="#">Prev</a>
              	<a class="tour_next" href="#">Next</a>
           </div>
		</div>
		<!-- <div class="tour_pagination">
			<a class="tour_prev" href="#">Prev</a>
			<p>step <span class="current_page">2</span> <span class="no_of_pages">6</span></p>
			<a class="tour_next" href="#">Next</a>
		</div> -->
		<div class="save-button">
			<a class="btn btn-primary save-btn" ng-click="vm.save(vm.form.tourForm.$valid)"><i class="zmdi zmdi-floppy"></i>Save</a>
		</div>
		<!-- <div class="create-button">
			<a class="btn btn-warning save-btn" ng-click="vm.create(vm.form.tourForm.$valid)"><i class="zmdi zmdi-floppy"></i>Create</a>
		</div> -->
	</div>							
</div>