<div class="home_add_tour home_add_tour_margin fixed-in-div">
	<i class="zmdi zmdi-landscape heading-icn"></i>
	<h2>{{vm.tourActionCanBePerformed}}</h2>
	<div class="tours_head_content pull-right">
		<div class="help_info">
			<label class="help" for="helpOnOffswitch">help</label>
			<div class="onoffswitch">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="helpOnOffswitch" ng-model="vm.helpVisible">
				<label class="onoffswitch-label" for="helpOnOffswitch"></label>
			</div>
			<div class="tour_pagination hidden-xs">
              	<a class="tour_prev" href="#" onclick="changeTabWithNoTabId('previous')">Prev</a>
              	<a class="tour_next" href="#" onclick="changeTabWithNoTabId('next')">Next</a>
           </div>
		</div>
		<div class="preview-button">
			<div class="btn btn-primary outline btn-preview" ng-click="goToPreviewPage()"><i class="zmdi zmdi-square-right"></i>&nbsp;Preview</div>
		</div>
		<div class="save-button">
			<a class="btn btn-primary save-btn" ng-click="vm.save(vm.form.tourForm.$valid)" ng-disabled="vm.saveBtnDisabled"><i class="zmdi zmdi-floppy"></i>Save</a>
		</div>
	</div>							
</div>