#singleTourBookButtonPreview a:hover {
  text-decoration: underline;
}
.tourgeckoBookButton { 
  position: fixed;
  top:35%;
  right: 6.8%;
  display: block;
  min-height: 100px; 
  height: auto;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transform-origin: 100% 100%;
   -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
     -o-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
  -webkit-transform: rotate(90deg) translate(50%, 50%);
   -moz-transform: rotate(90deg) translate(50%, 50%);
    -ms-transform: rotate(90deg) translate(50%, 50%);
     -o-transform: rotate(90deg) translate(50%, 50%);
        transform: rotate(90deg) translate(50%, 50%);
}
.tourgeckoBookButton a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.tourgeckoBookButton a:hover {
    text-decoration: underline; 
}
.tourgeckoBookButton .easing {
    overflow:hidden; 
    margin:10px 0;
}
.tourgeckoBookButton .easing button {
    font-size:1.1em;
    float:left;
    clear:left;
    line-height:1;
    cursor:pointer;
};

@media  (max-width: 767px) {

  .tourgeckoBookButton {
    float: left;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #f1f1f1;
    padding: 5px;
    z-index: 2222;
    border-radius: 0;
  }

  .tourgeckoAnchorBookButton {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    height: auto;
    border-radius: 0;
  }
}

@media  (max-width: 360px) {

  .tourgeckoBookButton {
    float: left;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #f1f1f1;
    padding: 5px;
    z-index: 2222;
    border-radius: 0;
  }

  .tourgeckoAnchorBookButton {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    font-size: 25px;
    color: #fff;
    height: auto;
    font-weight: bold;
    height: auto;
    border-radius: 0;
  }
}

@media  (max-width: 425px) {

  .tourgeckoBookButton {
    float: left;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #f1f1f1;
    padding: 5px;
    z-index: 2222;
    border-radius: 0;
  }

  .tourgeckoAnchorBookButton {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    height: auto;
    border-radius: 0;
  }
}

@media  (max-width: 320px) {

  .tourgeckoBookButton {
    float: left;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #f1f1f1;
    padding: 5px;
    z-index: 2222;
    border-radius: 0;
  }

  .tourgeckoAnchorBookButton {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    font-size: 25px;
    color: #fff;    
    font-weight: bold;
    height: auto;
    border-radius: 0;
  }
}