.bg-highlight{ background-color:#fffff5}
.menu-alert{ height:30px; width:30px; text-align:center; border-radius:50%; padding-top:.5rem; margin-top:.8rem}
.zmdi-airline-seat-recline-normal.check::after{ content: '\f26a'; display: inline-block; font-size:12px; vertical-align: super; margin-left: -.2rem;}
.navbar-nav .btn-block{ width:80%}
p.sub_desc, span.sub_desc{font-size: 12px; line-height: 1.2rem; color:#aaaaaa !important;}
.tourgecko-payments img{ width:200px;}
#bookingTab .list-layout .table {
	margin-bottom: 0;
}
.account-success-padding {
	padding: 1rem !important;
}
.account-success-margin  {
	margin: 1rem !important;
}
.inline-block {
	display:inline-block;
}
.booking-list-version-2 .btn-default:focus, .booking-list-filters .btn-default:hover {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}
span.text-huge {
	font-size:6.2em;
	color:#40c4ff !important;
}
.text-huge-slogan {
	margin-top:-.5rem;
	font-weight: 500;
}
.divider-common  {
	height: 2px;
	overflow: hidden;
    background-color: #e0e0e0;
    clear: both;
}
.divider-thin {
    height: 1px;
}
.bg_orange{ background-color: orange;}
.bg_red{ background-color: #cc0000;}
.bg_green{ background-color: #4CAF50}
.bg_grey{ background-color: #999;}
.bg_white{background-color: #FFF;}
.orange-text{ color: orange;}
.green-text{color: #4CAF50}
.grey-text{color:#999;}
.red-text{color: #cc0000;}
.circle{ border-radius: 50%}
.bg-highlight{ background-color:#fffff5}
.booking-status-icon {
	height: 50px; width: 50px; padding: 1rem; font-size: 4rem; color: #fff; margin-top:4rem
}
.booking-status-icon .zmdi{ display:none;}

/*.booking-date-time-info form { text-align:right}*/
.booking-items-info-label, .booking-items-info-input, .booking-items-info-output{ display:inline-block;}
.booking-items-info-label{ width:50%;}
.booking-items-info-input{ width:20%}
.booking-items-info-output{width:20%; text-align:right}
.booking-items-info-output input{ width:50px; float:right}
#booking-detail .list-group-item{ border:none}
#bookings .card, #current-tour-bookings .card{cursor:pointer; transition: all 0.2s ease-in-out}
#bookings .card:hover, #current-tour-bookings .card:hover{ 
    -webkit-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.16);
box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.16); transition: all 0.2s ease-in-out}
.list-group-item.z-depth-1{ background-color:#f6f6f6; border-radius:0}

.booking-payment-method, .booking-payment-date, .booking-payment-amount {
	width:25%;
	display: inline-block;
	vertical-align: middle;
}
.booking-payment-method{ width:20%;}
.sub_desc.booking-reference{ position:relative; top:-8px}

#action-log .date{color:#999}
#action-log ul{margin-top:2rem}
#action-log li{margin-top:-20px;list-style-type: none;}
#action-log li:before {
    content: "\f26f";
    display: block;
    margin-left: -34px;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    position: relative;
    top: 16px;
	color:#777;
}
#action-log li:after {
    border-left: 1px solid;
    height: 50px;
    display: block;
    content: "";
    margin-left: -28px;
    margin-top: -20px;
	border-color:#999;
}
#action-log li:last-child:after {
    display: none;
}

.nav-bookings .active{border-bottom:2px solid #999}
.bookings-search{ display:flex}

.apply-filters-callout {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    width: 240px;
}
.applied-filters{display:none;}
.remove-filter{ color:#ddd}

.card-layout.hide, .list-layout.hide{ display:none;}
.list-layout td{ font-size:12px;}
.list-layout .card{ cursor:default !important;}
.list-layout .card:hover{ box-shadow:none !important;}
.card-layout-cta.active, .table-layout-cta.active{color:#000; /*border-bottom: 2px solid #999;*/ cursor:default}
.card-layout-cta:focus, .table-layout-cta:focus{ text-decoration:none}
ul.card-booking-details li{ display:flex;}
ul.card-booking-details li span{ line-height:initial; margin-bottom:1rem; min-height:3rem; flex:1; width:0;overflow: hidden;
    text-overflow: ellipsis;}

#settings .settings_payment .activated.inactive{ opacity:.2}
#settings .settings_payment .inactive i{ color:#999}
#settings .settings_payment .bank-account-details{ margin-top:-1rem}
#settings .settings_payment .bank-account-details:after {content: ''; display: block; clear: both;}
#settings .settings_payment .payment-method-detail:after {clear: both; content: ''; display: block;}
#settings .settings_payment .zmdi-chevron-down.chevron-up{-webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); transition:all ease-in-out .5s;}
#settings .settings_payment .zmdi-chevron-down{transition:all ease-in-out .5s; font-size:20px;    vertical-align: bottom;}
#settings .settings_payment .payment-guide{ float:right; margin-top:-2rem}
#tours #tours_media .fileUpload input.upload #settings .account_overview .user_info .info p{font-size: 14px; margin: 0; padding: 0; line-height: 18px;}

.text-100{font-weight:100 !important}
.text-200{font-weight:200 !important}
.text-300{font-weight:300 !important}
.text-400{font-weight:400 !important}
.text-500{font-weight:500 !important}
.text-700{font-weight:700 !important}


.text-readable11, .text-readable11 span { font-size:11px !important; line-height:normal !important;}
.text-readable12, .text-readable12 span { font-size:12px !important; line-height:normal !important;}
.text-readable13, .text-readable13 span { font-size:13px !important; line-height:normal !important;}
.text-readable14, .text-readable14 span { font-size:14px !important; line-height:normal !important;}
.text-readable15, .text-readable15 span { font-size:15px !important; line-height:normal !important;}
.text-readable16, .text-readable16 span { font-size:16px !important; line-height:normal !important;}

.pinboard .head_content{padding:2% 0 0 0; border-bottom: 1px solid #DADBDB;}
.pinboard .info_content{background-color:#fffff5;border-radius:5px;padding:1rem;margin-bottom:1rem;}
.pinboard li .info_content{margin-left:-1rem;margin-bottom:0;}
.pinboard .btn-default{color:#40C4FF;border:1px solid #40C4FF;background:none;}
.pinboard .btn-default:hover{background-color:#fff;}
.pinboard .info{display:inline-block;}
.pinboard .todo{color:#ED9C28;}
.pinboard .info p{font-size:14px;font-weight:400;padding:0;margin:0;line-height:25px;}
.pinboard .dismiss{position:absolute;right:5%;top:50%;transform:translateY(-50%);color:#40C4FF;}
.pinboard .todo, .pinboard .time{display:inline-block;font-weight:900 !important;padding-right:30px !important;}
.pinboard .todo i{font-weight:300;color:#999;}
.pinboard .row{padding:2px 0;}
.pinboard .alert{margin-bottom:1.1rem}
.pin-group li{list-style-type:none;line-height:0;padding:0;margin:0; min-height:70px; }
.pin-group{margin-top:3rem}
.pin-group:after, .pin-group ul{display:block;content:'';clear:right}
.pin-group li:before{content:"\f26f";display:block;margin-left:-34px;font:normal normal normal 14px/1 'Material-Design-Iconic-Font';position:relative;top:36px;color:#777;line-height:0;}
.pin-group li:after{border-left:1px solid;height:130px;display:block;content:"";margin-left:-28px;margin-top:-122px;border-color:#999;line-height:0;position:relative;top:41px; z-index:-1}
.pin-group li:last-child:after{display:none}
.pin-group li:only-child:after{display:block !important; height:50px}
.pull-right {
	float: right !important;
}

.banners-carousel {
	width:100%;
	height: 400px !important;
	object-fit: cover;
}
.noLogoPresent {
	margin-left: 85px !important;
	margin-top: 16px;
}
.footer-menu .noLogoPresent {
	margin-left: 0 !important;
}
.sessionDetails .sessionDetailsFilterNav {
	margin-top: 20px;
	padding-left: 0 !important;
}
#enter-phone-verification-otp input{ width:100px; text-align:center; margin:2rem auto; font-size:1.8rem; font-weight:600}
.sessions .info_content{display: flex}
.sessions .occupancy-indicator{flex: 1;
    text-align: center;
    background-color: transparent;
    border-radius: 6px;
    padding: .5rem;
    margin-right: 1rem;}
.sessions .occupancy-indicator i{font-size: 18; margin-top: .8rem}
.sessions .occupancy-indicator h5{ margin-top: .2rem}
.sessions .session-info{flex: 5}

ul.occupancy-indicator-legend li span{ width: 20px; height:20px; border-radius: 50%; display: block; margin: auto;}
ul.occupancy-indicator-legend{ background-color: #fff; padding: 1rem;float: left; box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10); margin: 0}

.light-blue{ background-color: #e3f2fd !important;}
.light-green{ background-color: #e0f2f1 !important;}
.light-orange{ background-color: #fff3e0 !important;}
.light-red{ background-color: #ffcdd2 !important;}
.light-blue-color{ color: #3fb7ee !important;}
.light-green-color{ color: #34C76E !important;}
.light-orange-color{ color: #f7c836 !important;}
.light-red-color{ color: #EC8484 !important;}
.light-blue-bak-color{ background-color: #3fb7ee !important;}
.light-green-bak-color{ background-color: #34C76E !important;}
.light-orange-bak-color{ background-color: #f7c836 !important;}
.light-red-bak-color{ background-color: #EC8484 !important;}
.light-blue h5 .current{color:#688498}
.light-green h5 .current{color:#008000}
.light-orange h5 .current{color:#bf7f09}
.light-red h5 .current{color:#af0707}
.pinButtonsDynamicStyling .btn.btn-default {
	float: right;
	margin-top: -17px;
}
.fixedDatedTourSessionsAddProductPage .multiselect-native-select select{
	display: none;
}
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .nav-tabs {
	border-bottom: 2px solid #DDD;
}
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .nav-tabs > li.active > a,
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .nav-tabs > li.active > a:focus,
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .nav-tabs > li.active > a:hover {
	border-width: 0;
}
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .nav-tabs > li > a {
	border: none;
	color: #19A0DC;
}
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .nav-tabs > li.active > a,
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .nav-tabs > li > a:hover {
	border: none; color: #444 !important;
	background: transparent;
}
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .nav-tabs > li > a::after {
	content: "";
	background: #444;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .nav-tabs > li.active > a::after,
.fixedDatedTourSessionsAddProductPage .nav-tabs > li:hover > a::after {
	transform: scale(1);
}
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .tab-nav > li > a::after {
	background: #21527d none repeat scroll 0% 0%;
	color: #fff;
}
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .tab-pane {
	padding: 10px 0;
}
.fixedDatedTourSessionsAddProductPage .fixed-date-availability .card {
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	margin-bottom:1rem;
}

.fixedDatedTourSessionsAddProductPage .fixed-date-availability ul.nav-tabs {
	margin:1rem;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){ 
	.booking-trip-start::after{margin-right: -2.6rem; margin-top: -9rem;}  
	.booking-payment-method{width:30%}
	.booking-payment-date{width:42%}
	.booking-payment-amount{width:15%} 
	#booking-detail .input-group-addon.trip-booking-input{ display:none;}
	#booking-detail .form-control.trip-booking-input{border-radius:5px !important}
	#booking-detail .nav-div{ display:none;}
}
@media (max-width: 767px) {
	#booking .booking-analytics .col-sm-6.col-xs-6:nth-child(2){padding-right: .5rem;}
	#booking .booking-analytics .col-sm-6.col-xs-6:nth-child(3){padding-left: .5rem;}
	#booking .col5.col-sm-6.col-xs-6 .text-center{ text-align: left } 
	.outline .col5{ padding-right: 5px; padding-left: 5px}
	.booking-date-time-info form{ display:flex}  
	.booking-payment-method, .booking-payment-amount{ width:25%;}
	.booking-payment-date{width:40%}
	.booking-payment-method.edit-mode, .booking-payment-date.edit-mode, .booking-payment-amount.edit-mode{ display:block; margin-bottom:1rem;}
	#booking-detail .input-group-addon.trip-booking-input{ display:none;}
	#booking-detail .form-control.trip-booking-input{border-radius:5px !important}
	#booking-detail .nav-div{ display:none;}
	.booking-status-icon{ margin-top:0}
	.sign-up-successful{ text-align:center}
	#tours_list .panel .tour_utils {position: relative;width: 100%;padding: 20px 0; border-top: 1px solid #eee;text-align: center; right: 0px; top: 0px;}
	span.text-huge{ font-size:4.5em;}
	.info_content h3, .info_content .btn{margin-top:-34px}
	.pinboard .info{display:block;}
	.pinboard .dismiss{position:relative;right:0;}
	.banners-carousel {
		width:100%;
		height: 250px !important;
		object-fit: cover;
	}
	#bookings .booking-search-input{
		min-width:190px !important;
	}
	#settings .settings_payment .payment-guide{ float:none !important; display:block; margin-top:1rem; margin-bottom:1rem;}
	.noLogoPresent {
		margin-left: 14px !important;
		
	}
	.booking-payment-method, .booking-payment-date, .booking-payment-amount {
		word-wrap: break-word;
	}
	.pinButtonsDynamicStyling .btn.btn-default {
		float: left;
		margin-top: 0;
	}
	.pinButtonsDynamicStyling {
		padding-bottom: 5px;
	}
}
@media (max-width: 425px){
	#settings .settings_payment .payment-guide{ float:none !important; display:block; margin-top:1rem; margin-bottom:1rem;}
	#booking .booking-analytics-icon{ font-size: 2rem;}
	.booking-trip-start::after{margin-right: -1.4rem; margin-top: -3rem;} 
	#bookings .booking-search-input{width:90px !important}
	#bookings .bookings-search .btn.btn-default{ margin-left:2px !important;} 
	.booking-user-parent{ text-align:center;}
	.booking-user-parent .booking-user{ float:none !important;}
	.booking-ref h5{ text-align:center}
	span.text-huge{ font-size:3.5em;}
	h2.text-300{ font-size:1.5em;}
	h4.text-huge-slogan{ font-size:1em}
	.pin-group li:after{height: 130px; margin-left: -28px; margin-top: -123px; top: 40px;}
	.pin-group li:only-child:after{margin-top:-82px; top:0;}
	.pinboard .info{display:block;}
	.pinboard .dismiss{position:relative;right:0;}
	.banners-carousel {
		width:100%;
		height: 250px !important;
		object-fit: cover;
	}
	.noLogoPresent {
		margin-left: 15px !important;
		
	}
	.footer-menu .noLogoPresent {
		margin-left: 0 !important;
	}
	.booking-payment-method, .booking-payment-date, .booking-payment-amount {
		word-wrap: break-word;
	}
	.pinButtonsDynamicStyling .btn.btn-default {
		float: left;
		margin-top: 0;
	}
	.pinButtonsDynamicStyling {
		padding-bottom: 5px;
	}
}
@media (max-width: 320px){   
	#booking-detail .form-control.trip-booking-input {width: 114px;}
	.booking-payment-method{width:20%}
	.booking-payment-date{width:45%}
	.booking-payment-amount{width:30%}
	#bookings .booking-search-input{width:90px !important}
	#settings .settings_payment .payment-guide{ float:none !important; display:block; margin-top:1rem; margin-bottom:1rem;}
	.pin-group li:only-child:after{margin-top:-106px; top:25px;}
	.pinboard .info{display:block;}
	.pinboard .dismiss{position:relative;right:0;}
	.pinboard .update_profile{float:none !important;}
	.banners-carousel {
		width:100%;
		height: 250px !important;
		object-fit: cover;
	}
	.noLogoPresent {
		margin-left: 15px !important;
		
	}
	.footer-menu .noLogoPresent {
		margin-left: 0 !important;
	}
	.booking-payment-method, .booking-payment-date, .booking-payment-amount {
		word-wrap: break-word;
	}
	.pinButtonsDynamicStyling .btn.btn-default {
		float: left;
		margin-top: 0;
	}
	.pinButtonsDynamicStyling {
		padding-bottom: 5px;
	}
}


