
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Account activated</title>
    <style type="text/css">
    img {
        max-width: 100%;
    }
    
    body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        width: 100% !important;
        height: 100%;
        line-height: 1.6em;
    }
    
    body {
        background-color: #f6f6f6;
    }
    
    @media only screen and (max-width: 640px) {
        body {
            padding: 0 !important;
        }
        h1 {
            font-weight: 800 !important;
            margin: 20px 0 5px !important;
        }
        h2 {
            font-weight: 800 !important;
            margin: 20px 0 5px !important;
        }
        h3 {
            font-weight: 800 !important;
            margin: 20px 0 5px !important;
        }
        h4 {
            font-weight: 800 !important;
            margin: 20px 0 5px !important;
        }
        h1 {
            font-size: 22px !important;
        }
        h2 {
            font-size: 18px !important;
        }
        h3 {
            font-size: 16px !important;
        }
        .container {
            padding: 0 !important;
            width: 100% !important;
        }
        .content {
            padding: 0 !important;
        }
        .content-wrap {
            padding: 10px !important;
        }
        .invoice {
            width: 100% !important;
        }
    }
    </style>
</head>

<body itemscope="" itemtype="http://allegoryweb.com" style="font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100% ! important; height: 100%; line-height: 1.6em; background-color: rgb(255, 255, 255); margin: 0px;" bgcolor="#f6f6f6">
    <table class="body-wrap" style="font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: rgb(255, 255, 255); margin: 0px;" bgcolor="#f6f6f6">
        <tbody>
            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
                <td class="container" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" width="600" valign="top">
                    <div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
                        <div class="header" style="font-family:'helvetica,arial,sans-serif;box-sizing' border-box;font-size:14px;margin: 0px;">
                            <a href="http://tourgecko.com"><img src="{{assetOneUrl}}" style="height: 40px;"></a>
                        </div>
                        <table class="main" itemprop="action" itemscope="" itemtype="http://allegoryweb.com" style="font-family:Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 0px; margin: 0px; border-bottom: 1px solid rgb(194, 194, 194); background-color: rgb(240, 240, 240); border-top: 1px solid rgb(194, 194, 194);" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff">
                            <tbody>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">
                                        <meta itemprop="name" content="Confirm Email" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                        <table style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;" width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                    <td class="call-to-action-label" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 24px; vertical-align: top; margin: 0; padding: 0 0 10px;text-align: left;" valign="top">Welcome <span>{{hostName}}</span>
                                                    </td>
                                                </tr>
                                                <tr class="main-message" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 10px;text-align: left;" valign="top">
                                                        Thank you for making tourgecko a part of your business journey . We are excited to have you onboard! Here are your account details for reference:
                                                    </td>
                                                </tr>
                                                <tr class="main-message" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0px;text-align: left;" valign="top">
                                                        <b style="color: rgb(87, 87, 87)">Online Toursite:</b><a href="{{hostToursiteUrl}}" style="color: rgb(83, 194, 239);text-decoration: none;"> {{hostToursiteUrl}}</a>
                                                    </td>
                                                </tr>
                                                <tr class="main-message" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 10px;text-align: left;" valign="top">
                                                        <b style="color: rgb(87, 87, 87)">Account Email:</b><a href="#" style="color: rgb(83, 194, 239);text-decoration: none;"> {{hostEmail}}</a>
                                                    </td>
                                                </tr>
                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin-bottom: 10px;">
                                                    <td class="call-to-action-label" style="font-family:Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 24px; vertical-align: top; margin: 0; padding: 0 0 10px;text-align: left;color: rgb(254, 178, 65);border-bottom: 1px solid rgb(194, 194, 194)" valign="top">Next Steps
                                                    </td>
                                                </tr>
                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin-bottom: 10px;">
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table style="font-family:Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 0px; margin: 0px;" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="call-to-action-label" style="font-family:Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 24px; vertical-align: top; margin: 0; text-align: left;color: rgb(254, 178, 65);border-bottom: 1px solid rgb(194, 194, 194);width: 50%;padding: 10px;" valign="top">
                                                        <img src="{{assetTwourl}}" style="margin-top: 10px" width="200" height="150">
                                                    </td>
                                                    <td style="font-family:Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: middle; margin: 0; text-align: left;border-bottom: 1px solid rgb(194, 194, 194);width: 50%;padding: 7px;" valign="middle">
                                                        Login to your account, complete the setup, create some amazing tours and activities to wow your customers!
                                                        <a href="{{letsDoItUrl}}" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin-top: 10px; border-color: #348eda; border-style: solid; border-width: 10px 20px;">Lets do it!</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin-bottom: 10px;width: 100%;" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="call-to-action-label" style="font-family:Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 24px; vertical-align: top; margin: 0; padding:10px 0px; text-align: left;color: rgb(254, 178, 65);border-bottom: 1px solid rgb(194, 194, 194)" colspan="2" valign="top">We are always here to help
                                                    </td>
                                                </tr>
                                                <tr class="main-message" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding:10px 0px;text-align: left;" valign="top">
                                                        Our goal is to provide you with tools that enables you to run your business efficiently and effectively. Your success is our objective. If you have any questions, get in touch with us. We are friendly and eager to help.
                                                        <a href="#" style="color:rgb(83, 194, 239); text-decoration: underline; margin: 0 0 0 5px;"> support@tourgecko.com</a>
                                                    </td>
                                                </tr>
                                                <tr class="main-message" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding:10px 0px;text-align: left;" valign="top">
                                                        Thanks,
                                                        <br>tourgecko team
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class=" footer " style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px; ">
        <table style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; " width="100% ">
            <tbody>
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; ">
                    <td class="aligncenter content-block " style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 11px; vertical-align: top; color: #000; text-align: center; margin: 0; padding: 0 0 10px; " valign="top " align="center ">@ 2017 tourgecko, All Rights Reserved
                        <br>
                        <a href="http://www.allegoryweb.com " style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 11px; color: rgb(83, 194, 239); text-decoration: underline; margin: 0 5px 0 0; ">Privacy Policy  </a> |
                        <a href="http://www.allegoryweb.com " style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 11px; color: rgb(83, 194, 239); text-decoration: underline; margin: 0 0 0 5px; "> Terms and Conditions</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
