  <div class="booking-filters" ng-show="vm.bookings.length > 0 || vm.filterApplied">
    <div class="margin padding text-center">
        <div id="filter-dropdown" class="dropdown">
            <h4><i class="zmdi zmdi-filter-list icn_orange"></i>&nbsp;Filter By:</h4>
            <a href="#" id="filter-dropdown-button" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" role="button" aria-haspopup="true" aria-expanded="false">Booking Status </i><i class="fa fa-caret-up pull-right" aria-hidden="true" style="margin-left: -10px; margin-top: -1px;"></i> <i class="fa fa-caret-down pull-right" aria-hidden="true" style="margin-top: 7px"></i></a>
            <div class="dropdown-menu" id="filter-options">
                <div class="row product-booking-tab-filter-dropdown">
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="o-checkbox">
                            <input type="checkbox" value="None" name="" id="filter-checkbox-one" class="" ng-model="vm.selectedFiltersForBookingRecords[0]">
                            <label for="filter-checkbox-one"></label>
                            <span class="filterName">Pending</span>
                        </div>
                    </div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="o-checkbox">
                            <input type="checkbox" value="None" name="" id="filter-checkbox-two" class="" ng-model="vm.selectedFiltersForBookingRecords[1]">
                            <label for="filter-checkbox-two"></label>
                            <span class="filterName">Confirmed</span>
                        </div>
                    </div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 10px;">
                        <div class="o-checkbox">
                            <input type="checkbox" value="None" name="" id="filter-checkbox-three" class="" ng-model="vm.selectedFiltersForBookingRecords[2]">
                            <label for="filter-checkbox-three"></label>
                            <span class="filterName">Declined</span>
                        </div>
                    </div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 10px;">
                        <div class="o-checkbox">
                            <input type="checkbox" value="None" name="" id="filter-checkbox-four" class="" ng-model="vm.selectedFiltersForBookingRecords[3]">
                            <label for="filter-checkbox-four"></label>
                            <span class="filterName">Cancelled</span>
                        </div>
                    </div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 10px;">
                        <div class="o-checkbox">
                            <input type="checkbox" value="None" name="" id="filter-checkbox-five" class="" ng-model="vm.selectedFiltersForBookingRecords[4]">
                            <label for="filter-checkbox-five"></label>
                            <span class="filterName">Expired</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 30px;">
                        <button type="button" class="btn btn-warning btn-Select-filter" ng-click="vm.applySelectedFiltersOnBookingRecords()">Apply Filters</button>
                    </div>
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 30px;">
                        <button type="button" class="btn btn-default btn-clear-filter" ng-click="vm.clearAllFilterOnBookingRecords()">Clear Filters</button>
                    </div>
                </div>
                <div class="row product-booking-tab-filter-dropdown">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  style="margin-top: 30px;">
                        <div class="o-checkbox">
                            <input type="checkbox" value="None" name="" id="remember-filters" class="" ng-change="vm.setFilterPreferences()" ng-model="vm.rememberFilterPreferences">
                            <label for="remember-filters"></label>
                            <span class="filterName">Remember my filter preferences</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>