<div id="mainHeader" class="container-fluid tourgecko-top-nav leftMarginToHeader" ng-controller="HeaderController as vm" ng-hide="!vm.authentication.user || vm.hideHeader">
    <button type="button" class="navbar-toggle" data-toggle="slide-collapse" data-target="#myNavbar" id="mobileNavbarBtn">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="top-nav-bar">
        <nav class="navbar navbar-default top-nav">
            <div class="container-fluid">
                <ul id="headerNotifications" class="headerOptions navbar-right" ng-show="vm.authentication.user">
                    <li class="dropdown notifications">
                        <a href="#" id="notificationLink">
                          <i class="zmdi zmdi-notifications"></i>
                          <span class="label label-info" ng-show="vm.unreadNotificationCount != -1 && vm.unreadNotificationCount != 0">{{vm.unreadNotificationCount}}</span>
                        </a>
                        <!-- ng-if="vm.notifications.length > 0" -->
                        <div id="notificationContainer">
                            <div>
                                <img class="headerNotificationPointer" src="modules/hosts/client/images/pointer.svg">
                                
                            </div>
                            <div id="notificationTitle" ng-show="vm.notificationCount > 0">Notifications</div>
                            <div id="notificationTitle" ng-show="vm.notificationCount == 0" style="text-align: center;">You have no notifications.</div>
                            <div id="notificationsBody" class="notifications" ng-show="vm.notificationCount > 0">
                                <div ng-repeat="notification in vm.notifications track by $index">
                                    <div class="notification-Item row" ng-style="vm.changeCSSDynamically($index)" ng-click="vm.markNotificationRead($index)">
                                        <div class="notification-Image-container col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <img src="{{notification.notificationTypeLogo}}" class="notification-Image">
                                        </div>
                                        <div class="notification-Text col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                            <span class="notificationType">
                                                {{notification.notificationType}}
                                            </span>
                                            <br>
                                            <span class="notificationBodyData" style="word-wrap: break-word;">
                                                From: {{notification.notificationFrom}} 
                                            </span>
                                            <br>
                                            <span class="notificationBodyTimeStamp">
                                                {{notification.notificationTimestampToDisplay}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="notificationFooter">
                                <a href="" ng-click="vm.fetchMoreNotifications()" ng-hide="vm.notificationSkipIndex == vm.notificationOverIndex">Load More...</a>
                                <a href="" ng-show="vm.notificationSkipIndex == vm.notificationOverIndex">No More Notifications</a>
                            </div>
                        </div>
                    </li>
                    <li class="notifications" style="cursor: pointer;">
                        <a id="account-dropdown-link">
                            <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
                            <span ng-bind="vm.authentication.user.displayName.length > 10 ?  (vm.authentication.user.firstName.length > 10 ? 'Host' : vm.authentication.user.firstName) : vm.authentication.user.displayName"></span>
                            <b class="caret hidden-xs"></b>
                        </a>
                        <div id="account-dropdown-container">
                            <div id="accountDropdownBody">
                                <div ng-repeat="item in vm.accountMenu.items track by $index">
                                    <p ui-sref="{{item.state}}" class="dynamicItems" id="account-dropdown-menuitem{{$index}}" ng-bind="item.title" ng-click="vm.showLoadersAndWaitCursor()">
                                    </p>
                                    <p class="dynamicItems" id="account-dropdown-menuitem{{$index}}" ng-click="vm.showLoadersAndWaitCursor()" style="margin-top: -10px !important; margin-bottom: 0 !important" ng-if="$index == vm.accountMenu.items.length - 1"> 
                                         <a href="/api/auth/signout" target="_self">Logout</a> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="dropdown account" style="cursor: pointer;">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
                            <span ng-bind="vm.authentication.user.displayName.length > 10 ?  (vm.authentication.user.firstName.length > 10 ? 'Host' : vm.authentication.user.firstName) : vm.authentication.user.displayName"></span>
                            <b class="caret hidden-xs"></b>
                        </a>
                        <ul class="dropdown-menu" >
                            <li ng-repeat="item in vm.accountMenu.items track by $index">
                                <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
                            </li>
                            <li><a href="/api/auth/signout" target="_self">Logout</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>
<script>
    $(".navbar-toggle").click(function(e) {
        e.preventDefault();
        if($("li[data-toggle='slide-collapse']").hasClass("toggle")){
            $("li[data-toggle='slide-collapse']").removeClass("toggle");
        } else{
          $(".main-wrapper").toggleClass("toggle");
        }
        e.stopPropagation();
    });
    
    $("li[data-toggle='slide-collapse']").click(function(e) {
        e.stopPropagation();
        $(this).toggleClass("toggle");
    });
    
    $(".sub-menu").click(function(e) {
        e.stopPropagation();
    });
    $(document).ready(function() {
        $("#notificationLink").click(function() {
            $("#notificationContainer").fadeToggle(300);
            $("#notification_count").fadeOut("slow");
            return false;
        });

        $('#account-dropdown-link').click(function () {
            $('#account-dropdown-container').fadeToggle(300);
            return false;
        });
        //Document Click
        $(document).click(function() {
            $("#notificationContainer").hide();
            $('#account-dropdown-container').hide();
        });
        //Popup Click
        $("#notificationContainer").click(function() {
            return false
        });
    });

    function hideNotificationContainer () {
        $('#notificationContainer').fadeOut('slow');
    }

    $("#mobileNavbarBtn").click(function () {
        var height = $("#host-section-Pages").height();
        $('#host-section-Pages').addClass("mobileSideNavBarClicked");
        $('#mainFooterElement').addClass("mobileSideNavBarClickedFooter");
        $('#mainFooterElement').css('margin-top',height);
    });
    $(document).on('click touchstart', function () {
        if (!$("#sideNavToggle").hasClass("toggle")) {
            $('#host-section-Pages').removeClass("mobileSideNavBarClicked");
            $('#mainFooterElement').removeClass("mobileSideNavBarClickedFooter");
            $('#mainFooterElement').removeAttr("style");
        }
    });
</script>