<div id="mainHeader" class="container-fluid tourgecko-top-nav leftMarginToHeader" ng-controller="HeaderController as vm" ng-hide="!vm.authentication.user || vm.hideHeader">
  <button type="button" class="navbar-toggle" data-toggle="slide-collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="top-nav-bar">
    <nav class="navbar navbar-default top-nav">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
          <li class="dropdown notifications">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="zmdi zmdi-notifications"></i><span class="label label-info ">{{vm.messages.length + vm.notifications.length}}</span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="notification in vm.notifications track by $index" style="background-color: #F1FBFF;">
                <div class="row">
                  <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <img ng-src="{{notification.notificationFromProfileURL}}" alt="{{notification.notificationFrom}}" class="header-profile-image" />
                  </div>
                  <div class="col-sm-10 col-md-10 col-lg-10 col-xs-10">
                     <a ui-sref="host.notifications" ng-click="vm.markNotificationRead($index)" style="color:#ED9C28;">{{notification.notificationBody}}</a>
                  </div>
                </div>
              </li>
              <li ng-repeat="message in vm.messages track by $index" style="background-color: #F1FBFF;">
                <div class="row">
                  <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                    <img ng-src="{{message.messageFromProfileURL}}" alt="{{notification.notificationFrom}}" class="header-profile-image" />
                  </div>
                  <div class="col-sm-10 col-md-10 col-lg-10 col-xs-10">
                     <a ui-sref="host.notifications" ng-click="vm.markNotificationRead($index)" style="color:#ED9C28;">{{message.messageBody}}</a>
                  </div>
                </div>
              </li>
              <li ng-show="vm.notifications.length > 0 || vm.messages.length > 0">
                 <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                    <a ui-sref="host.notifications" class="pull-left">View All</a>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 pull-right">
                    <a href="" ng-click="vm.markAllNotificationsAsRead()">Mark All as Read</a>
                  </div>
              </li>
              <li ng-show="vm.notifications.length == 0 && vm.messages.length == 0">
                <span style="color:#ED9C28"> There are no new notifications </span>
              </li>
              <li ng-show="vm.notifications.length == 0 && vm.messages.length == 0">
                <a ui-sref="host.notifications" class="text-center" style="color:#40C4FF;">Go To Notification Page</a>
              </li>
            </ul>
          </li>
          <li class="dropdown account">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
              <span ng-bind="vm.authentication.user.displayName.length > 10 ?  (vm.authentication.user.firstName.length > 10 ? 'Host' : vm.authentication.user.firstName) : vm.authentication.user.displayName"></span>
              <b class="caret hidden-xs"></b>
            </a>
            <ul class="dropdown-menu" ui-sref-active="active">
              <li ng-repeat="item in vm.accountMenu.items"><a ui-sref="{{item.state}}" ng-bind="item.title"></a></li>
              <li><a href="/api/auth/signout" target="_self">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<script>
 $(".navbar-toggle").click(function(e){
   e.preventDefault();
   if($("li[data-toggle='slide-collapse']").hasClass("toggle")){
    $("li[data-toggle='slide-collapse']").removeClass("toggle");
   } else{
     $(".main-wrapper").toggleClass("toggle");
   }
   e.stopPropagation();
 });
 $("li[data-toggle='slide-collapse']").click(function(e){
   e.stopPropagation();
   $(this).toggleClass("toggle");
 });
 $(".sub-menu").click(function(e) {
   e.stopPropagation();
 });
</script>