<section id="landingPage" class="landingPage" ng-style="vm.getDynamicCssForLandingPage()">	
	<div class="tourgeckoAdminHeader" ng-include="'/modules/core/client/views/tourgeckoAdminHeader.client.view.html'"></div>
  	<div id="landing" class="container-fluid">
        <div id="hero" class="hero row">
            <div class="container">
	            <div class="row">
		            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hero-copy">
		            	<h1>All-in-One platform to manage and grow your tour and activity business</h1>
		            	<a href="" ui-sref="authentication.hostSignup" ng-click="vm.showLoaderForHomePageClicks = true" class="btn btn-warning btn-lg">Signup, it is free!</a>
		            </div>        
	            </div> 
            </div> 
        </div>   
        <div class="row hero-message">
	        <div class="container">
	            <h4>tourgecko is Do It Yourself platform designed for adventure tour operators, activity providers, adventure clubs and guides
	            </h4>        
	        </div>
        </div>

    	<div class="container info-blocks">
    		<div class="row management">
	       		<div class="listData">
				    <ul>
			            <li>
			            	<div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="col-sm-6 col-xs-10 text">No Software knowledge required</div>
				            <div class="clearfix"></div>
			            </li>
			            <li>
			            	<div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="col-sm-6 col-xs-10 text">No payment gateway to integrate</div>
				            <div class="clearfix"></div>
			            </li>
			            <li>
			            	<div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="col-sm-6 col-xs-10 text">No maintenance to be done</div>
				            <div class="clearfix"></div>
			            </li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<h3 class="text-center"> Features that you need to manange your tour and activity business online</h3>
	        <div class="featuresLandingPage">
	        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info-block">
		        	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
		        		<img class="icn_info-block" alt="Planning" src="modules/core/client/img/landingPage/landing_icons/icn_planning.svg" >
		        	</div>    
			        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 info-block-copy">    
				        <h5>Tour Planning and Management</h5>    
				        <p>Create tour and activity itineraries. Add custom pricing options including tiered pricing for groups. Create availability in open date or fixed date modes with ability to change prices for each session.</p>
			        </div>
		        </div>   
	        
	        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info-block">
	        		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
	        			<img class="icn_info-block" alt="Planning" src="modules/core/client/img/landingPage/landing_icons/icn_shopping.svg" >
	        		</div>    
	        		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 info-block-copy">    
				        <h5>Online Bookings and ready to use Toursite</h5>    
				        <p>Get your own mobile friendly, responsive tour site created automatically for you. Make  tour inventory bookable and collect payments through an intuitive and simple booking process.</p>
				    </div>    
	        	</div> 
	        
		        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info-block">
			        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
			        	<img class="icn_info-block" alt="Planning" src="modules/core/client/img/landingPage/landing_icons/icn-cal.svg" >
			        </div>    
			        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 info-block-copy">    
				        <h5>Schedule and Booking views</h5>    
				        <p>Keep track of your tours and sessions schedule through easy to use calendar. See detail views of every tour session, booking and status.</p>
			        </div>    
		        </div>
	        
		        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info-block">
			        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
			        	<img class="icn_info-block" alt="Planning" src="modules/core/client/img/landingPage/landing_icons/icn_msg.svg" >
			        </div>    
			        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 info-block-copy">    
				        <h5>Guest Messaging and Communication</h5>    
				        <p>Keep your guests informed throughout booking and post booking process through automated HTML email messages and SMS.</p>
			        </div>    
		        </div> 
	        
		        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info-block">
			        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
			        	<img class="icn_info-block" alt="Planning" src="modules/core/client/img/landingPage/landing_icons/icn_payments.svg" >
			        </div>    
			        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 info-block-copy">    
				        <h5>Pre-integrated ready to use payments</h5>    
				        <p>No need to setup or integrate with any payment gateway. Your tour booking pages come pre-integrated with payment processor.</p>
			        </div>    
		        </div> 
	        	
	        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info-block">
		        	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
		        		<img class="icn_info-block" alt="Planning" src="modules/core/client/img/landingPage/landing_icons/icn_displays.svg" >
			        </div>    
			        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 info-block-copy">    
				        <h5>Cancellation and Refund management</h5>    
				        <p>Cancel a booking if needed and issue refunds from within the application.</p>
			        </div>    
		        </div>
		    </div>
    	</div>

    	<div class="container">
	        <div class="row">
	        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        	<img src="modules/core/client/img/assets/tourgecko_peek_inside.png" alt="" class="" style="object-fit: contain; height: 100%; width: inherit;">
	        	</div>
	        </div>
	    </div>
    	<footer class="footer row">
	      <div class="container text-center">
	          <h2 class="heading"> <img class="comingsoon-logo" src="modules/core/client/img/brand/logo-symbol-icn.svg" alt="tourgecko-icon"> &nbsp;Foundation for your tour and activity  business</h2>
	          <a ui-sref="authentication.hostSignup" class="btn btn-warning btn-lg" ng-if="!vm.authentication.user">Sign up now!</a>
	          <a ui-sref="host.hostHome" class="btn btn-warning btn-lg" ng-if="vm.authentication.user">Go to admin panel</a>
	          <h4>Signup is free and it takes less than 2 minutes</h4>
	      </div>

	    </footer>
    </div>
</section>
<footer class="footer tourgeckoAdminFooter">
    <div ng-include="'/modules/core/client/views/tourgeckoAdminFooter.client.view.html'">
</footer>   
<script type="text/javascript">
   	$(function() {
    	var images = ['random-Top-Image-1.png', 'random-Top-Image-2.png', 'random-Top-Image-3.png', 'random-Top-Image-4.png'];
    	$('#hero').css({
    		'background-image': 'url(modules/core/client/img/landingPage/' + images[Math.floor(Math.random() * images.length)] + ')'
    	});
   	});

   	$( document ).ready(function() {
	    if(window.innerWidth >= 767)
	    	$('#landingPageNavbar').addClass("navbar-right");
	});

	$("#landingPageNavbar .nav a").on("click", function(){
	   $(".nav").find(".active").removeClass("active");
	   $(this).parent().addClass("active");
	});
</script>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/599e85a54fe3a1168ead9858/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<script>
    $('.carousel-control.left').click(function() {
        $('#landingPageCarousel').carousel('prev');
    });

    $('.carousel-control.right').click(function() {
      $('#landingPageCarousel').carousel('next');
    });
</script>