<div class="tourgeckoAdminHeader" ng-include="'/modules/core/client/views/tourgeckoAdminHeader.client.view.html'"></div>
<div id="pricing" class="container-fluid tourgeckoAdmin-pricing main-content">
    <!--<h1 class="text-center">pricing</h1>--><br>
    <h3 class="text-center heading-sub">Simple all inclusive pricing. You pay as you use.</h3>
      
    <div class="row pricing-overview">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<div class="col-md-offset-1 col-md-6 text-center alert alert-info">
        		<h3>
        			<strong>7% </strong>per online booking
        		</h3>
        		<p>*This includes, platform fee, payment gateway fee and service taxes.</p>
          	</div>
          	<div class="col-md-4 text-center  pricing-cta alert alert-warning">
          		<h4>No setup or monthly fee</h4>
          		<a class="btn btn-warning">Free Sign Up</a>
          	</div>
        </div>
    </div>
      
    <div class="row pricing-numbers">
      	<div class="col-md-offset-1 col-md-10">
      		<h4>Included in this price:</h4>
      		<ul class="premium-benefits">
	          	<li class="section-head">
	          		<strong>Features</strong>
	            	<ul>
			            <li>
				            <div class="col-sm-6 col-xs-10">Responsive admin panel</div>
				            <div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="clearfix"></div>
			            </li>
			            <li>
				            <div class="col-sm-6 col-xs-10">Automated emails and SMS</div>
				            <div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="clearfix"></div>
			            </li>
			            <li>
				            <div class="col-sm-6 col-xs-10">Session calendar</div>
				            <div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="clearfix"></div>
			            </li>
			            <li>
				            <div class="col-sm-6 col-xs-10">Detail session view</div>
				            <div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="clearfix"></div>
			            </li>
			            <li>
				            <div class="col-sm-6 col-xs-10">Custom pricing options</div>
				            <div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="clearfix"></div>
			            </li>
			            <li>
				            <div class="col-sm-6 col-xs-10">Detailed day wise itinerary</div>
				            <div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="clearfix"></div>
			            </li>
			            <li>
				            <div class="col-sm-6 col-xs-10">Open and fixed date scheduling</div>
				            <div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="clearfix"></div>
			            </li>
			            <li>
				            <div class="col-sm-6 col-xs-10">One tap refunds</div>
				            <div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
				            <div class="clearfix"></div>
			            </li>
	            	</ul>
	          	</li>
	          	<li class="section-head">
	          		<strong>Sales Channels</strong>
	            	<ul>
	            		<li>
	            			<div class="col-sm-6 col-xs-10">Responsive admin panel</div>
	            			<div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
	            			<div class="clearfix"></div>
	            		</li>
	            		<li>
	            			<div class="col-sm-6 col-xs-10">Automated emails and SMS</div>
	            			<div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
	            			<div class="clearfix"></div>
	            		</li>
	            	</ul>
	          	</li>
          
          		<li class="section-head">
          			<strong>Support</strong>
            		<ul>
            			<li>
            				<div class="col-sm-6 col-xs-10">Email and Phone</div>
            				<div class="col-sm-1 col-xs-1"><i class="zmdi zmdi-check"></i></div>
            				<div class="clearfix"></div>
            			</li>
            		</ul>
          		</li>
          	</ul>
      	</div>
    </div>    
</div>   
<footer class="footer tourgeckoAdminFooter">
    <div ng-include="'/modules/core/client/views/tourgeckoAdminFooter.client.view.html'">
</footer>   