<div class="tourgeckoAdminHeader" ng-include="'/modules/core/client/views/tourgeckoAdminHeader.client.view.html'"></div>
<div id="terms-conditions" class="container-fluid tourgeckoAdmin-privacy-policy main-content">
    <div class="title-holder text-center row"><h1>Privacy Policy</h1></div>  
    <div class="container" style="margin-bottom: 5rem;">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		This Privacy Policy describes how we (tourgecko) collect, use and store your information. By using any of the products or services offered by  (together, the “Services”), or dealing with a Host (also called Operator) using tourgecko’s Services, you are agreeing to the terms of this Privacy Policy and, as applicable, the tourgecko Terms of Use. This Privacy Policy is a legally binding agreement between you (and your client, employer or another entity if you are acting on their behalf) as the user of the Services (referred to in this Privacy Policy as “you” or “your”) and Tourgecko (wholly owned brand of Outvego Software Private Limited). If we add any new features or tools to our Services, they will also be subject to this policy.<br><br>
			When we use the term “Personal Information” in this policy, it means any information related to an identifiable individual, but does not include the name, title, business address, or telephone number of an employee of an organization.<br><br>
			We will keep your Personal Information accurate, complete and up-to-date with the information that you provide to us. If you request access to your Personal Information, we will inform you of the existence, use and disclosure of your Personal Information as allowed by law, and provide you access to that information. We will always ask for your consent before using your Personal Information for a purpose other than those described in this Privacy Policy.<br><br>
			Host in this document refers to anyone who creates account in tourgecko to run their tour and activity website or other services. Host is also at times referred to as Operator.<br><br>
			Guest or Customer in this document refers to anyone who uses Host website or uses our services and channels (such a Book Now button) to book tour or activities with them.
    	</div>   
    
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <h3>Information from Hosts</h3>
	        <ul>
		        <li>We collect your name, company name, address, email address, phone number(s)</li>
		        <li>We need this information to provide you with our Services; for example, to confirm your identity and contact you.</li>
				<li>Upon completing the sign-up process for the Services, and depending on your location (India), we may create an Instamojo Payments account on your behalf. If you activate “Internal payment method” (applicable only to Indian operators), we collect your bank account information and government-issued identification and tax related information, such as your PAN  and GSTIN. We also collect a digital proof of your PAN and bank account statement. </li>
		        <li>We need this information to create a tourgecko Payments account for you, to provide you with internal Payments services, including fraud and risk monitoring, and to comply with applicable legal and regulatory requirements.</li>
		        <li>We collect Personal Information about your customers or guests that you share with us or that customers provide while booking.</li>
		        <li>We use this information to provide you with our Services and so that you can process bookings, contact them and serve them better.</li>
			</ul>
        </div> 
    
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <h3>Information from our Hosts’s customers</h3>
	        <ul>
		        <li>We collect our Hosts’ customers’ name, email, mobile number, payment details,  IP address and device data.</li>
		        <li>We need this information to provide Hosts with our Services, including supporting and processing bookings. We also use this information to improve our Services.</li>
			</ul>
        </div> 
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <h3>What we don’t do with your Personal Information</h3>
	        <ul>
		        <li>We do not and will never share, disclose, sell, rent, or otherwise provide Personal Information to other companies for the marketing of their own products or services.</li>
		        <li>We do not use the Personal Information we collect from you or your customers to contact or market to your customers or directly compete with you. However, tourgecko may contact or market to your customers if we obtain their information from another source, such as from the customers themselves.</li>
			</ul>
        </div> 
    
    
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <h3>Control to your Personal Information</h3>
	        You retain all rights to your Personal Information and can access it anytime. In addition, tourgecko takes reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Information. You can update many types of Personal Information, such as contact information, directly within your account settings. If you are unable to change your Personal Information within your account settings, please contact us to make the required changes. It’s important to remember that if you delete or limit the use of your Personal Information, the Services may not function properly.<br><br>
			If you have any questions about your Personal Information or this policy, please contact us at 
			<a href="mailto:support@tourgecko.com">support@tourgecko.com</a>
		</div> 
   </div> 
</div>
<footer class="footer tourgeckoAdminFooter">
    <div ng-include="'/modules/core/client/views/tourgeckoAdminFooter.client.view.html'">
</footer>   
