<nav class="navbar navbar-default navbar-fixed-top landing-nav">
    <div class="container landingPageHeader">
        <div class="navbar-header">
            <button  id="ChangeToggle" type="button" class="navbar-right navbar-toggle collapsed" data-toggle="collapse" data-target="#landingPageNavbar" aria-expanded="false" aria-controls="navbar">
                <div class="navbar-hamburger">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div id="navbar-close" class="hidden">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </button>
            <a class="navbar-Beta-brand landing-branding" ui-sref="abstractHome.home" href="">
                <img src="modules/core/client/img/brand/logo-beta.svg" alt="Tourgecko">
            </a>
        </div>
        <div id="loadingDiv" class="loaderDisplayDiv" ng-show="vm.showLoaderForHomePageClicks"></div>
        <div id="landingPageNavbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" ui-sref="tourgeckoAdmin-pricing" ng-click="vm.showLoaderForHomePageClicks = true">Pricing</a>
                </li>
                <li>
                    <a href="#" ui-sref="tourgeckoAdmin-about-us" ng-click="vm.showLoaderForHomePageClicks = true">About Us</a>
                </li>
                <li>
                    <a ui-sref="host.hostHome" ng-hide="!vm.authentication.user" ng-click="vm.showLoaderForHomePageClicks = true">Go to Admin Panel</a>
                </li>
                <li>
                    <a href="/api/auth/signout" target="_self" ng-hide="!vm.authentication.user" ng-click="vm.showLoaderForHomePageClicks = true">Logout</a>
                </li>
                <li class="" ng-show="!vm.authentication.user">
                    <a ui-sref="authentication.hostSignin" ng-click="vm.showLoaderForHomePageClicks = true">Login</a>
                </li>
                <li class="nav-btn-primary btn btn-warning main-cta" ng-show="!vm.authentication.user">
                    <a ui-sref="authentication.hostSignup" ng-click="vm.showLoaderForHomePageClicks = true">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>