<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-info-left">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-12">
            	<a href="http://tourgecko.com" target="_self" class="footer-icon" ontouchstart="">
            		<img src="modules/core/client/img/brand/logo-symbol-icn.svg" alt="http://tourgecko.com">
            	</a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12">
            	<a href="" ui-sref="legal.terms-of-use" target="_self">Terms of use</a>&nbsp;|&nbsp;
            	<a href="" ui-sref="legal.privacypolicy" target="_self">Privacy policy</a>
            <p>@ 2017 tourgecko , All Rights Reserved</p>
            </div>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-3 col-xs-12 text-center footer-info-center">
            <p class="text-muted">
                Made with <i class="zmdi zmdi-favorite"></i> in Himalayas
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 footer-info-right">
            <ul class="list-inline">
            <li class="link-social"><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
            <li class="link-social"><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
            <li class="link-social"><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>
