<div class="tourgeckoAdminHeader" ng-include="'/modules/core/client/views/tourgeckoAdminHeader.client.view.html'"></div>
<div id="about" class="container-fluid tourgeckoAdmin-about-us main-content">
    <div id="hero" class="hero row">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hero-copy">
                    <h1>about us</h1>
                    <h4>
                        Tourgecko is a DIY platform  to help you manage and run your tour and activities business in age of digital and mobile. With emphasis on ease of use and design our goal is to simplify tour and activities management so that you can spend your energies in creating engaging travel experiences for your guests . Your success is our objective. 
                    </h4>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-logo-holder">
                    <span class="about-logo"><img src="modules/core/client/img/brand/logo-symbol-icn.svg" alt="tourgecko-icon"></span>
                </div>
            </div> 
        </div> 
    </div>
    <div class="container contact-details">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="heading">
                If you have anything  for us, drop a message  and we will get back to you. <br>We are friendly and would like to hear from you!
            </h4>
            <ul class="list-inline">
				<li>
                    <a href="mailto:contact@tourgecko.com" class="email btn btn-default btn-lg">contact@tourgecko.com</a>
                </li>
              	<li>
                    <a href="tel:+91-9867101299" class="phone btn btn-default btn-lg">9867101299</a>
                </li>
			</ul>
                
        </div>
    </div>  
</div>   
<footer class="footer tourgeckoAdminFooter">
    <div ng-include="'/modules/core/client/views/tourgeckoAdminFooter.client.view.html'">
</footer>  