@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

.signup-step2 {
  margin-top: 25px !important;
}
.settings-content .home_add_tour .userProfileTitleMargin {
  margin-top:12px;
  margin-left: -3%;
}
.settings-content .home_add_tour .userProfileNameMargin {
  margin-top:12px;
  margin-left:-15%;
}
.settings-content .home_add_tour .userProfileSaveButton{
    position: relative;
    top: 8px;
    margin-left: 13%;

}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
  pointer-events: none;
}
.btn-facebook {
  background-color: #3B5998;
}
.btn-facebook:hover {
  background-color: #3B5998;
  opacity:0.9;
}
.btn-twitter {
  background-color: #4099FF;
}
.btn-twitter:hover {
  background-color: #4099FF;
  opacity:0.9;
}
.btn-whatsapp {
  background-color: #25d366;
  text-decoration: none;
}
.btn-whatsapp:hover {
  background-color: #25d366;
  opacity:0.9;
}
.btn-whatsapp:visited {
  background-color: #25d366;
  text-decoration: none;
}
.btn-google {
  background-color: #D34836;
}
.btn-google:hover {
  background-color: #AB2B1D;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.cropArea {
  background: transparent;
  width: 12.6rem;
  height: 150px;
  vertical-align: middle;
  margin-top: -3%;
}
.userProfileUploadButtonMargin span {
  margin-left: 4.2rem;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}
.guestLoginSocialAccountImages {
  min-height: 75px;
  max-height: 75px;
  min-width: 75px;
  max-width: 75px;
  cursor: pointer;
}
.welcome_note {
  font-size: 20px !important;
}

@media  (max-width: 767px){
  .cropArea {
    background: transparent;
    width: 12.6rem;
    height: 150px;
    vertical-align: middle;
    margin-left: 31%;
    
  }
  .userProfileUploadButtonMargin span {
    margin-left: 1rem;
  }
  .paraMargin {
    margin-top: 200px !important;
    text-align: center;
  }
  #settings .settings_account_info .fileUpload  {
    margin-top: 30px;
  }
  .settings-content .home_add_tour .userProfileTitleMargin {
    margin-top:12px;
    margin-left: 4%;
  }
  .settings-content .home_add_tour .userProfileNameMargin {
    margin-top:35px; 
    margin-left:-75%;
  }
  .settings-content .home_add_tour .userProfileSaveButton {
    margin-right:10%;
  }
  .settings-content .home_add_tour .userProfileSaveButton{
    position: relative;
    top:-10px;
    margin-left: 40%;
  }

  .settings-content .home_add_tour .heading-icn-mobile {
    margin-top: 20px;
  }
  .login-panel {
    max-width:300px;
    width:100%;
    height: auto;
    margin:0 auto;
    margin-top:5%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 13px, rgba(0, 0, 0, 0.117647) 0 1px 4px !important;
  }
  .login-panel .body-container .createAccountBtn .login-button {
    float:none;
    margin-top: 20px;
  }
  .login-panel .form-group.createAccountBtn {
    text-align: center !important;
  }
  #signup-step1 .main_container {
    margin-left: -20px;
  }
}
