@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

.settings-content .home_add_tour .userProfileTitleMargin {
  margin-top:12px;
  margin-left: -3%;
}
.settings-content .home_add_tour .userProfileNameMargin {
  margin-top:12px;
  margin-left:-15%;
}
.settings-content .home_add_tour .userProfileSaveButton{
    position: relative;
    top: 8px;
    margin-left: 13%;

}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
  pointer-events: none;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.cropArea {
  background: transparent;
  width: 12.6rem;
  height: 150px;
  vertical-align: middle;
  margin-top: -3%;
}
.uploadButtonMargin span {
  margin-left: 4.2rem;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}

@media  (max-width: 767px){
  .cropArea {
    background: transparent;
    width: 12.6rem;
    height: 150px;
    vertical-align: middle;
    margin-left: 31%;
    
  }
  .uploadButtonMargin span {
    margin-left: 1rem;
  }
  .paraMargin {
    margin-top: 200px !important;
    text-align: center;
  }
  #settings .settings_account_info .fileUpload  {
    margin-top: 30px;
  }
  .settings-content .home_add_tour .userProfileTitleMargin {
    margin-top:12px;
    margin-left: 4%;
  }
  .settings-content .home_add_tour .userProfileNameMargin {
    margin-top:35px; 
    margin-left:-75%;
  }
  .settings-content .home_add_tour .userProfileSaveButton {
    margin-right:10%;
  }
  .settings-content .home_add_tour .userProfileSaveButton{
    position: relative;
    top:-10px;
    margin-left: 40%;
  }

  .settings-content .home_add_tour .heading-icn-mobile {
    margin-top: 20px;
  }
}
