<div class="multiline-header home_add_tour fixed-in-div margin-bottom">
	<i class="zmdi zmdi-shopping-cart heading-icn"></i>
	<h2>{{vm.bookings[0].product.productTitle}}<br>
		<span class="sub_head">showing</span>
		<span class="sub_head no_of_tours">&nbsp;{{vm.bookings.length}}&nbsp;</span>
		<span class="sub_head">booking/s</span>
	</h2>
	<div class="pull-right">
    	<a class="btn btn-primary pull-right" data-toggle="modal" data-target="#select-tour-type"><i class="zmdi zmdi-email"></i>&nbsp;Message Guests</a>
    </div>    
</div>