<div id="login" class="wrapper">
    <div class="container">
        <div class="panel login-panel">
            <div class="panel-heading tgHeader">
                <h1 class="sr-only">tourgecko</h1>
                <img class="img-responsive" src="modules/core/client/img/brand/logo.svg" alt="" />
            </div>
            <div class="panel-body">
                <div class="body-container">
                    <h2 ng-if="!vm.success">Restore your password</h2>
                    <h2 ng-if="vm.success" style="text-align: left !important;">Restore your password</h2>
                    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
                        <fieldset ng-if="!vm.success">
                            <div class="form-group" show-errors>
                                <label for="email" class="control-label">Email</label>
                                <input type="email" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="email" lowercase required>
                                <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert" class="error_group" id="errorGroupForgotPassword">
                                    <p class="help-block error-text" ng-message="required">Please enter your account email</p>
                                    <p class="help-block error-text" ng-message="email">Please enter a valid email address</p>
                                </div>
                            </div>
                            <br>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-primary" onclick="addLoaderTillMailSentSuccessfully()">Submit</button>
                            </div>
                            <br>
                            <div ng-show="vm.error" class="text-center text-danger">
                                <strong ng-bind="vm.error"></strong>
                                <br>
                                <br>
                                <br>
                                <p class="sign_up">Don’t have an account yet? <a ui-sref="authentication.hostSignup">Sign up Here</a></p>
                            </div>
                        </fieldset>
                        <div ng-show="vm.success">
                            <span ng-bind="vm.success" class="resetPasswordSuccess"></span><br><br><br>
                            <span class="resetPasswordSuccessOtherInfo">Follow the link in the email to reset your password</span><br><br>
                            <span class="resetPasswordSuccessOtherInfo"> Please note that the link will expire in 2 hours from the time it
                            is issued and is valid for one use only </span>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
  $(document).ready(function(){
    $(this).scrollTop(0);
  });
  function addLoaderTillMailSentSuccessfully () {
    $("#loadingDivPassword").css("display", "block");
    $("#tourgeckoBody").addClass("waitCursor");
  }
</script>