<div id="loadingDivToursite" class="loaderDisplayDiv" style="display: none;"></div>
<div class="host-guest-common-style" id="host-guest-common-style">
    <div ng-include="'/modules/hosts/client/views/toursite/toursiteTopNav.client.view.html'"></div>
    <div class="host-guest-common-style-marginFromBothSides" style="min-height: 300px;">
        <h2 class="text-center">About Us</h2>
        <hr>
        <div class="col-xs-12">
            <ng-bind-html="vm.getHtmlTrustedData(vm.companyData.aboutHost)">
            <p class="about-us-data minimize" ng-bind-html="vm.companyData.aboutHost | htmlData">{{vm.companyData.aboutHost}}</p>
        </div>
    </div>
    <footer>
        <div ng-include="'/modules/hosts/client/views/toursite/toursiteFooter.client.view.html'"></div>
    </footer>
</div>
<script>
    $(document).ready(function() {
        $('.nav.navbar-nav > li#about-us').addClass('active');
    });
</script>