<div class="host-guest-common-style" id="host-guest-common-style">
    <div ng-include="'/modules/hosts/client/views/toursite/toursiteTopNav.client.view.html'"></div>
    <script src="modules/core/client/scripts/showmore.js"></script>
    <div class="container-fluid">
        <div class="row" id="bannerCarousel">
            <div id="toursiteCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#toursiteCarousel" class="" ng-repeat="img in vm.companyData.toursiteBanners track by $index" data-slide-to="{{$index}}"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{vm.companyData.toursiteBanners[0].url}}" alt="{{vm.companyData.toursiteBanners[0].name}}" class="banners-carousel">
                    </div>
                    <div class="item" ng-repeat="img in vm.companyData.toursiteBanners track by $index" ng-if="$index != 0">
                        <img src="{{img.url}}" alt="{{img.name}}" class="banners-carousel">
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control left" href="" data-slide="prev" ng-show="vm.companyData.toursiteBanners.length > 1">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control right" href="" data-slide="next" ng-show="vm.companyData.toursiteBanners.length > 1">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="row" ng-if="vm.checkBannersPresence()">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="modules/hosts/client/banners/empty_state_hero_banner_toursite.jpg" alt="no_banner" class="banners-carousel">
                </div>
            </div>
        </div> 
    </div>
    <div class="host-guest-common-style-marginFromBothSides" style="min-height: 300px;">
        <h1 class="text-center"></h1>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <ng-bind-html="vm.getHtmlTrustedData(vm.companyData.aboutHost)">
                <p id="about-us-data" class="about-us-data" ng-bind-html="vm.companyData.aboutHost | htmlData">{{vm.companyData.aboutHost}}</p>
            </div>
        </div>
        <div class="row">
            <h1 class="text-center main-title">Our Tours</h1>
            <div class="col-xs-12">
                <div class="form-group">
                    <!-- <div class="dropdown show-btn">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Show per page
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu per-page-count">
                            <li ng-click="vm.changeItemsPerPage(10)"><a href="#">10</a></li>
                            <li ng-click="vm.changeItemsPerPage(20)"><a href="#">20</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="card-wrapper" ng-if="vm.toursitedata.length > 0">
                <div class="col-sm-6 cart-flex" ng-repeat="data in vm.toursitedata track by $index" ng-click="vm.goToProductDetailsPage($index)" style="cursor: pointer;">
                    <div class="card">
                        <div class="tour-image toursite-Product-Image" ng-if="data.productPictureURLs[0]">
                            <img alt="tour1" class="responsive-img" ng-src="{{data.productPictureURLs[0].url}}">
                            <span class="tour-days">{{data.productDuration}} {{data.productDurationType}}</span>
                            <span class="tour-difficulty">{{data.productGrade != 'Select' ?  data.productGrade : ''}}</span>
                        </div>
                        <div class="tour-image toursite-Product-Image generic-cover-no-image" ng-if="!data.productPictureURLs[0]">
                            <div class="generic_cover_no_image">
                                <div>
                                    <i class="zmdi zmdi-image-alt"></i>
                                    <span>no picture</span>
                                </div>
                            </div>
                        </div> 
                        <div class="card-data-wrapper">
                            <h3 class="col-xs-12 tour-title">
                                <a href="">{{vm.getProductTitleToshow(data.productTitle)}}</a>
                            </h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="col-sm-6 mar0">
                                        <a href="#" class="card-city-name"><i class="fa fa-map-marker themeSelectedByHostColor"></i>{{vm.getProductDestinationToshow(data.destination)}}
                                        </a>
                                    </p>
                                    <div class="col-sm-6 col-xs-12 mbt">
                                        <p class="Starting-form mar0">Starting From<span class="themeSelectedByHostBackgroundColor card-tour-price">
                                            <span class="currency">&#8377;</span>{{vm.getStartingFromPrice($index)}}</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 mbt1">
                                    <p class="card-departure "><i class="fa fa-calendar themeSelectedByHostColor"></i>{{vm.getDepartureDateToShow($index)}}
                                    </p>
                                </div>
                            </div>
                            <div class="tour_tags col-xs-12">
                                <a href="#" ng-repeat="tag in data.productTags" class="chip productTags">
                                    <div class="chip">{{tag}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 empty-data-Image-two text-center" ng-if="vm.toursitedata.length == 0">
                <span> <h4> Currently there are no tours or activities!</h4> </span>
                <img src="/modules/core/client/img/assets/empty_state_two.png">
            </div>
            <div class="col-xs-12 text-center" ng-if="vm.pageTo > 1">
                <ul class="pagination pagination-sm">
                    <li>
                        <a href="#" ng-click="vm.decrementPageNumber()">
                            <<
                        </a>
                    </li>
                    <li ng-if="vm.totalPages > vm.paginationWindow && !vm.showAtLast" ng-click="vm.changePageNumber(0)">
                        <a href="">1</a>
                    </li>
                    <li ng-if="vm.totalPages > vm.paginationWindow && !vm.showAtLast">
                        <a href="">...</a>
                    </li>
                    <li ng-repeat="page in vm.pageCounterArray.slice(vm.pageFrom,vm.pageTo) track by $index" ng-class="{active: vm.pageFrom + $index + 1 == vm.currentPageNumber}" ng-click="vm.changePageNumber(vm.pageFrom + $index)">
                        <a href="" >{{vm.pageFrom + $index + 1}}</a>
                    </li>
                    <li ng-if="vm.totalPages > vm.paginationWindow && vm.showAtLast">
                        <a href="">...</a>
                    </li>
                    <li ng-if="vm.totalPages > vm.paginationWindow && vm.showAtLast" ng-click="vm.changePageNumber(vm.totalPages - 1)">
                        <a href="" >{{vm.totalPages}}</a>
                    </li>
                    <li>
                        <a href="" ng-click="vm.incrementPageNumber()">
                            >>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <footer>
        <div ng-include="'/modules/hosts/client/views/toursite/toursiteFooter.client.view.html'"></div>
    </footer>
</div>
<script>
    $(document).ready(function() {
        $('#toursiteCarousel').carousel({
          interval: 5000
        });
        $('.nav.navbar-nav > li#toursiteMainPage').addClass('active');
        var tempAboutHostData = $('#about-us-data').html();
        if (tempAboutHostData.length > 600)
            tempAboutHostData = tempAboutHostData.slice(0,600) +'<span>... </span><a href="about-us" onclick="goToAboutHostTab()" class="more" style="color:#ff9800;">Read More</a>';
        $('#about-us-data').html(tempAboutHostData);

    });
    $('.carousel-control.left').click(function() {
        $('#toursiteCarousel').carousel('prev');
    });

    $('.carousel-control.right').click(function() {
      $('#toursiteCarousel').carousel('next');
    });
</script>