<div class="toursite"> 
    <header>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/materialize.min.css"/>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/tour-preview-details-booking-1.css"/>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/tour-preview-details-booking-2.css"/>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/toursite.css"/>
     
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
        <div class="blue lighten-5"> 
            <div id="top-contact-bar" class="container dev-view top-Panel-toursite">
                <ul class="left-align">
                    <li class="vendor-phone"><a href="tel:+919930260748"><i class="zmdi zmdi-phone"></i> {{vm.companyData.inquiryMobile}} - {{vm.getInquiryHours()}}</a></li>
                    <li class="vendor-email"><a href="mailto: {{vm.companyData.inquiryEmail}}"><i class="zmdi zmdi-email"></i> {{vm.companyData.inquiryEmail}}</a></li>
                </ul>    
                <ul class="right-align hide-on-med-and-down">
                    <li class="vendor-social"><a href=""><i class="zmdi zmdi-facebook"></i></a></li>
                    <li class="vendor-social"><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li class="vendor-social"><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>    
                </ul>    
            </div>
        </div>     
        
        <nav class="white fixed z-depth-1 toursite-nav">
            <div class="nav-wrapper container" ng-class="vm.getDynamicCSSForToursiteNav()">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <a href="#" class="blue-grey-text text-darken-4 checking" ng-style="vm.getDynamicLeftMarginForCompanyLogo()">
                    <img alt="Logo" class="host-toursite-Logo" src="{{vm.companyData.logoURL}}">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-home left orange-text"></i>Home</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-case left orange-text"></i>Tours</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-info left orange-text"></i>About Us</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-email left orange-text"></i>Contact Us</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-home left orange-text"></i>Home</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-case left orange-text"></i>Tours</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-info left orange-text"></i>About Us</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-email left orange-text"></i>Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div id="details_hero" class="slider vendor-landing" data-indicators="true">
            <ul class="slides">
                <li>
                    <img src="modules/hosts/client/companyBanners/main_hero1.png">
                </li>
                <li>
                    <img src="modules/hosts/client/companyBanners/main_hero2.png">
                </li>
                <li>
                    <img src="modules/hosts/client/companyBanners/main_hero3.png">
                </li>
                <li>
                    <img src="modules/hosts/client/companyBanners/main_hero4.png">
                </li>
            </ul> 
        </div>
        <!--Carousel end-->

        <div id="agent" class="container body-toursite">
            <!-- <div class="row">
                <p class="light">
                    <p class="minimize">{{vm.companyData.aboutHost}}</p>
                </p> 
            </div> -->
            <h4 class="center-align padding" ng-if="vm.toursitedata.length > 0">Tours</h4>
            <div class="row alignDivs">
                <div class="col l6 m6 s12" ng-repeat="data in vm.toursitedata track by $index" ng-style="vm.getConditionalCSS($index)" ng-click="vm.goToProductDetailsPage($index)" style="cursor: pointer;">
                    <div id="toursiteProduct{{$index}}" class="card tour padding toursite-Product-Image">
                        <div class="tour-image" ng-if="data.productPictureURLs[0]">
                            <img alt="tour1" class="responsive-img" ng-src="{{data.productPictureURLs[0]}}">
                        </div>
                        <div class="tour-image" ng-if="!data.productPictureURLs[0]">
                            <img alt="tour1" class="responsive-img" ng-src="modules/hosts/client/companyBanners/main_hero4.png">
                        </div>    
                        <div class="margin-bottom">
                            <span class="left white-text days-difficulty">{{data.duration}}</span>
                            <span class="right white-text days-difficulty">{{data.productGrade}}</span>     
                            <a><h5 class="clear">{{vm.getProductTitleToshow(data.productTitle)}}</h5></a>
                            <div class="col l6 m6 s12 padding-none">
                                <span class="blue-grey-text text-darken-1"><i class="zmdi zmdi-pin orange-text"></i>&nbsp;{{vm.getProductDestinationToshow(data.destination)}}
                                </span>
                                <p> </p>
                                <p><i class="zmdi zmdi-calendar-alt orange-text"></i>&nbsp; Next Departure: <span class="date"><br ng-if="vm.getDepartureDateToShow($index) == 'Open Dated Tour'">{{vm.getDepartureDateToShow($index)}}</span></p>
                            </div>
                            <div class="col l6 m6 s12 padding-none">
                                <span class="blue-grey-text text-darken-1 right">Starting from <!--<span style="text-decoration:line-through" class="red-text"><span class="currency">&#8377;</span>{{vm.getStartingFromPrice($index)}}</span></span>--><br>
                                <div class="valign-wrapper right">
                                   <!--<div class="chip orange"><h6 class="white-text"><strong>10%</strong> OFF</h6></div>-->
                                    <h5 class="green-text"><span class="currency">&#8377;</span> {{vm.getStartingFromPrice($index)}}</h5>
                                </div>    
                            </div>
                        </div>
            
                        <div id="tour_tags" class="row">
                            <div ng-repeat="tag in data.productTags" class="chip productTags col-sm-3 col-lg-3 col-md-3 col-xs-3">{{tag}}</div>
                        </div> 
                    </div> 
                </div>
            </div>
            <div class="row text-center" ng-if="vm.toursitedata.length > 0">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="pagination">
                        <a href="#" ng-click="vm.decrementWindowSize()" style="margin-right: 5px;">&laquo;</a>
                        <a href="#" ng-click="vm.decrementPageNumber()" style="margin-right: 10px;">&lsaquo;</a>
                        <a href="#" ng-if="vm.totalPages > vm.paginationWindow && !vm.showAtLast" ng-click="vm.changePageNumber(0)"> 1 </a>
                        <a ng-if="vm.totalPages > vm.paginationWindow && !vm.showAtLast">...</a>
                        <a href="#" ng-repeat="page in vm.pageCounterArray.slice(vm.pageFrom,vm.pageTo) track by $index" ng-class="{active: vm.pageFrom + $index + 1 == vm.currentPageNumber}" ng-click="vm.changePageNumber(vm.pageFrom + $index)">{{vm.pageFrom + $index + 1}}</a>
                        <a ng-if="vm.totalPages > vm.paginationWindow && vm.showAtLast">...</a>
                        <a href="#" ng-if="vm.totalPages > vm.paginationWindow && vm.showAtLast" ng-click="vm.changePageNumber(vm.totalPages - 1)"> {{vm.totalPages}} </a>
                        
                        <a href="#" ng-click="vm.incrementPageNumber()" style="margin-left: 10px;">&rsaquo;</a>
                        <a href="#" ng-click="vm.incrementWindowSize()" style="margin-left: 5px;">&raquo;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="selectRow col-sm-12 col-md-12 col-lg-12">
                        <span style="margin-left: -100px; display: block; margin-bottom: -24px">Show</span>
                        <select id="itemPerPageSelector" ng-model="vm.numberOfItemsInOnePage" ng-change="vm.changeItemsPerPage(vm.numberOfItemsInOnePage)">
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                        <span style="display: block; margin-right: -160px; margin-top: -24.5px">tours per page</span>
                    </div>
                    
                </div>
            </div>
            <div class="text-center toursite-empty-state">
                <div class="col-sm-12 col-md-12 col-lg-12 empty-data-Image-two container" ng-if="vm.toursitedata.length == 0">
                    <span> <h2> Our Tours </h2></span>
                    <span> <h4> Currently we don't have any published tours !</h4> </span>
                    <img src="/modules/core/client/img/assets/empty_state_two.png">
                </div>
            </div>
    </main>
    <footer class="toursite-footer">
        <a href="#"><img src="{{vm.companyData.logoURL}}" class="host-toursite-Logo"></a>
        <br>
        <br>
        <ul class="links">
            <li><a>Contact Us</></li>
        </ul>
          
        <ul class="contact-info">
            <li class="vendor-phone"><a href="tel:+919930260748"><i class="zmdi zmdi-phone"></i> {{vm.companyData.inquiryMobile}} - {{vm.getInquiryHours()}}</a></li>
            <li class="vendor-email"><a href="#"><i class="zmdi zmdi-email"></i> {{vm.companyData.inquiryEmail}}</a></li>
            <li class="vendor-social"><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
            <li class="vendor-social"><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
            <li class="vendor-social"><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>    
        </ul>  
        <div class="col l12 m12 s12 statement">This site is automatically built by <a href="#">tourgecko</a></div>
    </footer>
    <!--Scripts-->
    <script type="text/javascript" src="lib/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="lib/scripts-inside-html/js/init.js"></script>
    <script type="text/javascript" src="lib/scripts-inside-html/js/tour-preview-details-booking.js"></script>

    <script>
        $( document ).ready(function() {
            $(function() {
                var minimized_elements = $('p.minimize');
                
                minimized_elements.each(function(){    
                    var textdata = $(this).text();   
                    
                    if(textdata.length < 250) return;
                    
                    $(this).html(
                        textdata.slice(0,250)+'<span>... </span><a href="#" class="more" style="color:#ff9800;">Read More</a>'+
                        '<span style="display:none;">'+ textdata.slice(250,textdata.length)+' <a href="#" class="less" style="color:#ff9800;">Less</a></span>'
                    );
                    
                }); 
                
                $('a.more', minimized_elements).click(function(event){
                    event.preventDefault();
                    $(this).hide().prev().hide();
                    $(this).next().show();        
                });
                
                $('a.less', minimized_elements).click(function(event){
                    event.preventDefault();
                    $(this).parent().hide().prev().show().prev().show();    
                });
            });
        });
       
       $("#itemPerPageSelector").select2({
            minimumResultsForSearch: Infinity,
            width:'50px'
       });
    </script>
    <script>
        $(document).ready(function () {
           $('.slider').slider({full_width: true});
        });
    </script>
</div>