<!-- <div class="container-fluid">
    <div class="row host-admin-bar" id="host-admin-bar">
        <div class="host-guest-common-style-marginFromBothSides">
            <div class="visit-admin col-sm-2">
                <a href="#"><img src="modules/core/client/img/hostGuestCommonImages/visit-admin.png">Visit Admin</a>
            </div>
            <div class=" col-sm-8 text-center">
                <a href="#" class="admin-msg">&#8826; Imp message to host will come here &#8827;</a>
            </div>
            <div class="col-sm-2 close-bar text-right">
                <a href="#" id="header-close" onclick="closeHostAdminBar()"><i class="fa fa-close"></i></a>
            </div>
        </div>
    </div>
    <a href="#" id="open-host-admin-bar" onclick="openHostAdminBar()"><span class="glyphicon glyphicon-plus"></span></a>
</div>  -->
<div class="row top-header host-guest-common-style-marginFromBothSides host-guest-common-style-Top-Info-Section">
    <div class="phn-number col-sm-4">
        <a href="tel:{{vm.companyData.inquiryMobile}}" class=""><i class="fa fa-phone"></i> {{vm.companyData.inquiryMobile}} - <i class="fa fa-clock-o"></i> {{vm.getInquiryHours()}}</a>
    </div>
    <div class="col-sm-3 email">
        <a href="#" class=""><i class="fa fa-envelope"></i> {{vm.companyData.inquiryEmail}}</a>
    </div>
    <ul class="social-links-wrapper col-sm-3">
        <li class="social-links" ng-click="vm.goToHostSocialSite('facebook')">
            <a href="{{vm.facebookLink}}">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="social-links" ng-click="vm.goToHostSocialSite('twitter')">
            <a href="{{vm.twitterLink}}">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="social-links" ng-click="vm.goToHostSocialSite('instagram')">
            <a href="{{vm.instagramLink}}">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default host-guest-common-style-navbar">
    <div class="container" id="toursiteTopNavContainer">
        <div class="navbar-header">
            <button type="button" data-target="#toursiteTopNav" data-toggle="collapse" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/" ng-if="vm.companyData.logoURL != 'modules/hosts/client/companyLogo/default/logo.png'">
                <img src="{{vm.companyData.logoURL}}" class="img-responsive">
            </a>
            <a class="navbar-brand logo noLogoPresent" href="/" ng-if="vm.companyData.logoURL == 'modules/hosts/client/companyLogo/default/logo.png'">
                <span> {{vm.companyData.companyName}}
            </a>
        </div>
        <div id="toursiteTopNav" class="collapse navbar-collapse toursiteTopNav">
            <ul class="nav navbar-nav navbar-right">
                <li id="toursiteMainPage">
                    <a href="" ui-sref="abstractHome.toursite">
                        <i class="fa fa-home menu-icon"></i>Home
                    </a>
                </li>
                <li id="tours">
                    <a href="" ui-sref="hostToursite-toursite-tours">
                        <i class="fa fa-location-arrow menu-icon"></i>Tours
                    </a>
                </li>
                <li id="about-us">
                    <a href="" ui-sref="hostToursite-about-us">
                        <i class="fa fa-info-circle menu-icon"></i>About Us
                    </a>
                </li>
                <li id="contact-us">
                    <a href="" ui-sref="hostToursite-contact-us">
                        <i class="fa fa-info-circle menu-icon"></i>Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function closeHostAdminBar () {
        $('#host-admin-bar').hide();
        $('#open-host-admin-bar').show();
    }

    function openHostAdminBar () {
        $('#open-host-admin-bar').hide();
        $('#host-admin-bar').show();
    }
</script>