<ul class="footer-menu host-guest-common-style-footer-menu-toursite">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <li>
            <a class="navbar-brand logo" href="#" ng-if="vm.companyData.logoURL != 'modules/hosts/client/companyLogo/default/logo.png'">
                <img src="{{vm.companyData.logoURL}}" class="img-responsive">
            </a>
            <a class="navbar-brand logo noLogoPresent" href="#" ng-if="vm.companyData.logoURL == 'modules/hosts/client/companyLogo/default/logo.png'">
                <span> {{vm.companyData.companyName}}
            </a>
        </li>
        <li>
            <a href="tel:{{vm.companyData.inquiryMobile}}" class="phn-number"><i class="fa fa-phone"></i> {{vm.companyData.inquiryMobile}} - <i class="fa fa-clock-o"></i> {{vm.getInquiryHours()}}</a>
        </li>
        <li>
            <a href="#" class="email">
                <i class="fa fa-envelope"></i> {{vm.companyData.inquiryEmail}}
            </a>
        </li>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <li class="social-border">
            <ul class="social-links-wrapper">
                <h3>Follow us on</h3>
                <li class="social-links facebook-blue" ng-click="vm.goToHostSocialSite('facebook')">
                    <a href="{{vm.facebookLink}}">
                        <i class="fa fa-facebook" style="padding-top: 12.5px"></i>
                    </a>
                </li>
                <li class="social-links twitter-blue" ng-click="vm.goToHostSocialSite('twitter')">
                    <a href="{{vm.twitterLink}}">
                        <i class="fa fa-twitter" style="padding-top: 12.5px"></i>
                    </a>
                </li>
                <li class="social-links insta-red" ng-click="vm.goToHostSocialSite('instagram')">
                    <a href="{{vm.instagramLink}}">
                        <i class="fa fa-instagram" style="padding-top: 12.5px"></i>
                    </a>
                </li>
            </ul>
        </li>
    </div>
</ul>
<p class="text-center booking"><i class="fa fa-copyright" aria-hidden="true"></i> {{vm.companyData.companyName}}, 2017 Powered by tourgecko</p>