<uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
    <span ng-bind="vm.error"></span>
</uib-alert>
<div id="loadingDivTourBooking" class="loaderDisplayDiv"></div>
<div class="guestHome tourBooking" id="tourBookingScreen">
    <header>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/materialize.min.css"/>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/tour-preview-details-booking-1.css"/>
        <link rel="stylesheet" href="lib/scripts-inside-html/css/tour-preview-details-booking-2.css"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
      </script>
      <nav class="white fixed z-depth-1 toursite-nav" ng-style="vm.getDynamicPaddingForBookingScreenNav()">
            <div class="nav-wrapper" ng-class="vm.getDynamicCSSForBookingScreenNav()">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <a href="#" class="blue-grey-text text-darken-4" ng-style="vm.getDynamicLeftMarginForCompanyLogo()">
                    <img alt="Logo" class="host-toursite-Logo" src="{{vm.bookingProductDetails.hostCompany.logoURL}}">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-home left orange-text"></i>Home</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-case left orange-text"></i>Tours</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-info left orange-text"></i>About Us</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-email left orange-text"></i>Contact Us</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-home left orange-text"></i>Home</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-case left orange-text"></i>Tours</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-info left orange-text"></i>About Us</a></li>
                    <li><a href="#" class="blue-grey-text text-darken-4"><i class="zmdi zmdi-email left orange-text"></i>Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div id="booking" class="main-content marginFromBothEnd classToClickNext">
            <div class="row">
                <div class="col l8 m8 s12">
                    <div class="col l12 m12 s12 black-text margin-bottom"><h5>{{vm.bookingProductDetails.productTitle}}</h5>
                        <a href="#" class="blue-grey-text text-darken-1">
                            <i class="zmdi zmdi-pin orange-text"></i>&nbsp;{{vm.bookingProductDetails.destination}}
                        </a>
                    </div>
                    <div id="wizard" class="swMain section">
                        <ul class="col l12 m12 s12">
                            <li class="col l3 m3 s3">
                                <a href="#step-1">
                                    <span class="stepNumber">1</span>
                                    <span class="stepDesc">Departure <br/>
                                        <small>{{vm.selectedDate}}</small>
                                    </span>
                                </a>
                            </li>
                            <li class="col l3 m3 s3">
                                <a href="#step-2">
                                    <span class="stepNumber">2</span>
                                    <span class="stepDesc">Pricing <br/>
                                        <small>You Pay &#8377; {{vm.totalPayablePrice}}</small>
                                    </span>
                                </a>
                            </li>
                            <li class="col l3 m3 s3">
                                <a href="#step-3">
                                    <span class="stepNumber">3</span>
                                    <span class="stepDesc">
                                        Your Information <br/>
                                        <small>{{vm.providedGuestDetails.email}}</small>
                                    </span>
                                </a>
                            </li>
                            <li class="col l3 m3 s3">
                                <a href="#step-4">
                                    <span class="stepNumber last-step">4</span>
                                    <span class="stepDesc">
                                        Payment Information <br/>
                                        <small></small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                  
                        <!--step 1-->
                        <div id="step-1" class="col l12 m12 s12 margin-bottom z-depth-1">
                            <div class="section-header white">
                                <i class="zmdi zmdi-calendar orange-text"></i>
                                <span class="section-header-title">Departure
                                    <!--<span class="desc-text grey-text">(the day to start)</span>-->
                                </span> 
                            </div>
                            <div class="row light-blue lighten-5 padding blue-grey-text text-darken-1">
                                <strong>Select the departure date</strong>
                            </div>
                            <ul id="departure-schedule" class="collection" ng-show="vm.bookingProductDetails.productAvailabilityType == 'Fixed Departure'"     style="padding-left: 0">
                                <li class="collection-item no-background" ng-repeat="session in vm.productSessions track by $index">
                                    <span class="primary-content">
                                        <input name="group1" type="radio" id="departureDate{{$index}}" class="with-gap" value="vm.selectedDate" ng-click="vm.setSelectedDate($index)">
                                        <label for="departureDate{{$index}}" class="blue-grey-text text-lighten-1">{{getDepartureDate(session.sessionDepartureDetails.startDate, false)}}</label>
                                    </span>
                                    <span ng-show="session.sessionDepartureDetails.repeatBehavior != 'Do not repeat'">
                                        <p class="blue-grey-text text-lighten-1"> This is the repetive tour. Click <a href="" ng-click="vm.openRepeatDatesInfoModal('#showRepeatDatesModal', session._id, $index)"> here </a> to check the dates and availabilities. </p>
                                    </span>
                                    <span class=" secondary-content chip green" ng-show="session.sessionDepartureDetails.repeatBehavior == 'Do not repeat'">
                                        <a class="white-text" href="#" ng-show="vm.bookingProductDetails.productSeatsLimitType == 'limited'">{{vm.getAvailableSeats($index)}} Seats</a>
                                        <a class="white-text" href="#" ng-show="vm.bookingProductDetails.productSeatsLimitType == 'unlimited'">No Limit on Seats</a>
                                    </span>
                                </li>
                                <li class="collection-item no-background departureDatePrevNextBtns" ng-hide="vm.lastIndexForDepartureDates == 0">
                                    <span class="primary-content">
                                        <a href="#" class="blue-grey-text text-darken-1 btn btn-flat btn-waves" ng-click="vm.getPrevDepartureDates()" ng-hide="vm.skipIndexForDepartureDates == 0">
                                            <i class="zmdi zmdi-chevron-left orange-text"></i>
                                            Prev Dates
                                        </a>
                                        <a href="#" class="blue-grey-text text-darken-1 btn btn-flat btn-waves pull-right" ng-click="vm.getNextDepartureDates()" ng-hide="vm.skipIndexForDepartureDates == vm.lastIndexForDepartureDates || vm.lastIndexForDepartureDates == 0">
                                            Next Dates &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="zmdi zmdi-chevron-right orange-text"></i>
                                        </a>
                                    </span>
                                </li>
                            </ul>
                            <ul id="departure-schedule" class="collection" ng-show="vm.bookingProductDetails.productAvailabilityType == 'Open Date'">
                                <span class="desc-text grey-text openDatedTourDesc" ng-show="vm.bookingProductDetails.productUnavailableMonths.length > 0">Tour is not available in the following months</span>
                                <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Host has made this tour unavailable for certain months and you cannot book the tour during that time." ng-show="vm.bookingProductDetails.productUnavailableMonths.length > 0">
                                    <i class="zmdi zmdi-info-outline orange-text"></i>
                                </a>
                                <br>
                                <span class="desc-text semi-grey-text openDatedTourDesc" ng-repeat="notAllowedMonth in vm.bookingProductDetails.productUnavailableMonths" ng-show="vm.bookingProductDetails.productUnavailableMonths.length > 0">
                                    {{notAllowedMonth}}
                                </span>
                                <div class="calendarMargin">
                                    <div id='bookingCalendar' class=".fullCalendar"></div>
                                </div>
                            </ul>
                        </div>
                 
                        <!--step 2--> 
                        <div id="step-2" class="col l12 m12 s12 margin-bottom z-depth-1">
                            <div class="section-header white">
                                <i class="orange-text">&#8377;</i>
                                <span class="section-header-title">Pricing Details</span> 
                            </div>  
                            <div id="guest-pricing-details">
                                <div class="row padding light-blue lighten-5 blue-grey-text text-darken-1">
                                    <strong>Select a booking option</strong>    
                                </div>
                                <div class="padding-left padding-right">
                                    <div class="row blue-grey lighten-5 margin-bottom blue-grey-text text-darken-1">
                                        <div class="col s7">
                                            <strong>Booking Option</strong>
                                        </div>
                                        <div class="col s3">
                                            <strong>Price</strong>
                                        </div>
                                        <div class="col s2">
                                            <strong>Qty</strong>
                                        </div>
                                    </div>
                                    <div id="loadingDiv" class="loaderDisplayDiv" ng-show="vm.showLoaderForPriceCalculations">
                                    </div>
                                    <div ng-show="vm.bookingProductDetails.productAvailabilityType == 'Fixed Departure'">
                                        <div ng-repeat="pricing in vm.productSessions[vm.selectedBookingOptionIndex].sessionPricingDetails track by $index">
                                            {{vm.trackGroupEntry($index, pricing.pricingType)}}
                                            <div class="row">
                                                <div class="col s7" ng-if="pricing.pricingType != 'Group' && pricing.pricingType != 'Custom'">
                                                    <div class="inputwithlabel">
                                                        <input name="pricingSelection{{$index}}" type="checkbox" id="pricingSelection{{$index}}" class="with-gap" ng-click="vm.setSelectedNonGroupCustomPricing($index)">
                                                        <label for="pricingSelection{{$index}}">
                                                            <span class="input-label pull-left blue-grey-text text-lighten-1 customizeFont">
                                                                {{pricing.pricingType}}
                                                                <a ng-if="pricing.description != null">
                                                                    <i class="fa fa-info-circle orange-text" data-toggle="tooltip" data-placement="right" title="{{pricing.description}}"></i>
                                                                </a>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col s12 " ng-if="pricing.pricingType == 'Group' && $index == vm.groupEntryTracker" >
                                                    <label for="pricingSelection{{$index}}">
                                                        <span class="input-radio pull-left"></span>
                                                        <span class="input-label pull-left blue-grey-text text-lighten-1 customizeFont">
                                                            {{pricing.pricingType}}
                                                        </span>
                                                    </label>
                                                    <br>
                                                    <div class="inputwithlabel" ng-repeat="groupPricingOptions in vm.productSessions[vm.selectedBookingOptionIndex].sessionPricingDetails track by $index" ng-if="groupPricingOptions.pricingType == 'Group'">
                                                        <input name="groupPricingOption" type="radio" id="groupPricingOption{{$index}}" class="with-gap" ng-click="vm.setSelectedGroupPricing($index)">
                                                        <label for="groupPricingOption{{$index}}">
                                                            <span class="desc-text" style="display: inline-block;">Group-size : {{groupPricingOptions.minGroupSize}} to {{groupPricingOptions.maxGroupSize}}</span>
                                                            <a ng-if="groupPricingOptions.description != null">
                                                                <i class="fa fa-info-circle orange-text" data-toggle="tooltip" data-placement="right" title="{{groupPricingOptions.description}}"></i>
                                                            </a>
                                                            <strong style="display: inline-block; position: absolute; left:306.33px; top:0; width: 55px;">&#8377; {{groupPricingOptions.price}}</strong>
                                                            <input ng-model="vm.groupSeatQuantity[$index]" style="display: inline-block; width: 65px; position: absolute; left:437.61px; top: 0;" type="number" name="quantity" min="1"  class="qty" ng-change="vm.calculateGroupSeatPrice($index)">
                                                         </label>
                                                    </div>
                                                </div>
                                                <div class="col s12 " ng-if="pricing.pricingType == 'Custom' && $index == vm.customEntryTracker" >
                                                    <label for="pricingSelection{{$index}}">
                                                        <span class="input-radio pull-left"></span>
                                                        <span class="input-label pull-left blue-grey-text text-lighten-1 customizeFont">
                                                            {{pricing.pricingType}}
                                                        </span>
                                                    </label>
                                                    <br>
                                                    <div class="inputwithlabel" ng-repeat="customPricingOptions in vm.productSessions[vm.selectedBookingOptionIndex].sessionPricingDetails track by $index" ng-if="customPricingOptions.pricingType == 'Custom'">
                                                        <input name="customPricingOption" type="radio" id="customPricingOption{{$index}}" class="with-gap" ng-click="vm.setSelectedCustomPricing($index)">
                                                        <label for="customPricingOption{{$index}}">
                                                            <span class="desc-text" style="display: inline-block;">{{customPricingOptions.customLabel}}
                                                            (Seats : {{customPricingOptions.seatsUsed}})</span>
                                                            <a ng-if="customPricingOptions.description != null">
                                                                <i class="fa fa-info-circle orange-text" data-toggle="tooltip" data-placement="right" title="{{customPricingOptions.description}}"></i>
                                                            </a>
                                                            <strong style="display: inline-block; position: absolute; left:306.33px; top:0; width: 55px;">&#8377; {{customPricingOptions.price}}</strong>
                                                            <input style="display: inline-block; width: 65px; position: absolute; left:437.61px; top: 0;" type="number" name="quantity" min="1" ng-model="vm.customSeatQuantity[$index]" class="qty" ng-change="vm.calculateCustomSeatPrice($index)">
                                                         </label>
                                                    </div>
                                                </div>

                                                <div class="col s3 price-per-guest" ng-if="pricing.pricingType != 'Group' && pricing.pricingType != 'Custom'">
                                                    <strong>&#8377; {{pricing.price}}</strong>
                                                </div>

                                                <div class="col s2 guest-quantity" ng-if="pricing.pricingType != 'Group' && pricing.pricingType != 'Custom'">
                                                    <input type="number" name="quantity" min="1" ng-model="vm.nonGroupCustomSeatQuantity[$index]" class="qty" ng-change="vm.calculateNonGroupCustomSeatPrice($index)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="vm.bookingProductDetails.productAvailabilityType == 'Open Date'">
                                        <div ng-repeat="pricing in vm.bookingProductDetails.productPricingOptions track by $index">
                                            {{vm.trackGroupEntry($index, pricing.pricingType)}}
                                            <div class="row">
                                                <div class="col s7" ng-if="pricing.pricingType != 'Group' && pricing.pricingType != 'Custom'">
                                                    <div class="inputwithlabel">
                                                        <input name="pricingSelection{{$index}}" type="checkbox" id="pricingSelection{{$index}}" class="with-gap" ng-click="vm.setSelectedNonGroupCustomPricing($index)">
                                                        <label for="pricingSelection{{$index}}">
                                                            <span class="input-label pull-left blue-grey-text text-lighten-1 customizeFont">
                                                                {{pricing.pricingType}}
                                                                <a ng-if="pricing.description != null">
                                                                    <i class="fa fa-info-circle orange-text" data-toggle="tooltip" data-placement="right" title="{{pricing.description}}"></i>
                                                                </a>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col s12 " ng-if="pricing.pricingType == 'Group' && $index == vm.groupEntryTracker" >
                                                    <label for="pricingSelection{{$index}}">
                                                        <span class="input-radio pull-left"></span>
                                                        <span class="input-label pull-left blue-grey-text text-lighten-1 customizeFont">
                                                            {{pricing.pricingType}}
                                                        </span>
                                                    </label>
                                                    <br>
                                                    <div class="inputwithlabel" ng-repeat="groupPricingOptions in vm.productSessions[vm.selectedBookingOptionIndex].sessionPricingDetails track by $index" ng-if="groupPricingOptions.pricingType == 'Group'">
                                                        <input name="groupPricingOption" type="radio" id="groupPricingOption{{$index}}" class="with-gap" ng-click="vm.setSelectedGroupPricing($index)">
                                                        <label for="groupPricingOption{{$index}}">
                                                            <span class="desc-text" style="display: inline-block;">Group-size : {{groupPricingOptions.minGroupSize}} to {{groupPricingOptions.maxGroupSize}}</span>
                                                            <a ng-if="groupPricingOptions.description != null">
                                                                <i class="fa fa-info-circle orange-text" data-toggle="tooltip" data-placement="right" title="{{groupPricingOptions.description}}"></i>
                                                            </a>
                                                            <strong style="display: inline-block; position: absolute; left:306.33px; top:0; width: 55px;">&#8377; {{groupPricingOptions.price}}</strong>
                                                            <input ng-model="vm.groupSeatQuantity[$index]" style="display: inline-block; width: 65px; position: absolute; left:437.61px; top: 0;" type="number" name="quantity" min="1"  class="qty" ng-change="vm.calculateGroupSeatPrice($index)">
                                                         </label>
                                                    </div>
                                                </div>
                                                <div class="col s12 " ng-if="pricing.pricingType == 'Custom' && $index == vm.customEntryTracker" >
                                                    <label for="pricingSelection{{$index}}">
                                                        <span class="input-radio pull-left"></span>
                                                        <span class="input-label pull-left blue-grey-text text-lighten-1 customizeFont">
                                                            {{pricing.pricingType}}
                                                        </span>
                                                    </label>
                                                    <br>
                                                    <div class="inputwithlabel" ng-repeat="customPricingOptions in vm.productSessions[vm.selectedBookingOptionIndex].sessionPricingDetails track by $index" ng-if="customPricingOptions.pricingType == 'Custom'">
                                                        <input name="customPricingOption" type="radio" id="customPricingOption{{$index}}" class="with-gap" ng-click="vm.setSelectedCustomPricing($index)">
                                                        <label for="customPricingOption{{$index}}">
                                                            <span class="desc-text" style="display: inline-block;">{{customPricingOptions.customLabel}}
                                                            (Seats : {{customPricingOptions.seatsUsed}})</span>
                                                            <a ng-if="customPricingOptions.description != null">
                                                                <i class="fa fa-info-circle orange-text" data-toggle="tooltip" data-placement="right" title="{{customPricingOptions.description}}"></i>
                                                            </a>
                                                            <strong style="display: inline-block; position: absolute; left:306.33px; top:0; width: 55px;">&#8377; {{customPricingOptions.price}}</strong>
                                                            <input style="display: inline-block; width: 65px; position: absolute; left:437.61px; top: 0;" type="number" name="quantity" min="1" ng-model="vm.customSeatQuantity[$index]" class="qty" ng-change="vm.calculateCustomSeatPrice($index)">
                                                         </label>
                                                    </div>
                                                </div>

                                                <div class="col s3 price-per-guest" ng-if="pricing.pricingType != 'Group' && pricing.pricingType != 'Custom'">
                                                    <strong>&#8377; {{pricing.price}}</strong>
                                                </div>

                                                <div class="col s2 guest-quantity" ng-if="pricing.pricingType != 'Group' && pricing.pricingType != 'Custom'">
                                                    <input type="number" name="quantity" min="1" ng-model="vm.nonGroupCustomSeatQuantity[$index]" class="qty" ng-change="vm.calculateNonGroupCustomSeatPrice($index)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="divider"></div>
                            
                                    <div ng-show="vm.bookingProductDetails.areAddonsAvailable">    
                                        <div class="row padding-top padding-bottom">
                                            <div class="col s12 l12 m12 margin-bottom blue-grey-text text-darken-1">Optional Add-Ons</div>
                                            <div class="col s12 l12 m12" ng-repeat="addon in vm.bookingProductDetails.productAddons track by $index">
                                                <div class="col s7">
                                                    <input type="checkbox" id="addon{{$index}}" class="filled-in" name="addon{{$index}}" ng-click="vm.setSelectedAddonPricing($index)" ng-model="vm.addonSelectionCheckbox[$index]">
                                                    <label for="addon{{$index}}" class="blue-grey-text text-lighten-1">{{addon.name}}</label>
                                                    <a ng-if="addon.description != null">
                                                        <i class="fa fa-info-circle orange-text" data-toggle="tooltip" data-placement="right" title="{{addon.description}}"></i>
                                                    </a>
                                                </div>
                                                <div class="col s3 price-per-guest">
                                                    <strong>&#8377; {{addon.price}}</strong> <br>
                                                    <span class="desc-text grey-text">({{addon.applyAs}})</span>
                                                </div>
                                                <div class="col s2 guest-quantity">
                                                    <input type="number" name="quantity" min="1" value="1" class="qty" ng-model="vm.addonQuantity[$index]" disabled placeholder="1" ng-show="addon.applyAs == 'Per Booking' || addon.applyAs == 'Per Seat'">
                                                    <input type="number" id="addonSelection{{$index}}" name="quantity" min="1" class="qty" ng-model="vm.addonQuantity[$index]" ng-change="vm.calculateAddonPrice($index)" ng-show="addon.applyAs == 'Guest Choice'">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                    </div>
                            
                                    <!-- No coupon codes for now -->
                                    <!--
                                    <div class="row padding-top padding-bottom">
                                        <div class="col s12 l12 m12">
                                            <a id="display-coupon" class="blue-grey-text text-darken-1"><strong>Have a coupon?&nbsp;&nbsp;<i class="zmdi zmdi-plus"></i></strong>
                                            </a>
                                        </div>
                                        
                                        <div id="apply-coupon" class="col s12 l12 m12 padding-none-left">
                                        <div class="input-field col s6 m4 l4">
                                          <input id="coupon-code" type="text" class="blue-grey-text text-darken-1">
                                          <label for="coupon-code" data-error="wrong" data-success="right">Coupon Code</label>
                                        </div>
                                        <div class="input-field col s4 m6 l6"><a href="#" class="btn btn-outline white orange-text">Apply</a>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                        
                                    <div class="row padding-top padding-bottom blue-grey lighten-5">
                                        <div class="col s12 l12 m12 blue-grey-text text-darken-1 margin-bottom">
                                            <strong>Totals</strong>
                                        </div>
                                
                                        <div class="col s12 m12 l12 margin-bottom">
                                            <div class="col s7 m7 l7">Tour price</div>
                                            <div class="col s5 m5 l5">
                                                <strong>&#8377; {{vm.totalCalculatedSeatPrice}}</strong>
                                            </div>
                                        </div>    
                                 
                                        <div class="col s12 m12 l12  margin-bottom">    
                                            <div class="col s7 m7 l7">Add-ons</div>
                                            <div class="col s5 m5 l5">
                                                <strong>&#8377; {{vm.totalcalculatedAddonPrice}}</strong>
                                            </div>    
                                        </div>    
                                
                                        <!-- No discount for now-->
                                        <!--
                                        <div class="col s12 m12 l12 margin-bottom">    
                                            <div class="col s7 m7 l7">Discount</div>
                                            <div class="col s5 m5 l5">
                                                <strong>&#8377; 100</strong>
                                            </div>    
                                        </div>
                                        -->
                                
                                        <div class="col s12 m12 l12">    
                                            <div class="col s7 m7 l7 orange-text">You will pay</div>
                                            <div class="col s5 m5 l5">
                                                <span class="chip green white-text">&#8377; {{vm.totalPayablePrice}}</span>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>                    
                        </div>
                  
                  
                        <!--step 3--> 
                        <div id="step-3" class="col l12 m12 s12 margin-bottom z-depth-1">
                            <div class="section-header white">
                                <i class="zmdi zmdi-account orange-text"></i>
                                <span class="section-header-title">Guest Information
                                <!--<span class="desc-text grey-text">(the day to start)</span>-->
                                </span> 
                            </div>
                            <div class="row light-blue lighten-5 margin-bottom padding blue-grey-text text-darken-1">
                                <strong>Your information</strong>
                            </div>
                    
                            <form class="margin-top">
                                <div class="col s12 l12 m12 blue-grey-text text-darken-1">Full Name</div>
                                <div class="col l12 m12 s12  padding-none-left">
                                    <div class="input-field col s6 m6 l6">
                                        <input id="first-name" type="text" class="blue-grey-text text-darken-1" ng-model="vm.providedGuestDetails.firstName">
                                        <label for="first-name" data-error="wrong" data-success="right">First Name</label>
                                    </div>
                                    <div class="input-field col s6 m6 l6">
                                        <input id="last-name" type="text" class="blue-grey-text text-darken-1" ng-model="vm.providedGuestDetails.lastName">
                                        <label for="last-name" data-error="wrong" data-success="right">Last Name</label>
                                    </div>
                                </div>
                        
                                <div class="col s12 l12 m12 blue-grey-text text-darken-1">Email</div>
                                <div class="col l12 m12 s12 padding-none-left">
                                    <div class="input-field col s12 m12 l12">
                                        <input id="email-address" type="email" class="blue-grey-text text-darken-1" ng-model="vm.providedGuestDetails.email">
                                        <label for="email-address" data-error="Invalid Email Address" data-success="right">Receipts and notifications will be sent to this address</label>
                                    </div>   
                                </div>
                        
                                <div class="col s12 l12 m12 blue-grey-text text-darken-1">Phone</div>
                                <div class="col l12 m12 s12  padding-none-left margin-bottom">
                                    <div class="input-field col s3 l2 m12 bookingMobileNumber">
                                        <select id="bookingMobileNumber">
                                            <option value="+91">+91</option>
                                        </select>
                                    </div>
                                    <div class="input-field col l10 m10 s9">
                                        <input id="mobile" type="number" class="blue-grey-text text-darken-1" ng-model="vm.providedGuestDetails.mobile">
                                        <label for="mobile" data-error="Invalid Mobile Number" data-success="right">Mobile number</label>
                                    </div>   
                                </div>
                            </form>
                        </div>
                  
                        <!--step 4--> 
                        <div id="step-4" class="col l12 m12 s12 margin-bottom z-depth-1">
                            <div class="section-header white">
                                <i class="zmdi zmdi-card orange-text"></i>
                                <span class="section-header-title">Payment</span> 
                            </div>
                            <div class="row green lighten-5 padding green-text margin-none-bottom center">You pay &nbsp;
                                <strong>&#8377; 2000</strong>
                            </div>
                            <div class="row margin-none-bottom">
                                <div class="col s12 m3 l3 tabs-holder">
                                    <ul class="tabs margin-bottom fluid-vertical">
                                        <li class="tab vertical">
                                            <a href="#debit-card" class="active" >Debit Card</a>
                                        </li>
                                        <br>
                                        <li class="tab vertical">
                                            <a href="#credit-card">Credit Card</a>
                                        </li>
                                        <br>
                                        <li class="tab vertical">
                                            <a href="#netbanking">Net Banking</a>
                                        </li>
                                    </ul>
                                </div>
                        
                                <div class="col s12 m9 l9">
                                    <div id="debit-card" class="col s12 m12 l12 margin-top margin-bottom">
                                        <div class="row">
                                            <div class="col l4 m4 s12">
                                                <label>Pay using Debit Card:</label>
                                            </div>
                                            <div class="col l8 m8 s12 padding-none-left">
                                                <img src="modules/core/client/img/previewAndDetails/debit-cards.png" alt="cards">
                                            </div>
                                        </div>
                                        <div class="cards-bg z-depth-1 padding-bottom padding-top">
                                            <div class="col s12 l12 m12 margin-top">
                                                <div class="input-field">
                                                    <input id="debit-card-number" type="number">
                                                    <label for="debit-card-number" class="">Card Number</label>
                                                </div>
                                                <div class="input-field">
                                                    <input id="name-on-debit-card" type="text">
                                                    <label for="name-on-debit-card" class="">Name on card</label>
                                                </div>
                                            </div>
                                    
                                            <div class="col s4 m3 l3 padding-top blue-grey-text text-darken-1">
                                                <span class="padding-top">Expiry Date</span>
                                            </div>
                                            <div class="col s2 m3 l3">    
                                                <div class="input-field">
                                                    <input id="debit-card-expiry-month" type="number" class="autocomplete">
                                                    <label for="debit-card-expiry-month">MM</label>
                                                </div>    
                                            </div>
                                            <div class="col s2 m3 l3">
                                                <div class="input-field">
                                                    <input id="debit-card-expiry-year" type="number">
                                                    <label for="debit-card-expiry-year" class="">YY</label>
                                                </div>
                                            </div>
                                            <div class="col s4 m3 l3">
                                                <div class="input-field">
                                                    <input id="debit-ccv" type="number">
                                                    <label for="debit-ccv" class="">CCV</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="credit-card" class="col s12 m12 l12 margin-top margin-bottom">
                                        <div class="row">
                                            <div class="col l4 m4 s12 ">
                                                <label>Pay using Credit Card:</label>
                                            </div>
                                            <div class="col l8 m8 s12 padding-none-left">
                                                <img src="modules/core/client/img/previewAndDetails/credit-cards.png" alt="cards">
                                            </div>
                                        </div>
                            
                                        <div class="cards-bg z-depth-1 padding-bottom padding-top">
                                            <div class="col s12 l12 m12 margin-top">
                                            <div class="input-field">
                                                <input id="credit-card-number" type="number">
                                                <label for="credit-card-number" class="">Card Number</label>
                                            </div>
                                            <div class="input-field">
                                                <input id="name-on-credit-card" type="text">
                                                <label for="name-on-credit-card" class="">Name on card</label>
                                            </div>
                                            </div>
                                            
                                            <div class="col s4 m3 l3 padding-top blue-grey-text text-darken-1">
                                                <span class="padding-top">Expiry Date</span>
                                            </div>
                                            <div class="col s2 m3 l3">    
                                                <div class="input-field">
                                                    <input id="credit-card-expiry-month" type="number">
                                                    <label for="credit-card-expiry-month" class="">MM</label>
                                                </div>    
                                            </div>
                                            <div class="col s2 m3 l3">
                                                <div class="input-field">
                                                    <input id="credit-card-expiry-year" type="number">
                                                    <label for="credit-card-expiry-year" class="">YY</label>
                                                </div>    
                                            </div> 
                                            <div class="col s4 m3 l3">
                                                <div class="input-field">
                                                    <input id="credit-ccv" type="number">
                                                    <label for="credit-ccv" class="">CCV</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div id="netbanking" class="col s12 m12 l12 margin-top margin-bottom">    
                                        <strong>Select Your Bank</strong>
                                        <div class="input-field col s12 padding-none-left">
                                            <select>
                                                <option value="" disabled selected>Choose your option</option>    
                                                <option value="1">Bank 1</option>
                                                <option value="2">Bank 2</option>
                                                <option value="3">Bank 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col s12 l12 m12 margin-top center">
                                        <input type="checkbox" id="agree-booking-terms" class="filled-in" name="agree-booking-terms">
                                        <label for="agree-booking-terms" class="blue-grey-text text-lighten-1"> 
                                            I hereby agree to <a href="#" class="blue-grey-text text-darken-1">Terms and Conditions</a>
                                        </label>
                                        <br>
                                        <!--<a href="#" class="btn btn-primary margin green">Continue</a>-->
                                    </div>
                        
                                    <div class="row center desc-text">
                                        <label>We do not store your netbanking/debit/credit card information. All payments are encrypted and securely processed through PCI compliant provider.</label>
                                    </div>
                                </div>   
                            </div>        
                        </div>
                        <!--Step4 End-->   
                    </div><!--Wizard End-->
                </div><!--Main-Body--> 
                
                <div class="col l4 m4 s12 right-bar">
                    <div class="card-panel">
                        <p class="blue-grey-text text-darken-1"><strong>Need any help with booking?</strong></p>
                        <div class="chip call-us">
                            <a href="tel:+919867101299">
                                <img src="modules/core/client/img/previewAndDetails/icn_call.svg" alt="Contact Person">
                            </a>
                            <span class="grey-text">Call Us on:</span>
                            <a href="tel:+919867101299" class="blue-grey-text text-darken-1">
                                <strong>{{vm.bookingProductDetails.hostCompany.inquiryMobile}}</strong>
                            </a>
                        </div>
                        <blockquote>
                            <label ng-show="vm.bookingProductDetails.hostCompany.inquiryTime == 'rangeTime'">
                                <strong>From &nbsp;</strong> 
                                <span class="orange-text">{{vm.bookingProductDetails.hostCompany.inquiryTimeRangeFrom}}</span>
                                <strong>&nbsp;to&nbsp;</strong>
                                <span class="orange-text">{{vm.bookingProductDetails.hostCompany.inquiryTimeRangeTo}}</span>
                                <strong>IST</strong>
                            </label>
                            <label ng-show="vm.bookingProductDetails.hostCompany.inquiryTime == 'Anytime'">
                                <strong>24 hrs available</strong> 
                            </label>
                        </blockquote>
                    </div>
                    <br><br><br>
                    <!--right bar end-->
                </div>
                <!--main columns end-->
            </div>
        </div>
    </main>
    <footer class="footer" ng-include="'/modules/core/client/views/footer.client.view.html'" ></footer>
    <div id="showRepeatDatesModal" class="repeatDatesModal">
        <!-- Modal content -->
        <div class="repeatDatesModal-content">
            <div class="moreDatesModal-header">
                <span class="moreDatesModalClose" onclick="fadeOutTheModal('#showRepeatDatesModal')">&times;</span>
                <h4 class="moreDates-title">Chose departure date</h4>
            </div>
            <div class="moreDatesModal-body">
               <div class="calendarMargin">
                    <div id='repeatTourCalendar' class=".fullCalendar"></div>
                </div>
            </div>
            <div class="moreDatesModal-footer">
               <button id="closeMoreDates" type="button" class="btn btn-secondary moreDates-close" onclick="fadeOutTheModal('#showRepeatDatesModal')">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // Smart Wizard     
        $('#wizard').smartWizard({
            onLeaveStep: leaveAStepCallback,
            onFinish: onFinishCallback
        });

        function leaveAStepCallback(obj, context) {
            return angular.element('#booking').scope().validateData(context.fromStep, context.toStep);
        }
        function onFinishCallback() {
            angular.element('#booking').scope().createBookingObject();
            //$('#wizard').smartWizard('showMessage','Finish Clicked');
            //alert('Finish Clicked');
        }
    });
</script>
<script type="text/javascript">
    var events = []

    $('#bookingCalendar').fullCalendar({
        height: 600,
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month'
        },
        navLinks: true, // can click day/week names to navigate views
        selectHelper: true,
        selectable: true,
        select: function(start, end) {
            var date = new Date(start);
            if (date < new Date())
                alert('You cannot book tour for passed dates');
            else if (angular.element('#booking').scope().bookingNotAllowedMonths.has(date.getMonth()))
                alert('tour is not available in this month');
            else {
                var selectedDate = angular.element('#booking').scope().getDepartureDate(date, true);
            }
        },
        events: events,
        eventRender: function (event, element) {
            element.find('.fc-title').html(event.title);
        }
    });
</script>
<script>
    $(document).ready(function(){
        $(this).scrollTop(0);
    });
    $("#bookingMobileNumber").select2({
        minimumResultsForSearch: Infinity,
        width:'60px'
    });
    function fadeOutTheModal (divId) {
        $('#tourgeckoBody').removeClass('makeOverflowHidden');
        $(divId).slideUp('slow');
    }
</script>
</script>
<script type="text/javascript" src="lib/materialize/materialize.min.js"></script>
<script type="text/javascript" src="lib/scripts-inside-html/js/tour-preview-details-booking.js"></script>
<script type="text/javascript" src="modules/core/client/scripts/showmore.js"></script>
<script type="text/javascript" src="lib/scripts-inside-html/js/init.js"></script>
<script type="text/javascript" src="lib/scripts-inside-html/js/jquery.smartWizard.js"></script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>