<div class="hostHome container-fluid" id="hostHome">

	<!--<div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'"></div>-->

	<div class="row body-content">
		<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 home-content">
			<div ng-include="'/modules/hosts/client/views/top-nav-home.client.view.html'"></div>

			<div class="home-section analytics">
				<div class="head_content">
					<h4>Analytics</h4>
					<p>Last 30 days</p>
				</div>
				<!-- We are suppose to give the analytics for last 30 days as per written in heading. For now, its overall. Will
					 check whether I need to change it to last 30 days or we will change the heading to total -->
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 analytics-bookings">
						<i class="zmdi zmdi-account"></i>
						<p ng-show="vm.bookings.length > 1"><span>{{vm.bookings.length}}</span> Bookings</p>
						<p ng-show="vm.bookings.length <= 1"><span>{{vm.bookings.length}}</span> Booking</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 revenue">
						<i class="fa fa-inr" aria-hidden="true"></i>
						<p><span>{{vm.totalRevenue}}</span> Revenue</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 messages">
						<i class="zmdi zmdi-email"></i>
						<p ng-show="vm.messages.length > 1"><span>{{vm.messages.length}}</span> Messages</p>
						<p ng-show="vm.messages.length <= 1"><span>{{vm.messages.length}}</span> Message</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 departures">
						<i class="zmdi zmdi-airplane"></i>
						<p><span>{{vm.productSessions.length}}</span> Departures</p>
					</div>
				</div>
			</div>
			<div class="home-section pinboard">
				<div class="head_content">
					<h4>Pinboard</h4>
				</div>
				<div class="row" ng-repeat="data in vm.pinboardData">
					<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" >
						<div class="info_content">
							<div class="info">
								<p>{{data.message}}</p>
								<p class="todo text-uppercase"><i class="zmdi zmdi-assignment"></i> {{data.type}}</p>
								<p class="time" ng-show="data.type == 'todo'"><i class="zmdi zmdi-timer"></i> {{data.timeRequired}}</p>
							</div>
							<a ng-show="data.type != 'todo'" class="dismiss" href="" ng-click="vm.dismissPinboardMessage($index)">Dismiss</a>
							<a class="update_profile btn btn-primary outline pull-right" href="{{data.linkURL}}" ng-show="data.linkRequired == true">{{data.linkButtonLabel}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="home-section latest">
				<div class="head_content">
					<h4>Latest</h4>
				</div>
				<div class="row">
					<div class="col-lg-6 col-mg-6 col-sm-6 bookings">
						<h4>Bookings</h4>
						<div class="info_content" ng-repeat="booking in vm.bookings | limitTo:5">
							<p class="name">{{booking.providedGuestDetails.firstName}} {{booking.providedGuestDetails.lastName}}</p>
							<p class="outing">{{booking.product.productTitle}}</p>
							<p class="date">{{vm.getDepartureDate($index)}}</p>
							<p class="status text-uppercase"><i class="zmdi zmdi-star-outline"></i> New</p>
						</div>
					<div class="seemoreinfo">
							<a ui-sref="host.allBookings" ng-show="vm.bookings.length > 5">See all Bookings</a>
							<a ui-sref="host.allBookings" ng-show="vm.bookings.length < 5 && vm.bookings.length >= 0">Go to Bookings</a>
						</div>
					</div>

					<div class="col-lg-6 col-mg-6 col-sm-6 message">
						<h4>Messages</h4>
						<div class="info_content" ng-repeat="message in vm.messages | limitTo:5">
							<p class="name">{{message.messageFrom}}</p>
							<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
							<p class="status"><i class="zmdi zmdi-email"></i></p>
						</div>

						<div class="seemoreinfo">
							<a ui-sref="host.allMessages" ng-show="vm.messages.length > 5">See all Messages</a>
							<a ui-sref="host.allMessages" ng-show="vm.messages.length < 5 && vm.messages.length >= 0">Go to Messages</a>
						</div>
					</div>
				</div>
			</div>
			<div class="home-section event_calendar">
				<div class="head_content">
					<h4>Upcoming</h4>
                    <ul class="cal_list_toggle pull-right">
                    <li><a href="#" class="active">Calendar</a></li>
                    <li> | </li>
                    <li><a href="#" >List</a></li>
                    </ul>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div id='calendar'></div>
					</div>
				</div>
				<span class="loader-spinner-hostHomeCalendarTab" id="loaderForCalendarHomePage"><i class="fa fa-refresh fa-spin"></i></span>
			</div>
		</div>
	</div>
</div>
<div id="fullCalModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
				<h4 id="calendarTourPopupTitle" class=""></h4>
			</div>
			<div id="calendarTourPopupBody" class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-primary">
					<a id="eventUrl" onclick="$('.modal-backdrop').remove()">Details</a>
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="modules/hosts/client/scripts/calendar.js"></script>