<div class="hostHome">
	<div class="row body-content">
		<div class="col-md-2 left-nav-bar">
			<nav class="navbar navbar-default navbar-fixed-side">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					</button>
				</div>
				<div class="navbar-collapse collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="#"><i class="zmdi zmdi-home"></i> Home</a></li>						
						<li><a href="#" ng-click="vm.goToHostWebsite()"><i class="zmdi zmdi-globe"></i> View Your Website</a></li>
						
						<li class="separator"><a href="#"><i class="zmdi zmdi-card-travel"></i> Tours</a></li>						
						<li><a href="#"><i class="zmdi zmdi-calendar"></i> Calendar</a></li>
						<li><a href="#"><i class="zmdi zmdi-calendar-check"></i> Bookings</a></li>
						
						<li class="separator"><a href="#"><i class="zmdi zmdi-email"></i> Messages</a></li>
						<li><a href="#"><i class="zmdi zmdi-settings"></i> Settings</a></li>
						<li><a href="#"><i class="zmdi zmdi-help"></i> Help</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="col-md-10 col-sm-8 home-content">
			<div class="home_add_tour">
            <h2><i class="zmdi zmdi-home"></i> Home</h2>
			<a class="btn btn-primary pull-right" href="#"><i>+</i>Add a Tour</a>
				
			</div>
			<div class="home-section analytics">
				<div class="head_content">
					<h3>Analytics</h3>
					<p>Last 30 days</p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 analytics-bookings">
						<i class="zmdi zmdi-account"></i>
						<p><span>10</span> Bookings</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 revenue">
						<i class="zmdi zmdi-money"></i>
						<p><span>1500</span> Revenue</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 messages">
						<i class="zmdi zmdi-email"></i>
						<p><span>10</span> Messages</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 departures">
						<i class="zmdi zmdi-airplane"></i>
						<p><span>15</span> Departures</p>
					</div>
				</div>
			</div>
			<div class="home-section pinboard">
				<div class="head_content">
					<h3>Pinboard</h3>
				</div>
				<div class="row">
					<div class="col-lg-12 col-sm-12">
						<div class="info_content">
							<div class="info">
								<p>Complete your profile information</p>
								<p class="todo text-uppercase"><i class="zmdi zmdi-assignment"></i> todo</	p>
								<p class="time"><i class="zmdi zmdi-timer"></i> 2Min</p>
							</div>
							<a class="update_profile btn btn-default pull-right" href="#">Update Profile</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-sm-12">
						<div class="info_content">
							<div class="info">
								<p>Long weekend is coming, have you planned any tours ?</p>
								<p class="todo text-uppercase"><i class="zmdi zmdi-lamp invert"></i> advice</p>
							</div>
							<a class="dismiss " href="#">Dismiss</a>
						</div>
					</div>
				</div>
			</div>
			<div class="home-section latest">
				<div class="head_content">
					<h3>Latest</h3>
				</div>
				<div class="row">
					<div class="col-lg-6 col-mg-6 col-sm-6 bookings">
						<h4>Bookings</h4>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="outing">Trek to bandghavgad</p>
							<p class="date">20 Jan, 2016</p>
							<p class="status text-uppercase"><i class="zmdi zmdi-star-outline"></i> New</p>
						</div>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="outing">Trek to bandghavgad</p>
							<p class="date">20 Jan, 2016</p>
							<p class="status text-uppercase"><i class="zmdi zmdi-star-outline"></i> New</p>
						</div>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="outing">Trek to bandghavgad</p>
							<p class="date">20 Jan, 2016</p>
							<p class="status text-uppercase"><i class="zmdi zmdi-star-outline"></i> New</p>
						</div>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="outing">Trek to bandghavgad</p>
							<p class="date">20 Jan, 2016</p>
							<p class="status text-uppercase"><i class="zmdi zmdi-star-outline"></i> New</p>
						</div>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="outing">Trek to bandghavgad</p>
							<p class="date">20 Jan, 2016</p>
							<p class="status text-uppercase"><i class="zmdi zmdi-star-outline"></i> New</p>
						</div>
						<div class="seemoreinfo">
							<a href="#">See all Bookings</a>
						</div>
					</div>
					<div class="col-lg-6 col-mg-6 col-sm-6 message">
						<h4>Messages</h4>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
							<p class="status"><i class="zmdi zmdi-email"></i></p>
						</div>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="content">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt consectetur adipiscing elit</p>
							<p class="status"><i class="zmdi zmdi-email"></i></p>
						</div>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="content">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
							<p class="status"><i class="zmdi zmdi-email"></i></p>
						</div>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
							<p class="status"><i class="zmdi zmdi-email"></i></p>
						</div>
						<div class="info_content">
							<p class="name">Sunil Malik</p>
							<p class="content">Dolor sit amet, consectetur tempor incididunt</p>
							<p class="status"><i class="zmdi zmdi-email"></i></p>
						</div>
						<div class="seemoreinfo">
							<a href="#">See all Bookings</a>
						</div>
					</div>
				</div>
			</div>
			<div class="home-section event_calendar">
				<div class="head_content">
					<h3>Upcoming</h3>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div id='calendar'></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {

	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		defaultDate: '2016-09-12',
		navLinks: true, // can click day/week names to navigate views
		selectable: true,
		selectHelper: true,
		select: function(start, end) {
			var title = prompt('Event Title:');
			var eventData;
			if (title) {
				eventData = {
					title: title,
					start: start,
					end: end
				};
				$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
			}
			$('#calendar').fullCalendar('unselect');
		},
		editable: true,
		eventLimit: true, // allow "more" link when too many events
		events: [
			{
				title: '<span class="eventname orange">All Day Event</span><span class="lbreak"><i class="zmdi zmdi-circle orange"></i><i class="zmdi zmdi-account"></i>7/10</span>',
				start: '2016-09-01',
				backgroundColor: 'rgba(237,156,40, 0.2)'
			},
			{
				title: '<span class="eventname green">All Day Event</span><span class="lbreak"><i class="zmdi zmdi-circle green"></i><i class="zmdi zmdi-account"></i>10/10</span>',
				start: '2016-09-07',
				end: '2016-09-10',
				backgroundColor: 'rgba(66,174,94,0.2)'
			},
			{
				title: '<span class="eventname red">All Day Event</span><span class="lbreak"><i class="zmdi zmdi-circle red"></i><i class="zmdi zmdi-account"></i>1/10</span>',
				start: '2016-09-17',
				end: '2016-09-20',
				backgroundColor: 'rgba(216,64,64,0.2/respond)'
			},
		],
		eventRender: function (event, element) {
			element.find('.fc-title').html(event.title);
		}
	});
});
</script>