<section class="content main-wrapper">
    <section class="container-fluid tourgecko-left-nav"  ng-controller="sidenavController as vm">
        <div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'"></div>
    </section>
	<section class="main-body-wrapper" style="overflow-x: hidden !important;">
		<header ng-include="'/modules/core/client/views/header.client.view.html'" ></header>		
		<div id="loadingDivHostSide" class="loaderDisplayDiv" style="display: none;"></div>
		<div ui-view id="host-section-Pages"  onload="onDivLoad()">
			<input type="hidden" id="refreshed" value="no"/>
		</div>
		<footer class="footer" ng-include="'/modules/core/client/views/footer.client.view.html'" id="mainFooterElement"></footer>
	</section>
</section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/599e85a54fe3a1168ead9858/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script>
	function onDivLoad () {
           var e = document.getElementById("refreshed");
           if (e.value == "no") e.value = "yes";
           else { e.value = "no"; location.reload(); }
       }
</script>


