<div class="left-nav-bar" ng-controller="sidenavController as vm" ng-hide="!vm.authentication.user || vm.hideSideNav">
	<nav class="navbar navbar-default navbar-fixed-side">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="modules/core/client/img/brand/logo.svg" alt="tourgecko"></a>
		</div>
		<div class="navbar-collapse collapse" id="myNavbar">
			<ul class="nav navbar-nav" id="one">
				<li>
					<a ui-sref="host.hostHome">
						<i class="zmdi zmdi-home"></i> Home
					</a>
				</li>
				<li>
					<a href="" ng-click="vm.goToHostWebsite()">
						<i class="zmdi zmdi-globe"></i> View Your Website
					</a>
				</li>

				<li class="separator">
					<a ui-sref="host.tours">
						<i class="zmdi zmdi-card-travel"></i> Tours
					</a>
				</li>
				<li>
					<a ui-sref="host.calendar">
						<i class="zmdi zmdi-calendar"></i> Calendar
					</a>
				</li>
				<li>
					<a ui-sref="host.allBookings">
						<i class="zmdi zmdi-calendar-check"></i> Bookings
					</a>
				</li>

				<li class="separator">
					<a ui-sref="host.allMessages">
						<i class="zmdi zmdi-email"></i> Messages
					</a>
				</li>
				<li data-toggle="slide-collapse" class="collapsed parentClick" id="parentMenu">
					<a href="">
						<i class="zmdi zmdi-settings"></i> Settings 
						<span class="glyphicon glyphicon-chevron-right sideNav-Settings-Right"></span>
					</a>
					<ul class="sub-menu" id="products">
						<li class="active"><a ui-sref="host.companyProfile">Company Profile</a></li>
						<li><a ui-sref="host.contacts">Contacts</a></li>
						<li><a ui-sref="host.payments">Payments</a></li>
						<li><a ui-sref="host.toursite">Toursite</a></li>
						<li><a ui-sref="host.account">Account</a></li>
						<li><a ui-sref="host.region">Regional</a></li>
						<li><span class="glyphicon glyphicon-chevron-left sideNav-Settings-Left"></span></li>
					</ul>
				</li>
				<li><a href="#"><i class="zmdi zmdi-help"></i> Help</a></li>
			</ul>
		</div>
	</nav>
</div>

<script>
	$("#parentMenu").on('click', function(event) {
	   $(this).toggleClass("toggle");
	   event.stopPropagation();
	});
	$("ul#one li ul li a").on('click', function(event) {
		if ($(window).width() <= 767) {
			$("#parentMenu").removeClass("toggle");
			$(".main-wrapper").toggleClass("toggle");
		}
		event.preventDefault();
	   	event.stopPropagation();
	});

	$("ul#one").on('click', function(event) {
		if ($(window).width() <= 767)
			$(".main-wrapper").toggleClass("toggle");
		if($("#parentMenu").hasClass("toggle"))
			$("#parentMenu").removeClass("toggle");
	   event.stopPropagation();
	});
	$('#tourgeckoBody').on('click', function(event) {
		if($(".main-wrapper").hasClass("toggle")) {
			$(".main-wrapper").toggleClass("toggle");
			event.stopPropagation();
		}
	});
</script>
