<div class="col-md-3 col-sm-3 col-lg-2 left-nav-bar tourgecko-left-nav">
	<nav class="navbar navbar-default navbar-fixed-side">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
		</div>
		<div class="navbar-collapse collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a ui-sref="host.hostHome"><i class="zmdi zmdi-home"></i> Home</a></li>						
				<li><a href="#" ng-click="vm.goToHostWebsite()"><i class="zmdi zmdi-globe"></i> View Your Website</a></li>
				
				<li class="separator"><a ui-sref="host.tours"><i class="zmdi zmdi-card-travel"></i> Tours</a></li>						
				<li><a ui-sref="host.calendar"><i class="zmdi zmdi-calendar"></i> Calendar</a></li>
				<li><a ui-sref="host.allBookings"><i class="zmdi zmdi-calendar-check"></i> Bookings</a></li>
				
				<li class="separator"><a ui-sref="host.allMessages"><i class="zmdi zmdi-email"></i> Messages</a></li>
				<li data-toggle="slide-collapse" data-target="#products" class="collapsed">
							<a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
							<ul class="sub-menu collapse" id="products">
								<li class="active"><a href="#">Company Profile</a></li>
								<li><a href="#">Contacts</a></li>
								<li><a href="#">Payments</a></li>
								<li><a href="#">Toursite</a></li>
								<li><a href="#">Account</a></li>
								<li><a href="#">Regional</a></li>
							</ul>
						</li>
				<li><a href="#"><i class="zmdi zmdi-help"></i> Help</a></li>
			</ul>
		</div>
	</nav>
</div>