<div class="left-nav-bar" ng-controller="sidenavController as vm" ng-hide="!vm.authentication.user || vm.hideSideNav">
	<nav class="navbar navbar-default navbar-fixed-side">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="modules/core/client/img/brand/logo.svg" alt="tourgecko"></a>
		</div>
		<div class="navbar-collapse collapse" id="myNavbar">
			<ul class="nav navbar-nav" id="one">
				<li onclick="showLoaderSideNav('admin')" id="adminTab">
					<a ui-sref="host.hostHome">
						<i class="zmdi zmdi-home"></i> Home
					</a>
				</li>
				<li onclick="showLoaderSideNav()" id="viewWebsiteTab">
					<a href="" ng-click="vm.goToHostWebsite()">
						<i class="zmdi zmdi-globe"></i> View Your Website
					</a>
				</li>

				<li class="separator" onclick="showLoaderSideNav('tours')" id="toursTab">
					<a ui-sref="host.tours">
						<i class="zmdi zmdi-card-travel"></i> Tours
					</a>
				</li>
				<li onclick="showLoaderSideNav('calendar')" id="calendarTab">
					<a ui-sref="host.calendar">
						<i class="zmdi zmdi-calendar"></i> Sessions
					</a>
				</li>
				<li onclick="showLoaderSideNav('bookings')" id="bookingsTab">
					<a ui-sref="host.allBookings">
						<i class="zmdi zmdi-calendar-check"></i> Bookings
					</a>
				</li>

				<li class="separator" onclick="showLoaderSideNav('messages')" id="messagesTab">
					<a ui-sref="host.allMessages">
						<i class="zmdi zmdi-email"></i> Messages
					</a>
				</li>
				<li data-toggle="slide-collapse" class="collapsed parentClick" id="parentMenu">
					<a href="">
						<i class="zmdi zmdi-settings"></i> Settings 
						<span class="glyphicon glyphicon-chevron-right sideNav-Settings-Right"></span>
					</a>
					<ul class="sub-menu" id="products">
						<li id="companyprofileSetting">
							<a ui-sref="host.companyProfile" onclick="showSettingLoader('companyprofile')">Company Profile</a>
						</li>
						<li id="contactsSetting">
							<a ui-sref="host.contacts" onclick="showSettingLoader('contacts')">Contacts</a>
						</li>
						<li id="paymentsSetting">
							<a ui-sref="host.payments" onclick="showSettingLoader('payments')">Payments</a>
						</li>
						<li id="toursiteSetting">
							<a ui-sref="host.toursite" onclick="showSettingLoader('toursite')">Toursite</a>
						</li>
						<li id="accountSetting">
							<a ui-sref="host.account" onclick="showSettingLoader('account')">Account</a>
						</li>
						<li id="regionSetting">
							<a ui-sref="host.region" onclick="showSettingLoader('region')">Regional</a>
						</li>
						<li><span class="glyphicon glyphicon-chevron-left sideNav-Settings-Left"></span></li>
					</ul>
				</li>
				<li><a href="#"><i class="zmdi zmdi-help"></i> Help</a></li>
			</ul>
		</div>
	</nav>
</div>

<script>
	$("#parentMenu").on('click', function(event) {
	   $(this).toggleClass("toggle");
	   $('#' + window.location.pathname.split('/')[3] + 'Setting').addClass('active');
	   event.stopPropagation();
	});
	$("ul#one li ul li a").on('click', function(event) {
		if ($(window).width() <= 767) {
			$("#parentMenu").removeClass("toggle");
			$(".main-wrapper").toggleClass("toggle");
		}
		event.preventDefault();
	   	event.stopPropagation();
	});

	$("ul#one").on('click', function(event) {
		if ($(window).width() <= 767) {
			$(".main-wrapper").toggleClass("toggle");
		}
		if($("#parentMenu").hasClass("toggle")) {
			$("#parentMenu").removeClass("toggle");
		}
	   event.stopPropagation();
	});
	$('#tourgeckoBody').on('click', function(event) {
		if($(".main-wrapper").hasClass("toggle")) {
			$(".main-wrapper").toggleClass("toggle");
			event.stopPropagation();
		}
	});

	$("#myNavbar .nav a").on("click", function(){
	   $(".nav").find(".active").removeClass("active");
	   $(this).parent().addClass("active");
	});
	var prevTab;
	$(document).ready(function () {
		prevTab = 'admin';
	})
	$('#'+prevTab+'Tab').addClass('active');
	function showLoaderSideNav (activeTab) {
		if (prevTab != activeTab) {
			$('#loadingDivHostSide').css('display', 'block');
			$('#tourgeckoBody').addClass('waitCursor');
		}
		prevTab = activeTab;
	}

	function showSettingLoader (clickedSettingTab) {
		if (window.location.pathname.split('/')[3] != clickedSettingTab) {
			$('#loadingDivHostSide').css('display', 'block');
			$('#tourgeckoBody').addClass('waitCursor');
		}
	}

</script>
