<div class="home_add_tour">
    <i class="zmdi zmdi-home heading-icn"></i>
    <h2><span>Home</span></h2>
	<button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#select-tour-type"><i class="zmdi zmdi-plus"></i>&nbsp;Add a Tour</button>
</div>
<div id="select-tour-type" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
				<h4 id="modalTitle" class="">What kind of  tour do you want to create?</h4>
			</div>
			<div id="modalBody" class="modal-body">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
				<form action="">

					<div class="radio">
					<label>
						<input type="radio" name="add-tour" value="add-tour-multiday-tour" id="add-tour-multiday-tour" checked>
						<strong>Multi- day tour</strong>
						<p class="sub_desc">Multi day tours like adventure expeditions , road trips or detonation tours</p>
					</label>
					</div>

					<div class="radio">
					<label>
						<input type="radio" name="add-tour" value="add-tour-activity" id="add-tour-activity">
						<strong>Activity</strong>
						<p class="sub_desc">Short spanned tours usually with duration in hours like scuba diving, balloon flights or any short timed activity</p>
					</label>
					</div>

					<div class="radio">
					<label>
						<input type="radio" name="add-tour" value="add-tour-daytour" id="add-tour-daytour">
						<strong>Day tour</strong>
						<p class="sub_desc">Day long tours like city  or heritage walks</p>
					</label>
					</div>

					<div class="radio">
					<label>
						<input type="radio" name="add-tour" value="add-tour-event" id="add-tour-event">
						<strong>Event</strong>
						<p class="sub_desc">Sporting or out outdoor event</p>
					</label>
					</div>

				</form>
			</div>
		</div>
			<div class="modal-footer text-center">
				<a class="btn btn-primary" href="13_tour_creation.html">Add New Tour</a>
			</div>
		</div>
	</div>
</div>
