<div class="hostHome">
	<div class="row body-content">
		<div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'" style="margin-left:30px !important;"></div>
		<div id="settings">
			<div class="row body-content" style="padding-left:250px;margin-right: -5.3%;">
				<div class="col-md-9 col-sm-9 col-lg-10 settings-content">
					<div class="home_add_tour">
						<h2><i class="zmdi zmdi-settings"></i>&nbsp;&nbsp;Settings &nbsp;&nbsp; 
						<span class="bread-caret"> <i class="zmdi zmdi-caret-right"></i></span>&nbsp;&nbsp;
						<span class="bread-current">Account</span></h2>
						<a class="btn btn-primary pull-right" ui-sref="host.accountEdit"><i class="zmdi zmdi-edit"></i>Edit</a>
					</div>

					<div class="row settings-subnav">
						<div class="col-lg-12 col-md-12 col-sm-12 pull-right">
							<form class="form-horizontal" method="post" action="#">
								<h3>Account Overview <i class="zmdi zmdi-lock icn_orange"></i></h3>
								<p class="section-desc">Account overview and details</p>
								<div class="panel account_status">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="member_since">
												<p class="desc bold">Member since</p>
												<p class="m_date"><i class="zmdi zmdi-calendar-check"></i> 20,January,2016</p>
											</div>
											<div class="member_status">
												<p class="desc bold">Account Status</p>
												<p class="status"><i class="zmdi zmdi-account"></i> Active</p>
											</div>
										</div>
									</div>
								</div>
								<h3>User Accounts <i class="zmdi zmdi-lock icn_orange"></i></h3>
								<p class="section-desc">Active accounts</p>
								<div class="panel account_overview">
									<div class="row details_row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="account_details">
												<h4>Gaurav Sharma</h4>
												<div class="details">
													<i class="zmdi zmdi-account-circle"></i>
													<div>
														<p class="role">Super Admin</p>
														<p class="owner_type">Owner Account</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="user_info">
												<img src="modules/users/client/img/profile/default.png" class="img-responsive" alt=" " />
												<div class="info">
													<div class="email">
														<p class="desc">Email</p>
														<p class="email_info bold">gaurav@gmail.com</p>
													</div>
													<div class="last_login">
														<p class="desc">Last login</p>
														<p class="last_login_info bold">1 January, 2016</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
