<div class="hostHome container-fluid">
	<div class="row body-content">
		<div id="settings">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 settings-content">
					<div class="home_add_tour">
						<i class="zmdi zmdi-settings heading-icn"></i>
						<h2><a href="#">Settings</a><i class="zmdi zmdi-caret-right bread-caret"></i><span class="bread-current">Account</span></h2>
					</div>

					<div class="row settings-subnav">
						<div class="col-lg-12 col-md-12 col-sm-12 pull-right">
							<form class="form-horizontal" name="vm.accountForm" ng-submit="vm.saveUserSettings(vm.accountForm.$valid)" novalidate>
								<h5>Account Overview <i class="zmdi zmdi-lock icn_orange" data-toggle="tooltip" data-placement="right" title="This information is private to you and hidden."></i></h5>
								<p class="section-desc sub_desc">Account overview and details</p>
								<div class="panel account_status">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="member_since">
												<p class="desc bold">Member since</p>
												<p class="m_date"><i class="zmdi zmdi-calendar-check"></i>{{vm.accountDetails[0].memberSince}}</p>
											</div>
											<hr>
											<div class="member_status">
												<p class="desc bold">Account Status</p>
												<p class="status"><i class="zmdi zmdi-account"></i>{{vm.accountDetails[0].isAccountActive == false ? 'Inactive' : 'Active'}}</p>
											</div>
										</div>
									</div>
								</div>
								<h5>User Accounts <i class="zmdi zmdi-lock icn_orange" data-toggle="tooltip" data-placement="right" title="This information is private to you and hidden."></i></h5>
								<p class="section-desc sub_desc">Active accounts</p>
								<div class="panel account_overview">
									<div class="row details_row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="account_details">
												<h5>{{vm.accountDetails[0].user.displayName}}</h5>
												<div class="details">
													<i class="zmdi zmdi-account-circle"></i>
													<div class="userRole">
														<p class="role">{{vm.accountDetails[0].user.roles[0] == 'hostAdmin' ? 'Super Admin' : vm.accountDetails[0].user.roles[0]}}</p>
														<p class="owner_type">{{vm.accountDetails[0].isOwnerAccount == true ? 'Owner Account' : '&nbsp;'}}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="user_info">
												<img src="{{vm.accountDetails[0].user.profileImageURL}}" class="img-responsive" alt=" " />
												<div class="info">
													<div class="email">
														<p class="desc"><strong>Email</strong><p>
														<p class="email_info bold">{{vm.accountDetails[0].user.email}}</p>
													</div>
													<div class="last_login">
														<p class="desc"><strong>Last login</strong></p>
														<p class="last_login_info bold">{{vm.getLastLoginToDisplay(vm.accountDetails[0].user.lastLogin)}}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
<script>
	$(document).ready(function(){
	    $(this).scrollTop(0);
	});
</script>