<div class="hostHome container-fluid" id="hostSettingsCompany">
	<div class="row body-content">
		<!--<div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'" style="margin-left:30px !important;"></div>-->
		<div id="settings" class="companyProfileSettings">
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 settings-content">
				<div class="home_add_tour fixed-in-div">
					<i class="zmdi zmdi-settings heading-icn"></i>
					<h2>
						<a href="#">Settings</a>
						<i class="zmdi zmdi-caret-right bread-caret"></i>
						<p>
							<span class="bread-current">Company Profile</span>
						</p>
					</h2>
					<a class="btn btn-primary pull-right" href="#" ng-click="vm.saveCompanyProfileSettings(vm.companyProfile.$valid)"><i class="zmdi zmdi-floppy"></i> Save</a>
				</div>
				<div class="row settings-subnav">
					<div class="col-lg-12 col-md-12 col-sm-12 pull-right settings_company_details">
						<form class="form-horizontal" name="vm.companyProfile" ng-submit="vm.saveCompanyProfileSettings(vm.companyProfile.$valid)">
							<!--<button class="btn btn-primary pull-right saveButton" href="#" type="submit"><i class="zmdi zmdi-floppy"></i>&nbsp;&nbsp;Save</button>-->

							<h5>Company Details <i class="zmdi zmdi-globe icn_orange" data-toggle="tooltip" data-placement="auto right" title="This information is public and will be shown on tour pages site." ></i></h5>
							<p class="section-desc sub_desc">Describe about who you are and what services you provide</p>

							<div class="panel">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<label for="describe" class="control-label">How do you describe yourself?</label>
											<div class="input_group">
												<div>
													<select class="form-control" id="describe" ng-model="vm.companyDetails[0].hostType">
														<option>Tour Operator</option>
														<option>Activity provider </option>
										                <option>Adventure Club</option>
										                <option>Tour Guide</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col">
										<div class="form-group">
											<label for="business_name" class="control-label">Name of your business</label>
											<div class="input_group">
												<div>
													<input type="text" name="business_name" class="form-control" id="business_name" ng-model="vm.companyDetails[0].companyName"/>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<label for="about_business" class="control-label">About your business</label>
											<p class="sub_desc">Describe what you do and what kind of tours and activities you provide. This is shown to guests on tour site and tour pages.</p>
											<div class="input_group">
												<div>
													<textarea class="form-control" rows="5" id="about_business" ng-model="vm.companyDetails[0].aboutHost"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<label for="established_in" class="control-label">Established In</label>
											<p class="sub_desc lheight">Year since you are operating</p>
											<div class="input_group">
												<div>
													<input type="text" name="established_in" class="form-control" id="established_in" ng-model="vm.companyDetails[0].establishedIn"/>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="company_logo_info">
									<label for="logo" class="control-label">Logo</label>
									<p class="sub_desc">If you are a guide, you can upload your picture</p>
									<br>
									<div class="o-checkbox">
										<input type="checkbox" value="None" name="noLogoCheck" id="noLogoCheck" ng-model="vm.noLogoPresent" ng-click="vm.showNoLogoContainer(vm.noLogoPresent)">
										<label for="noLogoCheck"></label>
										<span class="noLogoCheck">I have no logo yet</span>
									</div>
									<br>
									<div class="row error-notification" id="logoUploadErrorContainer" style="display: none">
										<div class="col-lg-12 col-md-12 col-sm-12 errors">
											<div class="row">
												<div class="col-lg-2 col-md-2 col-sm-2">
													<i class="fa fa-ban" aria-hidden="true"></i>
												</div>
												<div class="col-lg-10 col-md-10 col-sm-10 error-content">
													<span>  
														<h5> There is 1 error in the logo </h5>
														<ul>
															<li id="logoErrorText">  </li>
														</ul>
													</span> 
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="display:none" id="noLogoPresent">
											<div class="company_logo">
												<div class="img_info">
													<img src="modules/hosts/client/companyLogo/default/logo.png" alt="{{vm.companyDetails[0].companyName}}" class="company-logo-picture">
												</div>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center hostCompanyLogo" style="display:none" id="hostLogoContainer">
											<div class="company_logo">
												<div class="img_info">
													<img src="{{vm.companyDetails[0].logoURL}}" alt="{{vm.companyDetails[0].companyName}}" class="company-logo-picture" id="logoOFHost">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
											<div id="company-logo-uploader"></div>
										</div>
									</div>
								</div>
							</div>
							<h5>Address <i class="zmdi zmdi-globe icn_orange" data-toggle="tooltip" data-placement="auto right" title="This information is public and will be shown on tour pages site."></i></h5>
							<p class="section-desc sub_desc">Your addresses and location</p>
							<div class="panel">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<label for="street_address" class="control-label">Street Address</label>
											<div class="input_group">
												<div>
													<textarea class="form-control" rows="5" id="street_address" ng-model="vm.companyDetails[0].hostCompanyAddress.streetAddress"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<label for="city_addr" class="control-label">City</label>
											<div class="input_group">
												<div>
													<input type="text" name="city_addr" class="form-control" id="city_addr" ng-model="vm.companyDetails[0].hostCompanyAddress.city"/>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col">
										<div class="form-group">
											<label for="postal_code" class="control-label">Postal Code</label>
											<div class="input_group">
												<div>
													<input type="text" name="postal_code" class="form-control" id="postal_code" ng-model="vm.companyDetails[0].hostCompanyAddress.postalCode"/>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<label for="country_addr" class="control-label">Country</label>
											<div class="input_group">
												<div>
													<select class="form-control" id="country_addr" ng-model="vm.companyDetails[0].hostCompanyAddress.country">
														<option>India</option>
														<option>Option 2</option>
														<option>Option 3</option>
														<option>Option 4</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col">
										<div class="form-group">
											<label for="state_addr" class="control-label">State</label>
											<div class="input_group">
												<div>
													<input type="text" name="state_addr" class="form-control" id="state_addr" ng-model="vm.companyDetails[0].hostCompanyAddress.state"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button class="btn btn-primary pull-right saveButton-Bottom" href="#" type="submit"><i class="zmdi zmdi-floppy"></i>&nbsp;&nbsp;Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		 $('[data-toggle="tooltip"]').tooltip();
	});
	$(document).ready(function(){
	    $(this).scrollTop(0);
	});
</script>
<script type="text/template" id="qq-simple-thumbnails-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <br>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals" style="margin-bottom: 3%;">
            <li style="background-color: #f6f6f6;">
                <!-- <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div> -->
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file" style="color: grey;"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size" style="color: grey;"></span>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
               	<button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
        <div class="qq-upload-button-selector qq-upload-button uplodLogoStyle" id="uploadLogoBtn">
            <div>Upload Logo</div>
        </div>
        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>
<script>
	var logoUploader = new qq.FineUploader({
        element: document.getElementById("company-logo-uploader"),
        template: 'qq-simple-thumbnails-template',
        multiple: false,
        request: {
            customHeaders: {},
            endpoint: "/api/host/company/logo/",
            filenameParam: "qqfilename",
            forceMultipart: true,
            inputName: "newLogo",
            method: "POST",
            params: {},
            paramsInBody: true,
            totalFileSizeName: "qqtotalfilesize",
            uuidName: "qquuid"
        },        
        validation: {
            allowedExtensions: ['jpeg', 'jpg', 'png'],
            sizeLimit: 5000000,
            minSizeLimit: 0,
            itemLimit: 1,
            stopOnFirstInvalidFile: false
        },
        callbacks: {
            onComplete: function(id, name, responseJSON, maybeXhr) {
            	if (responseJSON.success) {
                    $('#logoOFHost').attr("src", responseJSON.url);
                    $("#hostLogoContainer").css("display", "block");
                    logoUploader.reset();
                }
            },
            onSubmit: function (id, name) {
            	$("#noLogoPresent").css("display", "none");
            	angular.element("#hostSettingsCompany").scope().changeLogoStatus();
            }
        },
         showMessage: function(message) {
         	$("#logoErrorText").text(message);
         	$("#logoUploadErrorContainer").css("display", "block");
	        //either include an empty body, or some other code to display (error) messages
	    }
    });
    $("#uploadLogoBtn").click(function () {
    	$("#logoUploadErrorContainer").css("display", "none");
    })
</script>