<div class="hostHome container-fluid">
	<div class="row body-content">
		<!--<div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'" style="margin-left:30px !important;"></div>-->
		<div id="settings">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 settings-content">
					<div class="home_add_tour fixed-in-div">
						<i class="zmdi zmdi-settings heading-icn"></i>
						<h2><a href="#">Settings</a><i class="zmdi zmdi-caret-right bread-caret"></i><span class="bread-current">Payment</span></h2>
						<a class="btn btn-primary pull-right" href="#"><i class="zmdi zmdi-floppy"></i> Save</a>
					</div>
					<div class="row settings-subnav">
						<div class="col-lg-12 col-md-12 col-sm-12 pull-right settings_payment">
							<form class="form-horizontal" ng-submit="vm.savePaymentSettings()">
								<!--<button class="btn btn-primary pull-right saveButton" href="#" type="submit"><i class="zmdi zmdi-floppy"></i>&nbsp;&nbsp;Save</button>-->
								<h5>Payment Method <i class="zmdi zmdi-lock icn_orange" data-toggle="tooltip" data-placement="auto right" title="This information is private to you and hidden."></i></h5>
								<p class="section-desc sub_desc">Payment methods to capture and collect online payments during bookings</p>
								<div class="panel panel_one">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="payment_radio">
												<label class="radio_label">
													<input type="radio" name="payin" value="tourgecko_payment" checked>
													<span>Use tourgecko payment wallet</span>
													<i class="zmdi zmdi-check-circle"></i>
													<i class="zmdi zmdi-circle-o"></i>
												</label>
											</div>
											<p class="payment_wallet_subdesc sub_desc"><i class="zmdi zmdi-lamp"></i> <span>Wallet is already setup and you can start to take online bookings immediately without any setup. You will receive payout in your bank account after tour or activity has started</span></p>
										</div>
									</div>
								</div>
								<h5>Payout Details <i class="zmdi zmdi-lock icn_orange" data-toggle="tooltip" data-placement="auto right" title="This information is private to you and hidden."></i></h5>
								<p class="section-desc sub_desc">Payouts are handed through bank transfer. Configure your bank account below.</p>
								<div class="panel panel_two">
									<div class="payment_radio">
										<label class="radio_label">
											<input type="radio" name="payout" value="bank_payment" checked/>
											<span>Use bank transfer</span>
											<i class="zmdi zmdi-check-circle"></i>
											<i class="zmdi zmdi-circle-o"></i>
										</label>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="bank_firstname" class="cols-sm-2 control-label">Name on bank account</label>
												<div class="input_group">
													<div>
														<input type="text" class="form-control" name="bank_firstname" id="bank_firstname"  placeholder="Full Name" ng-model="vm.paymentDetails[0].hostBankAccountDetails.beneficiaryName"/>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="bank_acnumber" class="cols-sm-2 control-label">Bank account number</label>
												<div class="input_group">
													<div>
														<input type="text" class="form-control" name="bank_acnumber" id="bank_acnumber"  placeholder="Account Number" ng-model="vm.paymentDetails[0].hostBankAccountDetails.beneficiaryAccNumber"/>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="bank_bic" class="cols-sm-2 control-label">Bank IFSC code (BIC)</label>
												<div class="input_group">
													<div>
														<input type="text" class="form-control" name="bank_bic" id="bank_bic"  placeholder="Ex: HDFC0085" ng-model="vm.paymentDetails[0].hostBankAccountDetails.beneficiaryBankIFSCcode">
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="bank_country" class="cols-sm-2 control-label">Country</label>
												<div class="input_group">
													<div>
														<select class="form-control" id="bank_country" ng-model="vm.beneficiaryBankCountry">
															<option>India</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<button class="btn btn-primary pull-right saveButton-Bottom" href="#" type="submit"><i class="zmdi zmdi-floppy"></i>&nbsp;&nbsp;Save</button>
							</form>
						</div>
					</div>


				</div>
		</div>
	</div>
</div>
