<div class="hostHome">
	<div class="row body-content">
		<div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'" style="margin-left:30px !important;"></div>
		<div id="settings">
			<div class="row body-content" style="padding-left:250px;margin-right: -5.3%;">
				<div class="col-md-9 col-sm-9 col-lg-10 settings-content">
					<div class="home_add_tour">
						<h2><i class="zmdi zmdi-settings"></i>&nbsp;Settings
						<span class="bread-caret"><i class="zmdi zmdi-caret-right"></i></span>
						<span class="bread-current">Payment</span></h2>
						<a class="btn btn-primary pull-right" href="#"><i class="zmdi zmdi-floppy"></i>Save</a>						
					</div>
					<div class="row settings-subnav">
						<div class="col-lg-12 col-md-12 col-sm-12 pull-right settings_payment">
							<form class="form-horizontal" method="post" action="#">
								<h3>Payment Method <i class="zmdi zmdi-lock icn_orange"></i></h3>
								<p class="section-desc">Payment methods to capture and collect online payments during bookings</p>
								<div class="panel panel_one">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="payment_radio">
												<label class="radio_label">
													<input type="radio" name="payment" value="tourgecko_payment"/>
													<span>Use tourgecko payment wallet</span>
													<i class="zmdi zmdi-check-circle"></i>
													<i class="zmdi zmdi-circle-o"></i>
												</label>
											</div>
											<!-- <p class="payment_wallet_desc"><i class="zmdi zmdi-check-circle"></i> Use tourgecko payment wallet</p>-->
											<p class="payment_wallet_subdesc"><i class="zmdi zmdi-lamp"></i> <span>Wallet is already setup and you can start to take online bookings immediately without any setup. You will receive payout in your bank account after tour or activity has started</span></p>
										</div>
									</div>
								</div>
								<h3>Payout Details <i class="zmdi zmdi-lock icn_orange"></i></h3>
								<p class="section-desc">Payouts are handed through bank transfer. Configure your bank account below.</p>
								<div class="panel panel_two">
									<!-- <h3><i class="zmdi zmdi-circle-o"></i> Use bank transfer</h3> -->
									<div class="payment_radio">
										<label class="radio_label">
											<input type="radio" name="payment" value="bank_payment"/>
											<span>Use bank transfer</span>
											<i class="zmdi zmdi-check-circle"></i>
											<i class="zmdi zmdi-circle-o"></i>
										</label>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="bank_firstname" class="cols-sm-2 control-label">Name on bank account</label>
												<div class="input_group">
													<div>
														<input type="text" class="form-control" name="bank_firstname" id="bank_firstname"  placeholder="Full Name"/>
													</div>
													<div class="error_group">
														<p class="error_msg">Please enter a valid email address</p>
														<i class="zmdi zmdi-alert-triangle"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="bank_acnumber" class="cols-sm-2 control-label">Bank account number</label>
												<div class="input_group">
													<div>
														<input type="text" class="form-control" name="bank_acnumber" id="bank_acnumber"  placeholder="Account Number"/>
													</div>
													<div class="error_group">
														<p class="error_msg">Please enter a valid email address</p>
														<i class="zmdi zmdi-alert-triangle"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="bank_bic" class="cols-sm-2 control-label">Bank IFSC code (BIC)</label>
												<div class="input_group">
													<div>
														<input type="text" class="form-control" name="bank_bic" id="bank_bic"  placeholder="Ex: HDFC0085"/>
													</div>
													<div class="error_group">
														<p class="error_msg">Please enter a valid email address</p>
														<i class="zmdi zmdi-alert-triangle"></i>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="bank_country" class="cols-sm-2 control-label">Country</label>
												<div class="input_group">
													<div>
														<select class="form-control" id="bank_country">
															<option>India</option>
															<option>Option 2</option>
															<option>Option 3</option>
															<option>Option 4</option>
														</select>
													</div>
													<div class="error_group">
														<p class="error_msg">Please enter a valid email address</p>
														<i class="zmdi zmdi-alert-triangle"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a class="sub_btn btn btn-primary pull-right" href="#"><i class="zmdi zmdi-floppy"></i> Save</a>
							</form>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
</div>
