<div class="hostHome container-fluid">
	<div class="row body-content">
		<!--<div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'" style="margin-left:30px !important;"></div>-->
		<div id="settings">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 settings-content">
					<div class="home_add_tour">
						<i class="zmdi zmdi-settings heading-icn"></i>
						<h2><a href="#">Settings</a><i class="zmdi zmdi-caret-right bread-caret"></i><span class="bread-current">Toursite</span></h2>
						<a class="btn btn-primary pull-right" href="#"><i class="zmdi zmdi-floppy"></i> Save</a>
					</div>
					<div class="row settings-subnav">
						<div class="col-lg-12 col-md-12 col-sm-12 pull-right settings_toursite">
							<form class="form-horizontal" ng-submit="vm.saveToursiteSettings()">
								<!--<button class="btn btn-primary pull-right saveButton" href="#" type="submit"><i class="zmdi zmdi-floppy"></i>&nbsp;&nbsp;Save</button>-->
								<h5>Toursite <i class="zmdi zmdi-globe icn_orange" data-toggle="tooltip" data-placement="auto right" title="This information is public and will be shown on tour pages site."></i></h5>
								<p class="section-desc sub_desc">Tour site is created automatically for you. You can control if it is visible to your guests or not</p>
								<div class="panel">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="toursite_location" class="cols-sm-2 control-label">Your Toursite location</label>
												<div class="input_group">
													<div class="input-group">
														<span class="input-group-addon"><i class="zmdi zmdi-globe"></i></span>
														<input type="text" class="form-control" name="toursite" id="toursite"  placeholder="toursite" ng-model="vm.toursiteDetails[0].toursite"/>
														<span class="input-group-addon">.tourgecko.com</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h5>Make toursite inactive</h5>
											<p class="status-desc sub_desc">If you make toursite inactive, guest will not be able to access it. They can still access individual tour pages though.</p>
											<div class="form-group toogle-status">
												<label class="checkbox-inline"><input type="checkbox" ng-model="vm.toursiteDetails[0].isToursiteInactive"><span>Inactive</span></label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="toursite_exwebsite" class="cols-sm-2 control-label">Existing Website</label>
												<div class="input_group">
													<div>
														<input type="text" class="form-control" name="existingWebsite" id="existingWebsite"  placeholder="Website" ng-model="vm.toursiteDetails[0].companyWebsite"/>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<button class="btn btn-primary pull-right saveButton-Bottom" href="#" type="submit"><i class="zmdi zmdi-floppy"></i>&nbsp;&nbsp;Save</button>
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
