<div class="hostHome container-fluid">
	<div class="row body-content">
		<!--<div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'" style="margin-left:30px !important;"></div>-->
		<div id="settings">
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 settings-content">
				<div class="home_add_tour">
					<i class="zmdi zmdi-settings heading-icn"></i>
					<h2><a href="#">Toursite</a><i class="zmdi zmdi-caret-right bread-caret"></i><span class="bread-current">Theme</span></h2>
					<a class="btn btn-primary pull-right" ng-click="vm.saveToursiteThemeSettings()"><i class="zmdi zmdi-floppy"></i> Save</a>
				</div>
				<div class="row settings-subnav">
					<div class="col-lg-12 col-md-12 col-sm-12 pull-right settings_toursite">
						<form class="form-horizontal">
							<!--<button class="btn btn-primary pull-right saveButton" href="#" type="submit"><i class="zmdi zmdi-floppy"></i>&nbsp;&nbsp;Save</button>-->
							<h5>Theme <i class="zmdi zmdi-globe icn_orange" data-toggle="tooltip" data-placement="auto right" title="This information is public and will be shown on tour pages site."></i></h5>
							<p class="section-desc sub_desc">Toursite is created with default tourgecko theme</p>
							<p class="sub_desc"><i class="zmdi zmdi-lamp icn_orange"></i>
							    <span>you can create your own theme and apply them</span>
							</p>
							<br>
							<div class="panel">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 bookButtonColor">
										<label for="jscolor" class="control-label">Theme</label>
										<p class="sub_desc">Select any theme below and click on save to apply the selected theme</p>
										<div class="input_group">
											<div class="input-group">
												<input class="jscolor" ng-model="vm.currentTheme">
											</div>
										</div>
									</div>
								</div>								
							</div>
							<button class="btn btn-primary pull-right saveButton-Bottom" type="submit" ng-click="vm.saveToursiteThemeSettings()"><i class="zmdi zmdi-floppy"></i>&nbsp;&nbsp;Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="lib/scripts-inside-html/js/jscolor.min.js"></script>
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
		jscolor.installByClassName("jscolor");		
	});
</script>