<div class="hostHome">
	<div class="row body-content">
		<div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'" style="margin-left:30px !important;"></div>
		<div id="settings">
			<div class="row body-content" style="padding-left:250px;margin-right: -5.3%;">
				<div class="col-md-9 col-sm-9 col-lg-10 settings-content">
					<div class="home_add_tour">
						<h2><i class="zmdi zmdi-settings"></i>&nbsp;Settings
						<span class="bread-caret"><i class="zmdi zmdi-caret-right"></i></span>
						<span class="bread-current">Toursite</span></h2>
						<a class="btn btn-primary pull-right" href="#"><i class="zmdi zmdi-floppy"></i>Save</a>						
					</div>
					<div class="row settings-subnav">
						<div class="col-lg-12 col-md-12 col-sm-12 pull-right settings_toursite">
							<form class="form-horizontal" method="post" action="#">
								<h3>Toursite <i class="zmdi zmdi-globe icn_green"></i></h3>
								<p class="section-desc">Tour site is created automatically for you. You can control if it is visible to your guests or not</p>
								<div class="panel">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="toursite_location" class="cols-sm-2 control-label">Your Toursite location</label>
												<div class="input_group">
													<div class="input-group">
														<span class="input-group-addon"><i class="zmdi zmdi-globe"></i></span>
														<input type="text" class="form-control" name="toursite" id="toursite"  placeholder="toursite"/>
														<span class="input-group-addon">.tourgecko.com</span>
													</div>
													<div class="error_group">
														<p class="error_msg">Please enter a valid location</p>
														<i class="zmdi zmdi-alert-triangle"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h4>Make toursite inactive</h4>
											<p class="status-desc">If you make toursite inactive, guest will not be able to access it. They can still access individual tour pages though.</p>
											<div class="form-group toogle-status">
												<label class="checkbox-inline"><input type="checkbox"><span>Inactive</span></label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label for="toursite_exwebsite" class="cols-sm-2 control-label">Existing Website</label>
												<div class="input_group">
													<div>
														<select class="form-control" id="regional_language">
															<option>Everyone</option>
															<option>Option 2</option>
															<option>Option 3</option>
															<option>Option 4</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a class="sub_btn btn btn-primary pull-right" href="#"><i class="zmdi zmdi-floppy"></i>Save</a>
							</form>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
</div>
