<section>
  	<header ng-include="'/modules/core/client/views/header.client.view.html'"></header>
</section>
<section class="content main-wrapper">
	<section class="container-fluid tourgecko-left-nav"  ng-controller="sidenavController as vm">
        <div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'"></div>
    </section>
</section>
<section class="main-body-wrapper">
	<div id="loadingDivUserSettingSide" class="loaderDisplayDiv" style="display: none;"></div>
  	<div ui-view></div>
</section>
