<div class="hostHome container-fluid">
	<div class="row body-content">
		<!-- <div ng-include="'/modules/hosts/client/views/side-nav.client.view.html'" style="margin-left:30px !important;"></div> -->
		<div id="settings">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 settings-content">
					<div class="home_add_tour fixed-in-div">
						<div class="row">
							<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 heading-icn-mobile">
								<i class="zmdi zmdi-settings heading-icn"></i>
							</div>
							<div class="col-md-5 col-sm-5 col-lg-5 col-xs-9 userProfileTitleMargin">
								<h2>
									<a href="">Settings</a>
									<i class="zmdi zmdi-caret-right bread-caret"></i>
								</h2>
								<h2 class="userProfileAccount">
									<span class="bread-current">Account</span>
									<i class="zmdi zmdi-caret-right bread-caret"></i>
								</h2>
							</div>
							<div class="col-md-5 col-sm-5 col-lg-5 col-xs-2 userProfileNameMargin">
								<h2>
									<span class="bread-current">{{vm.userDetails.displayName}}</span>
								</h2>
							</div>
							<div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 userProfileSaveButton">
								<a class="btn btn-primary" href="#" ng-click="vm.saveUserSettings(vm.userForm.$valid)"><i class="zmdi zmdi-floppy"></i> Save</a>
							</div>
						</div>
					</div>
					<div class="row settings-subnav">
						<div class="col-lg-12 col-md-12 col-sm-12 pull-right settings_account_info">
							<form class="form-horizontal" name="vm.userForm" ng-submit="vm.saveUserSettings(vm.userForm.$valid)" novalidate>								
								<h5>User Profile <i class="zmdi zmdi-lock icn_orange" data-toggle="tooltip" data-placement="auto right" title="This information is private to you and hidden."></i></h5>
								<p class="section-desc sub_desc">All information relevant to user account</p>
								<div class="panel account_status">
									<div class="row" ng-show="!vm.profilePicSelected">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
											<div class="account_img_info">
												<div class="img_info">
													<img ng-src="{{vm.profilePicSelected ? croppedDataUrl : vm.user.profileImageURL}}" alt="{{vm.user.displayName}}" class=" user-profile-picture" ngf-drop>
												</div>
											</div>
											<div class="fileUpload btn btn-primary">
												<span>Upload Photo</span>
												<input type="file" class="upload" ngf-select="vm.profilePicSelected = true; vm.success = null" ng-model="profilePic" accept="image/*"/>
											</div>
										</div>
									</div>
									<div class="row" ng-show="vm.profilePicSelected">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
											<div class="account_img_info">
												<div class="img_info">
													<img ng-src="{{vm.profilePicSelected ? croppedDataUrl : 'modules/users/client/img/profile/default.png'}}" alt="{{vm.user.displayName}}" class=" user-profile-picture" ngf-drop>
												</div>
											</div>
											<div class="fileUpload btn btn-primary">
												<span>Change</span>
												<input type="file" class="upload" ngf-select="vm.profilePicSelected = true; vm.success = null" ng-model="profilePic" accept="image/*"/>
											</div>
										</div>
										<div class="paraMargin">
											<p>Crop your picture then press</p>
											<p> upload below:</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<div ngf-drop ng-model="profilePic" ngf-pattern="image/*" class="cropArea">
								            	<img-crop image="profilePic | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
								          	</div>
										</div>
										<div class="fileUpload btn btn-primary userProfileUploadButtonMargin" ng-click="vm.upload(croppedDataUrl, profilePic.name)">
								          	<span>Upload</span>
								        </div>
									</div>
								</div>
								<div class="panel panel_one">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<div class="form-group">
														<label for="account_firstname" class="cols-sm-2 control-label">First Name</label>
														<div class="input_group">
															<div>
																<input type="text" class="form-control" name="account_firstname" id="account_firstname" ng-model="vm.userDetails.firstName" placeholder="Full Name"/>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
													<div class="form-group">
														<label for="bank_lastname" class="cols-sm-2 control-label">Last Name</label>
														<div class="input_group">
															<div>
																<input type="text" class="form-control" name="bank_lastname" id="bank_lastname" ng-model="vm.userDetails.lastName" placeholder="Last Name"/>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group" show-errors>
												<label for="account_email" class="cols-sm-2 control-label">Email</label>
												<div class="input_group">
													<div class="input-group">
														<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
														<input type="email" class="form-control" name="account_email" id="account_email"  placeholder="example@email.com" ng-model="vm.userDetails.email" disabled/>
													</div>
													<div class="error_group" ng-messages="vm.accountForm.account_email.$error" role="alert">
									                    <p class="help-block error-text" ng-message="email">Please enter a valid email address</p>
									                    <i class="zmdi zmdi-alert-triangle help-block error-text"></i>
									                </div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col">
											<div class="form-group" show-errors>
												<label for="account_mobile" class="cols-sm-2 control-label">Mobile</label>
												<div class="input_group">
													<div class="input-group">
														<span class="input-group-addon"><i class="zmdi zmdi-smartphone-iphone"></i></span>
														<input type="text" class="form-control" name="account_mobile" id="account_mobile"  placeholder="Phone Number" ng-pattern="regExForMobileValidity" ng-model="vm.userDetails.mobile" />
													</div>
													<div class="error_group" ng-messages="vm.accountForm.account_mobile.$error" role="alert">
									                    <p class="help-block error-text" ng-message="pattern">Please enter a valid Mobile number</p>
									                    <i class="zmdi zmdi-alert-triangle help-block error-text"></i>
									                </div>
												</div>
											</div>
										</div>
										
										<a href="#" class="change_password" style="display:inline-block">Change Password</a>
										<a href="#" class="cancel_password" style="display:none">Cancel</a>
										<div class="panel panel_two pointer-box">
											<div class="pointer-line"><img class="pointer pointer_a" src="modules/core/client/img/assets/pointer.svg">
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<label for="account_current_pwd" class="cols-sm-2 control-label">Current Password</label>
													<div class="input_group">
														<div class="input-group">
															<span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
															<input type="password" class="form-control" name="account_current_pwd" id="account_current_pwd"  placeholder="Enter current password" ng-model="vm.passwordDetails.currentPassword"/>
														</div>
														<div class="error_group" role="alert" ng-show="vm.showPasswordRelatedError == 'Current password is incorrect' || vm.showPasswordRelatedError == 'Current password is incorrect'">
										                    <p class="error_msg"">{{vm.showPasswordRelatedError}}</p>
										                    <i class="zmdi zmdi-alert-triangle"></i>
										                </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<label for="account_new_pwd" class="cols-sm-2 control-label">New Password</label>
													<div class="input_group">
														<div class="input-group">
															<span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
															<input type="password" class="form-control" name="account_new_pwd" id="account_new_pwd"  placeholder="Enter new password" ng-model="vm.passwordDetails.newPassword"/>
														</div>
														<div class="error_group" ng-show=" vm.showPasswordRelatedError == 'Please provide a new password'">
										                    <p class="error_msg">{{vm.showPasswordRelatedError}}</p>
										                    <i class="zmdi zmdi-alert-triangle"></i>
										                </div>
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col">
												<div class="form-group">
													<label for="account_confirm_new_pwd" class="cols-sm-2 control-label">Confirm New Password</label>
													<div class="input_group">
														<div class="input-group">
															<span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
															<input type="password" class="form-control" name="account_confirm_new_pwd" id="account_confirm_new_pwd"  placeholder="Confirm New Password" ng-model="vm.passwordDetails.verifyPassword"/>
														</div>
														<div class="error_group" role="alert" ng-show="vm.showPasswordRelatedError == 'Passwords do not match'">
										                    <p class="error_msg"">{{vm.showPasswordRelatedError}}</p>
										                    <i class="zmdi zmdi-alert-triangle"></i>
										                </div>
													</div>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
								<button class="btn btn-primary pull-right saveButton-Bottom" href="#" type="submit"><i class="zmdi zmdi-floppy"></i>&nbsp;&nbsp;Save</button>
							</form>
						</div>
					</div>
				</div>
			
		</div>
	</div>
</div>
<script>
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('.account_img_info img')
					.attr('src', e.target.result);
			};

			reader.readAsDataURL(input.files[0]);
		}
	}
	$(document).ready(function() {
		$("#settings .settings_account_info .panel_one").on("click",".change_password",function(e){
			e.preventDefault();
			$('html, body').animate({scrollTop : 350},800);
			$(".change_password").css("display", "none");
			$(".cancel_password").css("display", "inline-block");
			$("#settings .settings_account_info .panel_one");
			$("#settings .settings_account_info .panel_two").slideDown(500);
		});
		$("#settings .settings_account_info .panel_one").on("click",".cancel_password",function(e){
			e.preventDefault();
			$("#settings .settings_account_info .panel_one");
			$("#settings .settings_account_info .panel_two").slideUp(1150);
			setTimeout(function() {
				$(".cancel_password").css("display", "none");
				$(".change_password").css("display", "inline-block");
			}, 1050);
		});

	});
</script>

<script>
	$(document).ready(function(){
	    $(this).scrollTop(0);
	});
</script>