<div id="loadingDivAuthenticationSide" class="loaderDisplayDiv" style="display: none;"></div>
<div id="signup" class="wrapper">
  <div class="container">
    <div class="panel login-panel">
      <div class="panel-heading tgHeader">
        <h1 class="sr-only">tourgecko</h1>
        <img class="img-responsive" src="modules/core/client/img/brand/logo.svg" alt="" />
      </div>
      <div class="panel-body">
        <div class="body-container">
          <h2>Lets create your account!</h2>
          <form class="form-horizontal" name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid, true)" novalidate autocomplete="off">
            <div class="form-group" show-errors>
              <label for="email" class="cols-sm-2 control-label">Email</label>
              <div class="cols-sm-10 inp  ut_group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                  <input type="email" class="form-control" name="email" id="email"  placeholder="example@email.com" ng-model="vm.credentials.email" required lowercase/>
                </div>
                <div class="error_group" ng-messages="vm.userForm.email.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Please enter Email address</p>
                  <p class="help-block error-text" ng-message="email">Please enter a valid Email address</p>
                </div>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10 input_group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                  <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" required  placeholder="enter password"/>
                  <!--<input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" required  placeholder="enter password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator/> -->
                </div>
                <div class="error_group" ng-messages="vm.userForm.password.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Please enter a password.</p>
                </div>
              </div>
            </div>

            <!--<div class="form-group" ng-show="!vm.userForm.password.$error.required">
              <label>Password Requirements</label>
              <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
            </div>-->

            <div class="form-group" show-errors>
              <label for="mobile" class="cols-sm-2 control-label">Mobile</label>
              <div class="cols-sm-10 input_group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-smartphone"></i></span>
                  <input type="mobile" id="mobile" name="mobile" class="form-control" ng-model="vm.credentials.mobile" placeholder="Mobile" ng-pattern="regExForMobileValidity" lowercase required>
                </div>
                <div class="error_group" ng-messages="vm.userForm.mobile.$error" role="alert">
                  <p class="help-block error-text " ng-message="required"> Please enter Mobile Number</p>
                  <p class="help-block error-text " ng-message="pattern">Please enter valid Mobile Number</p>
                </div>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label for="toursite" class="cols-sm-2 control-label">Toursite</label>
              <p class="form-group-addontext">This will be used to host your<br/> booking pages or create your toursite</p>
              <div class="cols-sm-10 input_group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-globe"></i></span>
                  <input type="toursite" id="toursite" name="toursite" class="form-control" ng-model="vm.toursite" placeholder="toursite" lowercase required disallow-spaces ng-pattern ="/^[a-zA-Z\s]*$/">
                  <span class="input-group-addon">.tourgecko.com</span>
                </div>
                <div class="error_group" ng-messages="vm.userForm.toursite.$error" role="alert">
                  <p class="help-block error-text " ng-message="required"> Please enter toursite name</p>
                  <p class="help-block error-text " ng-message="pattern"> Only letters are allowed in toursite name</p>
                </div>
              </div>
            </div>
            <div class="form-group createAccountBtn">
              <label class="checkbox-inline">
                <input type="checkbox" name="checkbox" value="check" id="agree" ng-model="vm.terms">
                  <span>I accept <a href="#">terms and conditions</a></span>
              </label>
              <button type="submit" class="btn btn-info login-button">create my account</button>
            </div>
            <div ng-show="vm.error" class="text-center text-danger">
              <strong ng-bind="vm.error"></strong>
            </div>
          </form>
        </div>
      </div>
      <div class="panel-footer">
        <p>Already have an account? <a class="forgot_pwd" ui-sref="authentication.hostSignin">Login</a></p>
      </div>
    </div>
  </div>
</div>