<div>
  <h3 class="col-xs-12 text-center">Or sign up using your email</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
               
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.userForm.password.$error.required">
          <label>Password Requirements</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>

        <div class="form-group" show-errors>
          <label for="mobile">Mobile</label>
          <input type="mobile" id="mobile" name="mobile" class="form-control" ng-model="vm.credentials.mobile" placeholder="Mobile" ng-pattern="regEx" lowercase required>
          <div ng-messages="vm.userForm.mobile.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Mobile Number is required.</p>
          </div>          
        </div>

        <div class="form-group" show-errors>
          <label for="toursite">Toursite</label>
          <input type="toursite" id="toursite" name="toursite" class="form-control" ng-model="vm.credentials.toursite" placeholder="Toursite" lowercase>
        </div>

        <div class="form-group" show-errors>
          <input type="checkbox" name="checkbox" value="check" id="agree" ng-model="vm.terms"/>  I acknowledge that I have read and accepted <a href=""><b>Terms and Conditions</b></a>
          <div ng-messages="vm.userForm.checkbox.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Please read and agree to Terms and Conditions.</p>
          </div>   
        </div>

        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Create my account</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.hostSignin" class="show-signup">Sign in</a>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</div>
