<div id="loadingDivAuthenticationSide" class="loaderDisplayDiv" style="display: none;"></div>
<div class="wrapper signup-success" style="margin-top: 80;">
	<div class="container-fluid">
		<div class="row">
			<div class="row error-success-notification-common" ng-if="vm.showErrorMsgOnTop">
                <div class="col-lg-12 col-md-12 col-sm-12 errors-common">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 error-content-common">
                            <span>
                                <ul>
                                    <li ng-repeat="errorMsg in vm.errorMsgs"> <b> {{errorMsg}}</b> </li>
                                </ul>
                            </span> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row error-success-notification-common" ng-if="vm.showSuccessMsgOnTop">
				<div class="col-lg-12 col-md-12 col-sm-12 success text-center">
					<span class="success-content" ng-repeat="successMsg in vm.successMsgs"> <b> {{successMsg}}
					</span>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3 text-center">
	            <span class="text-huge block">Congrats!</span>
	            <h4 class="text-huge-slogan block">Your account has been successfully created!</h4><br><br>
	            <div class="card padding-bottom">
		            <h2 class="text-300 orange-text">Almost there, Check your inbox!</h2>
		            <p class="account-success-padding account-success-margin">An activation link has been sent to your email <a href="mailto:{{vm.userEmail}}">{{vm.userEmail}}</a>. Please, follow that link to activate and enter your dashboard.</p>
		            <div class="divider-common margin"></div>
		            <span class="sub_desc padding margin">Seems like I didn't get it. <a href="#" ng-click="vm.resendActivationEmail();">Please send my activation email.</a></span>
	            </div>
           	</div>
		</div>
	</div>
</div>