.content {
  /*margin-top: 50px;*/
}
.landingPage {
  margin-top:20px;
  min-height: 431px !important;
}
.termsAndPloicies {
  min-height: 431px !important;
}
.noHorizontalScroll {
  overflow-x: hidden !important;
}
.container{
  width: 100% !important;
  padding-right: 0 !important;
  overflow-x: hidden; 
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.leftMarginToHeader {
  margin-left: 200px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
  color:#cc0000 !important;
  font-size:11px !important;
  margin-top:3px !important;
}
.has-error .help-inline.error-text {
  display: inline;
  color:#cc0000 !important;
  font-size:11px !important;
  /*margin-top:3px !important;*/
}
.disableBody {
  opacity:    0.7;
  background-color: lightgrey;
  z-index:    10;
  position:   fixed;
  pointer-events: none;
}
.disableBodyWithoutPosition {
  opacity:    0.7;
  background-color: lightgrey;
  z-index:    10;
  pointer-events: none;
}
.waitCursor {
  cursor: wait;
}
.loader-spinner-tourPreviewDetails {
    /*border: 4px solid #f3f3f3;
    border-top: 4px solid #40C4FF;
    border-radius: 50%;
    width: 65px;
    height: 65px;*/
    /*animation: spin 2s linear infinite;*/
    position: absolute;
    font-size: 80px;
    left: 45%;
    top: 60%;
    z-index: 9999;
}
.imageUploader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #40C4FF; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: absolute;
    vertical-align: middle;
    left: 90px;
    top: 42px;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media  (max-width: 767px) {
  .noHorizontalScroll {
    overflow-x: hidden !important;
  }
  .leftMarginToHeader {
    margin-left: 0 !important;
  }
}