#help .contact-details li p{ font-size:11px; color:#777; margin-top:.5rem }
#help .contact-details li a{ margin-top:2rem}
#help .title-holder h1{ color:#555}
#help .title-holder{ height:100px; background: transparent !important;}
#help img.icn_info-block{ width: 6.5rem; margin-top: 1.1rem;}
#help .thumbnail{ min-height:240px}
#help .contact-details a:before{display:inline-block; margin-right:.5rem; vertical-align:middle; color:#19A0DC; font:normal normal normal 20px/1 'Material-Design-Iconic-Font'}
#help .contact-details a.email:before{ content:"\f15a"; }
#help .contact-details a.phone:before{ content:"\f2be"; }

.preloader{
	display:none;
	text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999999999999;
    background-color: rgba(255,255,255,.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 10rem;
	outline:none;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	}
.spinner {
    border: 4px solid #ffa500; /* Light grey */
    border-top: 4px dashed #ffa500; /* Orange */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .8s linear infinite;
	margin:auto;
	background-color: #fff;
}
.spinner img{ animation:none !important}
.preloader p{ font-family:'Roboto', Arial, sans-serif; color:#777; font-size:13px; margin-top: -1.2rem;
    font-weight: 400; }
.preloader img{ width:15px;position: relative; top: -3.2rem; }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}