@charset "UTF-8";
/* CSS Document */

/*@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight:200;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight:normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight:400;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight:700;
}
*/

h1, h2, h3, h4, h5, h6{ color:#555;}
p{ color:#666; font-weight:300}

.navbar-default{ height:60px; background-color:#ffffff; box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);}
.navbar-brand>img{ width:14em; margin-top:-22px;}
body{font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color:#f6f6f6;}
.wrapper{ margin:0; padding:0; width:100%; height:100%;}
#login.wrapper{background: url(../img/signin-signup/background/bg_login.jpg) no-repeat; background-size: cover; height:100vh;}
#signup{ background:url(../img/signin-signup/background/bg_signup.jpg) no-repeat; background-size:cover; height:100vh;}
#signup-step1.wrapper{ margin-top:-20px}

.input-group i{ color:rgba(0,0,0,0.3)}
.form-control{ box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05);} 
.form-group { margin-top:10px !important;}
.btn-info, .btn-primary{ background-color:#40C4FF; border:none;}
.btn-info:hover, .btn-info:focus, .btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-info.focus, .btn-primary.active, .btn-primary:active{ background-color:#24B4F5; border:none;}

/* LOGIN */
.login-panel{max-width:420px;width:100%;margin:0 auto;margin-top:5%; box-shadow: rgba(0, 0, 0, 0.5) 0 0 13px, rgba(0, 0, 0, 0.117647) 0 1px 4px !important;}
.tgHeader{text-align:center; }
.tgHeader > img{display:inline-block; width: 70%;}
.tgHeader.panel-heading{ margin:0; padding:0;}
.tgHeader, .login-panel .panel-footer{background-color:#fff;}

.login-panel .panel-body{background:#eee;}
.login-panel .body-container{width:90%;margin:0 auto;text-align:left;}
.login-panel .body-container .form-group{margin:0;position:relative;}
.login-panel .body-container .form-group .form-group-addontext{position:absolute;font-size:10px;top:4px;text-align:right;right:0;line-height:10px;color:#999;}
.login-panel .body-container .welcome_note, h2{text-align:center;}
.login-panel .body-container .welcome_note{font-size:12px;color:orange;}
.login-panel .body-container h2{font-size: 1.32em; font-weight: 500; margin:10px 0 20px 0; opacity:.7; -webkit-opacity:.8;}
.login-panel .body-container .login-button{float:right;}
.login-panel .panel-footer{border:none;text-align:center;padding-left:0;padding-right:0;}
.login-panel .panel-footer a{color:#41c4ff;}
.login-panel .panel-footer > a{display:block; padding: 0 0 12px 0;  border-bottom: 1px solid #ddd;}
.login-panel .panel-footer > p{padding-top:3%;}
.login-panel form .input_group{position:relative;}
.login-panel .input_group.error input{border:1px solid red;}
.login-panel .input_group.error .input-group-addon{background:rgba(255,0,0,0.2);}
.login-panel .input_group.error .input-group-addon i{color:#cc0000; opacity:.6; -webkit-opacity:.6;}
.login-panel .error_msg{color:#cc0000;font-size:11px; margin-top:3px;}
.login-panel form .error_group i{position:absolute;right:10px;z-index:9;top:38px;color:#cc0000;}
.login-panel form > .error_msg{text-align:center;margin-top:10px;}
.checkbox-inline{ font-size:12px; margin-top:3px;}
.control-label{ font-weight:400 !important;} 

/*#signup .panel, #login .panel, #signup .panel-footer, #login .panel-footer{ background:none;}*/
.login-panel .checkbox label{ display:inline; font-size:12px;}
.login-panel .checkbox{ display:inline-block;}
.login-panel .form-group.rem-submit{ margin: 18px 0 !important;}

.drop-shadow{-webkit-box-shadow:0 0 5px 5px rgba(0, 0, 0, .1);box-shadow:0 0 5px 5px rgba(0, 0, 0, .1);}
#signup-step1 .row{margin:0;position:relative;font-family:"Roboto";}
#signup-step1 .row label{font-size:14px;color:#626262;}
#signup-step1 .row .checkbox label{font-size:12px;}
#signup-step1 .row h2{font-size:18px;color:#ED9C28;font-family:"Roboto";text-align:center;}
#signup-step1 .right_image{width:50%;height:100%;position:absolute;top:0;right:0;background:url("../img/signin-signup/background/bg_signup-details.jpg") no-repeat;background-size:cover; z-index:-99; box-shadow:inset 56px 0 37px -8px rgba(0, 0, 0, .2); -webkit-box-shadow:inset 56px 0 37px -8px rgba(0, 0, 0, .2); -moz-box-shadow:inset 56px 0 37px -8px rgba(0, 0, 0, .2);}
#signup-step1 .row.header{z-index:9;position:relative;}
#signup-step1 .row.header img{padding:15px;}
#signup-step1 .form-group{margin-left:0;margin-right:0;}
#signup-step1 .panel{ background:none; }
#signup-step1 .panel-container {padding-right: 20px; padding-left: 20px;}
.hostHome {padding-left: 42px; padding-right: 42px; padding-bottom: 38px;}

@media (max-width:767px){#signup-step1 .row.header{text-align:center;}
#signup-step1 .row.header img{display:inline-block;}
.pull-right{float:none !important;}
}
label span{margin: 2px 0 0 -3px; font-size:11px}


/* HOME */
body{background-color:#f6f6f6;font-family:'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.left-nav-bar .navbar-default{height:auto;box-shadow:none;background-color:#F9FDFF;}
.left-nav-bar .navbar-default > .nav{margin:0;}
.left-nav-bar .navbar-nav li{float:none;background-color:#fff;}
.left-nav-bar li.separator{margin-top:20px;}
.left-nav-bar .navbar-nav li a{font-weight:500;font-size:14px;color:rgba(0,0,0,0.6);}
.left-nav-bar .navbar-nav li a i{font-size:18px;display:inline-block;padding:13px 10px 13px 5px;}
.main_content{padding:0;}

.home-section{ margin-top:20px;}
.home-section .bookings, .home-section .message{ margin-top:20px;} 
.home_add_tour{padding:2% 15px;box-shadow:0 2px 10px 0 rgba(0,0,0,0.10);background-color:#F1FBFF;position: relative;}
.home_add_tour h2{text-align:left;font-size:22px;display:inline-block;margin:0;}
.home_add_tour h2 i{background-color:rgba(241, 192, 122, 0.2);border-radius:50%;border:1px solid #D8E8EF;padding:10px 12px;color:#F1C07A;}
.home_add_tour a {font-size: 12px;font-weight: 500;padding: 10px 20px;border-radius: 5px;text-decoration: none;vertical-align: middle;position: absolute;top: 50%;transform: translateY(-50%);right: 10px;}
.home_add_tour a i{font-style:normal;padding:0 10px 0 0;}
.analytics .head_content, .latest .head_content, .event_calendar .head_content{padding:4% 0 0 0;position:relative;border-bottom:1px solid #DADBDB;}
.analytics .head_content h3, .pinboard .head_content h3, .latest .head_content h3, .event_calendar .head_content h3{margin:0;font-size:20px;font-weight:500;}
.event_calendar .fc-title .lbreak{display: block;font-size: 12px; font-weight: 900;}
.event_calendar .fc-title .lbreak i{padding: 3px;}
.event_calendar .fc-title{color: #9B9B9B}
.event_calendar .fc-title .orange{color: #ED9C28;font-size: 12px; font-weight: 900;}
.event_calendar .fc-title .green{color: #42AE5E;font-size: 12px;font-weight: 900;}
.event_calendar .fc-title .red{color: #D84040;font-size: 12px; font-weight: 900;}
.fc-day-grid-event < .orange{background: rgba(216,64,64,0.2);}
.analytics .head_content p{position:absolute;right:0;bottom:0;margin:0;}
.analytics .row p span{font-weight:900;}
.analytics i{background-color:#fff;border-radius:50%;border:2px solid #ED9C28;padding:11px 15px;color:#ED9C28;font-size:24px;}
.analytics .row{margin:10px 0;}
.analytics .row > div{text-align:center;}
.departures i{color:#13D3BA;border:2px solid #13D3BA;padding:11px 14px;}
.messages i{color:#5042AE;border:2px solid #5042AE;padding:11px 14px;}
.revenue i{color:#42AE5E;border:2px solid #42AE5E;padding:11px 19px;}
.pinboard .head_content{padding:2% 0 0 0;}
.pinboard .info_content{background-color:#fffff5;border-radius:5px;padding:20px 20px; box-shadow:0px 1px 2px 0px rgba(0,0,0,0.10)}
.pinboard .btn-default{color:#40C4FF;border:1px solid #40C4FF; background:none;}
.pinboard .btn-default:hover{background-color:#fff;}
.pinboard .info{display:inline-block;}
.pinboard .todo{color:#ED9C28;}
.pinboard .info p{font-size:12px;font-weight:300;padding:0;margin:0;line-height:25px;}
.pinboard .dismiss{position:absolute;right:5%;top:50%;transform:translateY(-50%);color:#40C4FF;}
.pinboard .todo, .pinboard .time{display:inline-block;font-weight:900 !important;padding-right:30px !important;}
.pinboard .todo i{font-weight:300;color:#999; }
.pinboard .row{padding:2px 0;}

.info_content .zmdi{margin-right:2px;}
.info_content p.date, .info_content .content{ font-size:12px;}

.latest h4{font-size:16px;font-weight:500;text-align:center;}
.latest .bookings{border-right:1px solid #DADBDB}
/*.latest .bookings h4{color:#42AE5E;}*/
.latest p{font-size:14px;font-weight:300;margin:0;}
.latest .bookings p.name, .latest .message p.name{font-weight:500;font-size:14px;}
.latest .info_content{background:#fff;padding:3%;position:relative;border-radius:5px;margin:10px 0;  height:86px; overflow:hidden;     box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);}
.latest .info_content .status{position:absolute;top:10%;right:3%;color:#ED9C28;font-weight:400;}
.latest .info_content .status i{color:rgba(0,0,0, 0.3)}
.latest .seemoreinfo{text-align:center;}
.latest .seemoreinfo a{color:#40C4FF;}
.main_header{padding:1% 3%;background:url(images/home_logo.png) no-repeat;background-size:contain;background-color:#fff;z-index:999;position:fixed;width:100%;}
.main_header .notifications{display:inline-block;position:relative;}
.main_header .notifications i{font-size:26px;font-weight:bold;color:#40C4FF;}
.main_header .notifications .count{border:1px solid #ED9C28;border-radius:100%;box-sizing:border-box;width:20px;height:20px;text-align:center;background-color:#ED9C28;color:#fff;position:absolute;top:-4px;left:7px;font-size:10px;line-height:19px;font-weight:900;}
.main_header .user_account .dropdown a{background:none;padding:0;color:#666;}
.main_header .user_account .dropdown a i.zmdi-account{background-color:#666;font-size:14px;width:20px;height:20px;color:#fff;border-radius:100%;vertical-align:middle;text-align:center;line-height:19px;}
.main_header .user_account .dropdown a:hover{background:none;}
.main_header .welcome-note p{font-style:italic;font-weight:300;font-size:14px;}
.zmdi.invert{transform: scale(1, -1);}
/*.body-content{position:relative;top:60px;}*/
/*.navbar-fixed-side{top:60px;}*/
@media (max-width:767px){.main_header{background-position:center;}
.body-content{top:0;}
.body-content .navbar-header{display:inline-block;position:fixed;top:5px;left:15px;z-index:999;}
.body-content .navbar-header .navbar-toggle{border:none;background-color:#40C4FF;color:#fff;}
.body-content .navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
 .user-accout-bar{float:right;text-align:right;padding:10px 0;}
.notifications{display:inline-block;}
.user_account{display:inline-block;min-width:45px;vertical-align:top;margin:0;}
.navbar-fixed-side .navbar-nav>li>a{padding-top:10px;padding-bottom:10px;border-bottom:1px solid #e7e7e7;}
.left-nav-bar .navbar{position:relative;border:1px solid transparent;}
.left-nav-bar .navbar .navbar-nav{margin:0 -15px;}
.latest .bookings{border:none;}
.pinboard .info{display:block;}
.pinboard .dismiss{position:relative;right:0;}
.pinboard .update_profile{float:none !important;}
}

/* Side NAV*/
@media (max-width:768px){.navbar-fixed-side{margin-left:-15px;margin-right:-15px }
.navbar-brand{width: 100%; text-align: center;}
.navbar-brand > img{display: inline-block;}
.left-nav-bar .navbar{min-height: auto; margin-bottom: 0;border: none;}
.top-nav {margin-bottom: 0;position: fixed;width: 100%;z-index: 999;}
.home-content{margin-top: 20px;top: 50px;}
.left-nav-bar{top:60px;}
}
@media (min-width:768px){.navbar-fixed-side{position:fixed;margin:0 -15px;height:100vh; overflow:auto;border-top-width:0;border-bottom-width:0;border-radius:0 }
 .navbar-fixed-side .container, .navbar-fixed-side .container-fluid{width:auto;padding-left:0;padding-right:0 }
 .navbar-fixed-side .navbar-header{float:none }
 .navbar-fixed-side .navbar-brand{height:auto;}
 .navbar-fixed-side>.container .navbar-brand, .navbar-fixed-side>.container-fluid .navbar-brand{margin-left:0 }
 .navbar-fixed-side .navbar-collapse{width:100%;border-top:1px solid #e7e7e7 }
 .navbar-fixed-side .navbar-nav{float:none;margin:0 -15px }
 .navbar-fixed-side .navbar-nav>li{float:none }
 .navbar-fixed-side .navbar-nav>li>a{padding-top:10px;padding-bottom:10px;border-bottom:1px solid #e7e7e7 }
 .navbar-fixed-side .navbar-form{margin:0;margin-left:-15px;margin-right:-15px;padding:10px 15px;border-bottom:1px solid #e7e7e7 }
 .navbar-fixed-side .navbar-text{float:none;margin-left:0;margin-right:0 }
 .navbar-fixed-side .navbar-left, .navbar-fixed-side .navbar-right{float:none !important }
 .navbar-fixed-side .navbar-nav .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;box-shadow:none;border-bottom:1px solid #e7e7e7 }
 .navbar-fixed-side .navbar-nav .dropdown-menu>li>a, .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header{padding:5px 15px 5px 25px }
 .navbar-fixed-side .navbar-nav .dropdown-menu>li>a{line-height:20px;color:#777 }
 .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus{background-image:none }
 .navbar-fixed-side .navbar-nav .dropdown-menu>.active>a{background-color:#e7e7e7;color:#555 }
 .navbar-fixed-side .navbar-nav>li>a:hover, .navbar-fixed-side .navbar-nav>li>a:focus, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus{background-color:#f0f0f0;color:#333 }
 .navbar-fixed-side .dropdown>.dropdown-toggle, .navbar-fixed-side .dropdown-menu>.dropdown-header{background-color:transparent !important;color:#9d9d9d !important;cursor:default;font-size:0.8em;text-transform:uppercase;border-bottom:none;padding-bottom:0 }
 .navbar-fixed-side .dropdown-toggle .caret{display:none }
 .navbar-fixed-side .dropdown-menu{display:block }
 .navbar-fixed-side.navbar-inverse .navbar-collapse, .navbar-fixed-side.navbar-inverse .navbar-nav>li>a, .navbar-fixed-side.navbar-inverse .navbar-form, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu{border-color:#363636 }
 .navbar-fixed-side.navbar-inverse .divider{background-color:#363636 }
 .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a{color:#9d9d9d }
 .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a{background-color:#090909;color:#fff }
 .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:focus, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus{background-color:#2f2f2f;color:#fff }
 .navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle{color:#777777 !important }
}
