#headerNotifications {
  list-style:none;
  margin: 0px;
  padding: 0px;
}
#headerNotifications li {
  float: left;
  margin-right: 20px;
  font-size: 14px;
  font-weight:bold;
}
#headerNotifications li a {
  color:#333333;
  text-decoration:none;
}
#headerNotifications li a:hover {
  color:#006699;
  text-decoration:none;
}
#notification_li {
  position:relative;
}
#notificationContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: hidden;
  position: absolute;
  top: 32px;
  margin-left: -270px;
  height: auto;
  width: 400px;
  z-index: 9999;
  display: none;
  border-radius: 20px; 
}
#notificationContainer:before {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 268px;
}
.headerNotificationPointer {
  position:fixed;
  margin-top: -11px;
  margin-left: 267px;
}
#notificationTitle {
  z-index: 9999;
  font-weight: 500;
  padding: 8px;
  font-size: 15px;
  color: #40C4FF;
  background-color: #ffffff;
  width: 398px;
  border-bottom: 1px solid #dddddd;
}
#notificationsBody {
  max-height: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height:auto;
  margin-top: 0;
  margin-right: 0 !important;
}
#notificationFooter {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 15px;
  z-index:9999 !important;
}
#notificationFooter a {
  color: #ED9C28 !important;
}
#notification_count {
  padding: 3px 7px 3px 7px;
  background: #cc0000;
  color: #ffffff;
  font-weight: bold;
  margin-left: 77px;
  border-radius: 9px;
  position: absolute;
  margin-top: -11px;
  font-size: 11px;
}
.notification-Image-container {
  vertical-align: middle;
}
.notification-Image {
  border-radius: 10px;
  width: 55px;
  height: 60px;
  margin-bottom: 5px;
  object-fit: cover;
}
.notification-Text {
  margin-left: -40px;
  display: inline-block;
}
.notification-Item {
  width: inherit;
  padding-top: 5px;
  padding-left: 5px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  background-color: #f7f7f7;
}
.notification-Item:hover {
  background-color: #E9ECF5;
}
.notificationsOver {
  text-align: center;
  padding-top: 8px;
  margin-bottom: -10px;
}
.notificationType {
  font-size: 14px;
  font-weight: 300;
  font-color: #666;
}
.notificationBodyData {
  font-size: 14px;
  font-weight: 500;
  font-color: #666;
}
.notificationBodyTimeStamp {
  font-size: 12px;
  font-weight: 400;
  font-color: #666;
}
#account-dropdown-container {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: hidden;
  position: absolute;
  top: 32px;
  margin-left: 0;
  height: auto;
  width: 120px;
  z-index: 10000;
  display: none;
  
}
#account-dropdown-container:before {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 268px;
}
#accountDropdownBody {
  max-height: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height:auto;
  margin-top: 0;
  margin-right: 0 !important;
}
#accountDropdownBody p {
  padding-left: 7px;
}
#accountDropdownBody p:hover {
  background-color: #eee;
}
#accountDropdownBody .dynamicItems {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.activePElementForAccountDropdown {
  background-color: #eee;
}
.allNotifications-section .listView .list-content .allNotificationsNotificationType p:hover {
  text-decoration: underline !important;
}
.allNotifications-section .listView .customPrevNextBtnStyle {
  height: 27px;
  width: auto;
  margin-right: -5px; 
}
.allNotifications-section .listView .customPrevNextBtnStyle span {
  padding-right: 10px;
  padding-left: 10px;
}
.allNotifications-section .listView .listViewMonthTitle {
  font-size: 18px;
  color: #555;
  font-weight: 500;
}
.allNotifications-section .listView .btn-listview {
  float: left;
}
.allNotifications-section .listView  .title-listview {
  float: left;
  margin-left: 35%;
}
.allNotifications-section .listView .card {
  padding-top: 1%;
  padding-right: 3%;
  padding-bottom: 1%;
  padding-left: 3%;
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  min-height: 40px;
  height: auto;
  overflow: hidden;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  cursor: pointer;
}
.allNotifications-section .listView .card:hover {
  background-color: #E9ECF5 !important;
}
.allNotifications-section .noNotifications {
  margin-top: 10%;
  margin-left: 39%;
}
@media  (max-width: 767px) {
  #notificationContainer {
    width: 270px;
    margin-top: 30%;
    left: 200%;
    top: 0;
  }
  #notificationTitle {
    width: 318px;
  }
  .notification-Text {
    margin-left: 0;
  }
  #notificationFooter {
    font-size: 13px;
    margin-top: -10px;
  }
  .headerNotificationPointer {
    display: none;
  }
  .notification-Item {
    margin-left: -20px;
  }
  .allNotifications-section {
    padding-left: 5%;
    padding-right: 5%;
  }
  .allNotifications-section .noNotifications {
    margin-left: 30%;
  }
  .allNotifications-section .listView  .title-listview {
    margin-left: 20%;
  }
}
