.moreDatesModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999 !important; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.repeatDatesModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999 !important; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.repeatDatesModal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Modal Content/Box */
.moreDatesModal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Modal Header */
.moreDatesModal-header {
    padding: 10px 16px;
    background-color: #fff; /* Fallback color */
    color: white;
    border-bottom: 1px solid #e5e5e5;
}

/* Modal Body */
.moreDatesModal-body {
    padding: 10px 16px;
    border-bottom: 1px solid #e5e5e5;
}

/* Modal Footer */
.moreDatesModal-footer {
    padding: 10px 16px;
    background-color: #fff; /* Fallback color */
    color: white;
}

/* The Close Button */
.moreDatesModalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.moreDates-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 1.2rem;
}

.moreDatesModalClose:hover,
.moreDatesModalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.moreDates-close {
    margin-left: 80% !important;
    background-color: #e6e6e6 !important;
    color: #333 !important;
    text-transform: capitalize !important;
    border-radius: 8 !important;
}
.moreDates-close:hover,
.moreDates-close:focus {
    background-color: #aaa !important;
}
.moreDatesModal .moreDatesModal-content .moreDatesModal-body [type="radio"]:not(:checked),
.moreDatesModal .moreDatesModal-content .moreDatesModal-body [type="radio"]:checked {
    position: absolute;
    opacity: 0.9 !important;
    left: 90% !important;
}
.body-toursite .caret {
    border-color: transparent !important;
}

.bookingMobileNumber .select-wrapper .caret {
    display: none !important;
}

.bookingMobileNumber {
    padding-top: 19px !important;
}

.bookingMobileNumber .select2-selection {
   background: transparent !important;
   background-color: 
   opacity: 0.8 !important;
}

.body-toursite .selectRow {
    display : block;
    padding : 20px;
    margin-left: -25px;
}
.body-toursite .select2-container {
    width: 200px;
}

.body-toursite .select-dropdown {
    display: none !important;
}
.body-toursite .select-wrapper .caret {
    display: none !important;
}
.pricing-collection-item-css blockquote {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    font-size: 15px !important;
}
.pricing-divider-css .divider {
    margin-top: -20px !important;
}
.tourPreviewDetails .slider .slides li {
    opacity: 1 !important;
}
.fc-event{
    cursor: pointer;
}
.itinerary-list .list-group-item.active, .itinerary-list .list-group-item.active:hover, .itinerary-list .list-group-item.active:focus {
    text-shadow: none;
}
.product-booking-tab-filter-dropdown {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
#bookingCalendar td.fc-day.fc-past {
    background-color: #EEEEEE;
}


#bookingCalendar td {
    cursor: pointer;
}
#bookingCalendar .fc-row .fc-content-skeleton td, #bookingCalendar .fc-row .fc-helper-skeleton td {
    border-bottom: hidden;
}
.tour-Preview-Details-host ul li .collapsible-body {
    border-bottom: none !important;
}
.toursite .top-Panel-toursite .vendor-social .zmdi-facebook,
.toursite .top-Panel-toursite .vendor-social .zmdi-twitter,
.toursite .top-Panel-toursite .vendor-social .zmdi-instagram,
.toursite-footer .contact-info .vendor-social .zmdi-facebook,
.toursite-footer .contact-info .vendor-social .zmdi-twitter,
.toursite-footer .contact-info .vendor-social .zmdi-instagram,
.toursite .top-Panel-toursite .vendor-phone,
.toursite .top-Panel-toursite .vendor-email {
    color: #78909c !important;
}
.home_add_tour .tours_head_content .preview-button .btn-primary {
    text-shadow: none !important;
}
@media  (max-width: 767px) {
  .pricing-divider-css {
    padding-left: 0 !important;
  }
}