.gss .themeSelectedByHostColor { color : #FF3B15 !important;}
.gss .themeSelectedByHostBackgroundColor { background-color : #FF3B15 !important;}
.gss .themeSelectedByHostBorderColor::before { border: 2px solid #FF3B15 !important;}
.gss .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF3B15 !important;}
.hemhomestay .themeSelectedByHostColor { color : #FF0000 !important;}
.hemhomestay .themeSelectedByHostBackgroundColor { background-color : #FF0000 !important;}
.hemhomestay .themeSelectedByHostBorderColor::before { border: 2px solid #FF0000 !important;}
.hemhomestay .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF0000 !important;}
.adventureislife .themeSelectedByHostColor { color : #ff9800 !important;}
.adventureislife .themeSelectedByHostBackgroundColor { background-color : #ff9800 !important;}
.adventureislife .themeSelectedByHostBorderColor::before { border: 2px solid #ff9800 !important;}
.adventureislife .themeSelectedByHostBorderColorLeft { border-left: 2px solid #ff9800 !important;}
.outrider .themeSelectedByHostColor { color : #ff9800 !important;}
.outrider .themeSelectedByHostBackgroundColor { background-color : #ff9800 !important;}
.outrider .themeSelectedByHostBorderColor::before { border: 2px solid #ff9800 !important;}
.outrider .themeSelectedByHostBorderColorLeft { border-left: 2px solid #ff9800 !important;}
.anand .themeSelectedByHostColor { color : #ff9800 !important;}
.anand .themeSelectedByHostBackgroundColor { background-color : #ff9800 !important;}
.anand .themeSelectedByHostBorderColor::before { border: 2px solid #ff9800 !important;}
.anand .themeSelectedByHostBorderColorLeft { border-left: 2px solid #ff9800 !important;}
.fbtest .themeSelectedByHostColor { color : #ff9800 !important;}
.fbtest .themeSelectedByHostBackgroundColor { background-color : #ff9800 !important;}
.fbtest .themeSelectedByHostBorderColor::before { border: 2px solid #ff9800 !important;}
.fbtest .themeSelectedByHostBorderColorLeft { border-left: 2px solid #ff9800 !important;}
.demo .themeSelectedByHostColor { color : #ff9800 !important;}
.demo .themeSelectedByHostBackgroundColor { background-color : #ff9800 !important;}
.demo .themeSelectedByHostBorderColor::before { border: 2px solid #ff9800 !important;}
.demo .themeSelectedByHostBorderColorLeft { border-left: 2px solid #ff9800 !important;}
.facebooktest .themeSelectedByHostColor { color : #ff9800 !important;}
.facebooktest .themeSelectedByHostBackgroundColor { background-color : #ff9800 !important;}
.facebooktest .themeSelectedByHostBorderColor::before { border: 2px solid #ff9800 !important;}
.facebooktest .themeSelectedByHostBorderColorLeft { border-left: 2px solid #ff9800 !important;}
