.gss .themeSelectedByHostColor { color : #FF9800 !important;}
.gss .themeSelectedByHostBackgroundColor { background-color : #FF9800 !important;}
.gss .themeSelectedByHostBorderColor::before { border: 2px solid #FF9800 !important;}
.gss .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF9800 !important;}

.hemhomestay .themeSelectedByHostColor { color : #FF9800 !important;}
.hemhomestay .themeSelectedByHostBackgroundColor { background-color : #FF9800 !important;}
.hemhomestay .themeSelectedByHostBorderColor::before { border: 2px solid #FF9800 !important;}
.hemhomestay .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF9800 !important;}

.adventureislife .themeSelectedByHostColor { color : #FF9800 !important;}
.adventureislife .themeSelectedByHostBackgroundColor { background-color : #FF9800 !important;}
.adventureislife .themeSelectedByHostBorderColor::before { border: 2px solid #FF9800 !important;}
.adventureislife .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF9800 !important;}

.outrider .themeSelectedByHostColor { color : #397FFF !important;}
.outrider .themeSelectedByHostBackgroundColor { background-color : #397FFF !important;}
.outrider .themeSelectedByHostBorderColor::before { border: 2px solid #397FFF !important;}
.outrider .themeSelectedByHostBorderColorLeft { border-left: 2px solid #397FFF !important;}

.anand .themeSelectedByHostColor { color : #FF9800 !important;}
.anand .themeSelectedByHostBackgroundColor { background-color : #FF9800 !important;}
.anand .themeSelectedByHostBorderColor::before { border: 2px solid #FF9800 !important;}
.anand .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF9800 !important;}

.fbtest .themeSelectedByHostColor { color : #FF9800 !important;}
.fbtest .themeSelectedByHostBackgroundColor { background-color : #FF9800 !important;}
.fbtest .themeSelectedByHostBorderColor::before { border: 2px solid #FF9800 !important;}
.fbtest .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF9800 !important;}

.demo .themeSelectedByHostColor { color : #B3FFEB !important;}
.demo .themeSelectedByHostBackgroundColor { background-color : #B3FFEB !important;}
.demo .themeSelectedByHostBorderColor::before { border: 2px solid #B3FFEB !important;}
.demo .themeSelectedByHostBorderColorLeft { border-left: 2px solid #B3FFEB !important;}

.facebooktest .themeSelectedByHostColor { color : #FF9800 !important;}
.facebooktest .themeSelectedByHostBackgroundColor { background-color : #FF9800 !important;}
.facebooktest .themeSelectedByHostBorderColor::before { border: 2px solid #FF9800 !important;}
.facebooktest .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF9800 !important;}

.adventuregeek .themeSelectedByHostColor { color : #FF9800 !important;}
.adventuregeek .themeSelectedByHostBackgroundColor { background-color : #FF9800 !important;}
.adventuregeek .themeSelectedByHostBorderColor::before { border: 2px solid #FF9800 !important;}
.adventuregeek .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF9800 !important;}

.questadventures .themeSelectedByHostColor { color : #FF9800 !important;}
.questadventures .themeSelectedByHostBackgroundColor { background-color : #FF9800 !important;}
.questadventures .themeSelectedByHostBorderColor::before { border: 2px solid #FF9800 !important;}
.questadventures .themeSelectedByHostBorderColorLeft { border-left: 2px solid #FF9800 !important;}
